[2012-09-19 23:59] mgaunard opened #16 "Error message for recursive typing not user friendly"
When writing code where return type definition recurses, I get the following message

[code]

This is arguably not very user-friendly.

[2012-09-20 00:05] mgaunard opened #17 "Consider making code not require C++11"
I don't see any reason why pythran needs to target C++11.
First, decltype could be replaced with other things in C++03.

Second, I'm not even sure this is required at all, since things like

[code]

could be replaced by

[code]

(of course operators would have to be handled differently)

[2012-09-20 00:07] mgaunard opened #18 "Consider making generated functors compliant with the result_of protocol"
It would be nice if the generated function objects could by compliant with the result_of protocol so that they're directly usable to existing algorithms taking higher-order functions as arguments

[2012-09-20 00:23] mgaunard opened #19 "No error emitted for unknown identifiers"
No error is emitted by the generator when an unknown identifier (variable or function) is referenced.

[2012-09-20 08:37] #17 closed, assigned to nobody

[2012-09-20 12:45] #16 closed, assigned to serge-sans-paille

[2012-09-20 12:46] #18 closed, assigned to serge-sans-paille

[2012-10-16 19:08] #19 closed, assigned to serge-sans-paille

[2013-01-24 19:20] joker-eph opened #36 "setup.py should be able to check compiler C++11 support"
The C++11 features used in Pythran should be stated (?) and a test for the support of the feature be done at installation or when running setup.py test.

[2013-03-01 00:20] joker-eph opened #54 "Conception issue with ContextManager and multiple inheritance from Analysis and Transformation"
There is a multiple inheritance spaghetti around Analysis and Transformation. Both derive from ContextManager but not in the same order. As a matter of consequence super(ContextManager,self) does not resolve the same way. This seems... obscure to me, and the lack of doc/comment does no help to understand what is going on here (moreover you have to know precisely the python way of resolving inherit

[2013-03-11 15:27] #54 closed, assigned to nobody

[2013-03-18 20:28] Nagadum opened #60 "Tuple in Generator Expression -> Compilation fails"
When a generator expression uses tuples, compilation fails.

Example :

[code]

( The only purpose of x here is to prevents transformation into imap(...))

Simpler example (requires to desactivate the proper transformation)

[code]

Error message from gcc :

[code]

clang :

[code]

[2013-03-24 20:36] #60 closed, assigned to nobody

[2013-03-25 08:19] pbrunet opened #63 "aliasing issue"
using the following code, pythran is crashing on the AugAssign operator because of aliasing pass

[code]

[2013-03-25 08:42] #63 closed, assigned to nobody

[2013-04-07 13:19] pbrunet opened #67 "openmp linkage"
To enable openmp, we have to use -fopenmp flag. But if we use "import omp", the correct linkage should be done automaticaly instead of crashing

[2013-04-07 16:27] pbrunet opened #68 "gmp functions"
Some function doesn't work with gmp:
sum
min max
map
xrange et range
print list
chr
bin
cmp
all
any
hex
oct
pow
round
functions in module math
and may be some others.

It leads to Fail in test for 32bits architecture as pow(15,18) doesn't exist in a 32bits architecture.

[2013-04-11 08:37] pbrunet opened #70 "tuple of the same type can be iterat"
When we have a tuple and all its elements have the same types, they should be handle like a list to be iterate

exemple : http://pastebin.com/W5MxK2P9 in the test_tuple() function

[2013-04-11 08:39] pbrunet opened #71 "list of function"
It looks like we can have a list of function even if they have the same signature

exemple : http://pastebin.com/KS11fJcv in the test_funlist() function

[2013-04-11 20:45] #71 closed, assigned to serge-sans-paille

[2013-04-12 16:22] #70 closed, assigned to nobody

[2013-04-23 12:40] pbrunet opened #76 "lambda issue"
Here is a code that cause a segfault :

[code]

[2013-04-25 09:51] serge-sans-paille opened #77 "Default return not properly inserted"
When dealing with the following code

[code]

no `return None` is inserted at the end of the except branch, while it should...

[2013-04-26 11:10] #76 closed, assigned to serge-sans-paille

[2013-04-27 11:33] franckCJ opened #78 "Compilation error in translated code in rosetta fft"
This function test gives a compilation error. It seems that the error comes a conversion issue in pythonic++/core/list.h

[code]

[2013-04-30 22:19] joker-eph opened #81 "Validation portability"
Two issues, first I don't think you can add cflags/ldflags options to the test command line (either setup.py or py.test directly), and secondly since the check environment does more than a check but make a choice (boost_python-mt instead of boost_python) it means that the check HAS to take place.

The following diff shows the changes required to run the validation on OSX using a MacPort boost-pyth

[2013-04-30 23:24] joker-eph opened #82 "Unit Tests should be pep8 compliant"
One line tests are just unreadable and then unmaintable.

Just compare

[code]

with:

[code]

[2013-05-01 18:59] #82 closed, assigned to nobody

[2013-05-02 04:57] joker-eph opened #85 "Coding guidelines for pythonic++"
Are there any rules? Pythran has a nice PEP8 compliance rule but what about the C++ code?  I mean for instance you don't accept lines >78 char in Python but >160 is not a problem in C++ ?

[2013-05-04 16:07] pbrunet opened #89 "typing issue"
Here is a code which doesn't work:

[code]

return type of s_perm is list<empty_list> which is not correct.

It happen because new_items is a combine of something depending of test. Test is weak as it is not in self.current_global_declaration as it is recursif. It is add in this dict only after the generic_visit.
I tried to move the self.current_global_declaration assignment but It is not safe and

[2013-05-05 10:11] pbrunet opened #90 "typing in loop"
Hey,

Another issue in typing:

[code]

with this code, type of j is list<empty_list>
it should be list<int list>

this code compile fine but if you add another loop, it will not work

[code]

it is because new type of a (which is the type of b) is define after the second for loop

sorry ....

[2013-05-05 20:31] #89 closed, assigned to nobody

[2013-05-07 19:42] #90 closed, assigned to serge-sans-paille

[2013-05-23 20:25] #81 closed, assigned to nobody

[2013-05-24 21:47] joker-eph opened #93 "py.test output is a mess"
When the compilation of a unittest fails, the output is full of useless python stuff while the detailed error from gcc or clang is incomplete.

It would also be nice to save temporary files in this case along with the compile command used so that reproduction is trivial. Let's say that if gcc/clang compilation fails then an archive is produced containing the input python, the intermediate c++, and

[2013-06-01 08:11] joker-eph opened #100 "abs is not available for complex"
See:
- tests/cases/caxpy.py
- tests/cases/crotg.py
- tests/cases/gauss.py
- tests/cases/guerre.py
- tests/cases/pivot.py

caxpy.cpp:99:10: error: no matching function for call to object of type '**builtin**::proxy::abs'

[2013-06-01 19:51] #100 closed, assigned to nobody

[2013-06-01 21:00] joker-eph opened #101 "Type inference on return"
Is it allowed to have two return with different types? I think so, but it fails for tests/cases/pivot.cpp :

[code]

[2013-06-01 21:24] joker-eph opened #102 "Pythran doesn't generate c++ code (never ends)"
Pythran doesn't generate c++ code for tests/cases/blacksholes.py ; infinite loop somewhere?

[2013-06-05 20:05] joker-eph opened #103 "Compilation issue with rosetta/yin_and_yang.py (std::hash(int) and array inside)"
Add `#pythran export test()` in the file and try to compile it with `pythran yin_and_yang.py -v`

The output is:

[code]

[2013-06-08 19:32] thedrow opened #107 "Use annotations instead or with the current system to parse the function's signature"
Python 3.x has the [annotations](http://www.python.org/dev/peps/pep-3107/) feature.
If you can support it instead of comments for python 3.x it will make the code much more readable.

[2013-06-08 19:32] #103 closed, assigned to serge-sans-paille

[2013-06-10 19:21] pbrunet opened #112 "setup test"
now, test is running on pythonpath instead of ".". So it should test installation. I think python setup.py test should trigger python setup.py installation before (or reinstallation maybe to keep --prefix information for example)

[2013-06-10 20:13] #102 closed, assigned to nobody

[2013-07-10 09:16] yuancheng-p opened #122 "Passing shape as list instead of tuple to numpy.zeros fails"
e.g.

[code]

[2013-07-10 09:34] yuancheng-p opened #123 "Pythran do not support 32 bits machines"
The code didn't consider the data shape of numpy for local machines

[code]

[2013-07-11 12:49] #123 closed, assigned to nobody

[2013-07-11 14:54] #122 closed, assigned to nobody

[2013-07-13 18:14] #101 closed, assigned to nobody

[2013-07-14 11:04] yuancheng-p opened #127 "Numpy matrix assignment failed"
In my 32bits machine, suppose u and tempU are two matrix with the same shape:

[code]

At the moment, to avoid this problem:

[code]

[2013-07-15 20:22] pbrunet opened #129 "exception"
exception in c++ are not forwarded to python. Error message is missing and we only have "std::exception" as a message

[2013-07-23 09:50] #77 closed, assigned to nobody

[2013-07-31 09:16] yuancheng-p opened #135 "euler test cases fail to run"
These test cases pass the unittest because they are only compiled but not run.
If we run with the euler files, we can find that:
- euler26 cause infinite loop
- euler14, euler22, euler42, euler56 have segmentation faults
- euler53 has a floating point exception
- euler 55: python: pythran/pythran/pythonic++/core/string.h:55: pythonic::core::string_view::const_iterator pythonic::core::string_view::

[2013-07-31 19:27] serge-sans-paille opened #136 "gmp conversion allocation error"
according to valgrind

[code]

[2013-08-01 14:47] serge-sans-paille opened #137 "valgrind error in np.from_iter"
[code]

[2013-08-03 03:33] #137 closed, assigned to nobody

[2013-08-16 07:46] artas360 opened #142 "Passmanager doesn't return error when given a non existing analysis class."
pm.gather(foo, node) -> no error, no exception :(

[2013-08-16 12:38] yuancheng-p opened #143 "euler04 pythran can not calculate the correct result"
In euler04, the expected result is 906609, but with pythran it is 0.

[2013-09-11 14:05] #127 closed, assigned to nobody

[2013-09-11 14:06] #129 closed, assigned to nobody

[2013-10-08 07:50] TheFausap opened #155 "numpy.linalg"
Hello all,

i'm trying to use numpy.linalg functions with pythran but I receive an error : Attribute 'linalg' unknown.

How can I fix this ?

thanks,
Fausto

[2013-10-16 13:28] serge-sans-paille opened #161 "module intiialization is slow"
Depending on the use case, calling

[code]

even when not needed leads to a small performance loss

[2013-10-17 15:22] yuancheng-p opened #162 "Redundant space after print"
The print result form pythran is not the same as python.
Here is an example: a.py

[code]

Then call the foo(n) from a shell:

[code]

We expect '111' but will get '111 ' in the a.out

[2013-10-25 19:06] coyotte508 opened #168 "Nested functions in Locals analysis"
https://github.com/serge-sans-paille/pythran/blob/2704f7517605c6ee565a05f257fd5368b9e29c44/pythran/analysis.py#L253

Function names are added to locals only if there's no global function (or import, ...) with the same name.

However, this code: http://pastebin.com/bKcFaP9b shows that the nested function still shows in locals().

So, should the function name always be added to the locals in the ana

[2013-10-31 14:20] #135 closed, assigned to nobody

[2013-10-31 14:20] #143 closed, assigned to nobody

[2013-11-06 23:06] coyotte508 opened #175 "Compile error with hashes"
here's the error: http://pastebin.com/DNzti0pT

For that code:

[code]

Is my configuration wrong?

(I made sure to have serge's master fully merged and up to date)

[2013-11-09 14:04] #168 closed, assigned to nobody

[2013-11-10 18:24] #175 closed, assigned to nobody

[2014-01-03 09:57] #162 closed, assigned to nobody

[2014-01-26 20:52] joker-eph opened #192 "Style: writing "readable" types"
I encountered functions like:

[code]

1) I found tough to reverse-engineer the type system
2) the code is so small in the middle of huge types

I would rewrite something like this:

[code]

[2014-01-27 18:26] coyotte508 opened #196 "Pythran running on several modules in one execution?"
Is Pythran able to run itself on several python files? It seems weird to me, but it seems to happen.

I get this error when running the tests: http://pastebin.com/tQYHcgyk. It happens because I added the current module's name to the global `modules` variable. Then pythran tries to import all of that, so I make sure to test `module_name != current_module` when it does that, so as to not import itse

[2014-01-28 10:54] #196 closed, assigned to nobody

[2014-02-21 13:02] #161 closed, assigned to nobody

[2014-02-21 13:03] #142 closed, assigned to nobody

[2014-03-16 18:41] pbrunet opened #222 "OpenMP representation"
Hi,

I notice that OpenMP Node are not always handle by ast parsing/visiting.

If we use the code : pythran/tests/openmp.legacy/omp_parallel_if.py we can notice that UsedDefChain for control doesn't contains the control in the omp if clause.
It means that some transformation may not be correctly handled.

Also, we can notice that context for ast.Name in omp construct are not consistent.

if we hav

[2014-03-21 11:04] yuancheng2013 opened #224 "Pythran cannot compile when print numpy.array"
Compile error when printing arrays in some cases, this might

For example:
[code]

This is mainly due to temporary expressions generated in pythran.
To avoid this problem for the moment, we can print 2 times the same array.

[2014-04-05 09:04] pbrunet opened #231 "Type inference"
Pythran doesn't succeed type inference with rvalue as a parameter to nested function. (cf euler02.py)

[2014-04-05 21:04] serge-sans-paille opened #233 "Pythran fails to handle functions with large body"
Try to compile this:

[code]

with loop unrolling activated, and a larger INSTRUCTION_COUNT value. Type inference and alias analysis both lead to memory burst.

[2014-04-10 18:53] pbrunet opened #238 "segfault on nested list"
Has I am looking at some long code, I found a segfault.

The code is : pythran/tests/cases/matmul.py

The test case it : `python -c "import matmul; a=[ [ float(i) for i in xrange(600)] for j in xrange(400)]; matmul.matrix_multiply(a, a)`

It is really weird as : `python -c "import matmul; a=[ [ float(i) for i in xrange(600)] for j in xrange(600)]; matmul.matrix_multiply(a, a)` works.

[2014-04-11 08:24] joker-eph opened #239 "Failing test"
[code]

[code]

Clang++

[code]

[2014-04-11 08:35] joker-eph opened #240 "Aliases analysis crashes on attributes handling"
[code]

End of stack trace:

[code]

[2014-04-12 06:04] #240 closed, assigned to nobody

[2014-04-12 06:04] #239 closed, assigned to nobody

[2014-04-28 04:26] joker-eph opened #254 "Slowdown on numpy version of Nbody"
[code]

I get 170ms for Python and ~250 for Pythran
I would expect we would do great on that kind of code.
Interestingly the List version is working awesomely well:

[code]

The code to run:

[code]

The output:

[0.18200898170471191, 0.17236900329589844, 0.17337703704833984]
[1.8464510440826416, 1.8719279766082764, 1.8536970615386963]

With pythran:

[0.25267791748046875, 0.2569911479949951, 0.25

[2014-04-28 05:53] joker-eph opened #255 "Buggy unrolling of list comprehension"
Issue with redeclaring variables, it sounds like an issue with loop unrolling:

[code]

Compiler output:

[code]

cpp:

[code]

[2014-05-12 16:47] pbrunet opened #262 "long test time"
Some values for tests need more than 1 sec to exec. It is too long for testing and should be fixed.

[2014-07-14 05:56] serge-sans-paille opened #273 "Forward substituion and loop"
This does not forward substitutes:

[code]

looks like a bug?

[2014-07-15 15:39] serge-sans-paille opened #274 "Generate Native module compatible with Python3"
It would be nice if the native modules generated by pythran, although written in Python2.7, could be imported from python3!

[2014-07-16 11:06] artas360 opened #276 "Pythran fails to detect bad numpy.array declaration/typing"
Hi,

If the numpy array `numpy.array([9., 1e-10, 1.1, 0., 1])` is declared with the type `numpy.array([[float]])` no error is raised.
The error silently propagates giving things like `array.shape == (5, 8)`.

A small error message would be nice :)

[2014-07-18 18:56] joker-eph opened #278 "Validation: use GCC when successful with clang"
Right now PR are validate with clang only. We could detect failure earlier (clang does not support OpenMP for instance) by compiling with GCC the PR when the validation pass with clang.

[2014-07-18 22:05] #276 closed, assigned to nobody

[2014-07-31 07:08] pbrunet opened #287 "module aliasing"
Module aliasing is not possible for now :

[code]

It because math is modules['math'] instead of an intrinsic so aliasing is not possible
submodule have the same issue.

[2014-08-01 08:15] pbrunet opened #288 "builtin typing"
To have return type of a function, we use :

[code]

We know that typing is a hard step for C++ backend compiler and these nested template are certainly costly for compilation time.
May be we can add return typing information in pythran.tables.modules so that we can use this return type directly.
Sometime, it is not possible as return type depend on arguments. In this case, we can ignore these fun

[2014-08-01 08:22] #273 closed, assigned to pbrunet

[2014-08-06 13:46] pbrunet opened #292 "pow2 no requiered"
The pow2 optimisation turn `std::pow(a, 2)` in `a * a`
It use a function call but it is what is done.
It is not requiered for numpy_expr as this way, `a` will be evaluated twice (which may be costly)

An overload for the tempalte pow2 function will solve this issue but as pow2 is a builtin and we avoid mixing builtin and numpy. Where should we do that?

[2014-08-18 17:18] #292 closed, assigned to nobody

[2014-08-19 07:21] pbrunet opened #294 "coverage"
Test coverage is possible. Is it possible to have the result for the master branch?

[2014-08-28 17:51] nbecker opened #297 "tests missing from 0.5.0?"
Newb here.  I grabbed the 0.5.0 release tarball.  The tests directory is missing?

[2014-08-28 18:00] nbecker opened #298 "tests don't run on fedora 20"
Tried installing all deps on fedora 20.  Including pytest and python-pytest-pep8.  Cloned pythran from git.  But now I get (and this doesn't give much of a hint what's wrong):

python setup.py test
running test
usage: setup.py [options] [file_or_dir] [file_or_dir] [...]
setup.py: error: unrecognized arguments: -n

[2014-08-28 18:07] #297 closed, assigned to nobody

[2014-08-28 20:48] #298 closed, assigned to nobody

[2014-08-29 08:21] #255 closed, assigned to nobody

[2014-08-29 08:24] #112 closed, assigned to nobody

[2014-08-29 08:28] #67 closed, assigned to pbrunet

[2014-08-30 00:09] jcrmatos opened #300 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe3 in position 22: ordinal not in range(128)"
Hello,

I'm trying to install Pythran, but it returns the following error:
...
File "C:\Python27\lib\site-packages\pip\basecommand.py", line 161, in main
  text = '\n'.join(complete_log)
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe3 in position 22: ordinal
not in range(128)

Any ideas?

Before that it shows this:
...
Installing collected packages: pythran
  Running setup.py install for

[2014-08-30 08:45] pbrunet opened #302 "slice interface"
Sliced array can not be use at pythran function interface.

[2014-08-30 08:47] pbrunet opened #303 "pow"
pow function doesn't work with numpy:

[code]

[2014-08-30 15:36] pbrunet opened #306 "timeout"
While I am looking t pytest behavior, I found : https://pypi.python.org/pypi/pytest-timeout
What about using it?

--- It adds a dependency
+++ It will avoid Jenkins blocking.

[2014-08-31 02:56] #303 closed, assigned to nobody

[2014-08-31 18:23] #300 closed, assigned to nobody

[2014-09-05 12:47] nbecker opened #309 "isinstance not supported?"
mag_sqr.py --------------------------------

[code]

---

pythran mag_sqr.py
CRITICAL I am in trouble. Your input file does not seem to match Pythran's constraints...
E: identifier isinstance unknown, either because it is an unsupported intrinsic, the input code is faulty, or... pythran is buggy. (line 4)

[2014-09-05 12:59] nbecker opened #310 "compile failure: isinstance not supported"
[code]

---

/tmp/tmpVJcDTS.cpp:39:183: error: no matching function for call to  getattr(pythonic::types::ndarray<double, 1ul>)
       typedef decltype(pythonic::**builtin**::getattrpythonic::types::attr::REAL(std::declval<typename std::remove_cv<typename std::remove_reference<argument_type0>::type>::type>())) __type0;

[2014-09-21 21:24] serge-sans-paille opened #320 "ndarray operation do not use memmove/memcpy"
`std::copy` is specialized to use `memmove` under some conditions, that are not met by pythran's ndarray.

I have a patch under test, but better keep a reference here!

[2014-09-21 21:34] #278 closed, assigned to nobody

[2014-09-23 08:56] pbrunet opened #321 "abs vs np.abs"
These 2 functions should have the same behavior but np.abs is the only one working on numpy array.

[2014-10-02 01:45] pbrunet opened #324 "OpenMP improvement for copy/memcopy/memmove"
issue #320 show a possible improvement. It is done for sequential code but it could be done for OpenMP par using static scheduling and chunk size.

[2014-10-02 01:47] pbrunet opened #325 "Pattern detection"
Some pattern are unordered (set and Dict for exemple). They are checked using permuation from itertools but it is an exponential measurment. It could be done using backtracking to improvement performance.

Be careful about code like :
`{1:2, 3:2} => {AST_or(1, 3): 2, 3:2}`
In this case, you may check : OK 3:2 match but 3:2 != 1:2.

[2014-10-02 01:48] pbrunet opened #326 "bdist support"
bdist try to share object file while it is compiler dependant for Pythran. A .so file should be shared instead to avoid mixing compilers.

[2014-10-07 14:07] serge-sans-paille opened #328 "Improve around implementation"
The implementation of numpy.around could be improved when the default parameter is used, in order to avoid spurious computations.

[2014-10-12 17:30] pbrunet opened #331 "__buitlin__ vs __builtins__"
It looks like **builtins** is **builtin** but is imported bu default. It should be better to use it.

[2014-10-15 17:17] serge-sans-paille opened #337 "tuple -> std::array"
Pythran already treats tuple as std::array when all fields have the same type; It should be done at the python_to_pythran level too.

[2014-10-19 08:08] serge-sans-paille opened #338 "np.copy and memcpy"
numpy.copy should be specialized to use memcpy when its argument is an ndarray and not an expression

[2014-10-20 20:11] pbrunet opened #339 "boolean combiner"
Combiner for boolean is uncorrect in Pythran (look at test_env type checking)

[2014-11-08 14:48] serge-sans-paille opened #348 "Support numpy.random"
most of the `numpy.random` routines are fairly easy to implement, and have a counterpart in `<random>`

[2014-11-08 14:51] #328 closed, assigned to nobody

[2014-11-08 16:03] serge-sans-paille opened #350 "Support installation through conda"
conda http://conda.pydata.org/docs/intro.html
is more and more used for non - developper scientific users. It would be nice to be able to install pythran through conda!

[2014-11-09 21:39] serge-sans-paille opened #351 "Explore the use of rsqrt"
nt2 provides a rsqrt (for reciprocal square root) function, and it would be easy to spot and rewrite this pattern, if any gain.

[2014-11-10 20:01] serge-sans-paille opened #354 "Extend ASTPattern to support substitution"
ASTPattern, contributed by @pbrunet , does a great job at matching tree expressions. It would be great to have it support capturing patterns to provide a `re.sub` -like method.

[2014-11-16 21:31] pbrunet opened #361 "Do not evaluate list on numpy_expr"
We perform a list to array conversion when list is use in a numpy_expr.
It could be avoid implementing some extra field like : shape, fast, ...

Once it is done, we could try to forward np.copy to np.asarray to avoid extra copy.

[2014-11-16 21:36] pbrunet opened #362 "code coverage"
Pythran have a basical support for test coverage but I guess nobody use it. It could be more interesting to integrate it with https://coveralls.zendesk.com/hc/en-us (which is working with travis).

[2014-11-19 15:39] pbrunet opened #365 "functools.partial vs nested function"
Context is not saved the same way for both.

[code]

output:
17
18
17
17

[2014-12-03 21:40] serge-sans-paille opened #368 "i386 support"
Numpy -related code does not compile on 32 bits platforms...

[2014-12-11 14:24] nbecker opened #369 "error: wrong number of template arguments (1, should be 2)"
[code]

[2014-12-11 14:52] nbecker opened #370 "trouble with np.empty_like with dtype"
[code]

[2014-12-11 15:17] nbecker opened #371 "compiles, but segfaults with additional strided overload"
---- clip.py

[code]

----- test_clip.py

[code]

[2014-12-14 13:05] #369 closed, assigned to nobody

[2014-12-16 07:56] #371 closed, assigned to nobody

[2014-12-16 13:32] nbecker opened #376 "Fails to compile (with lots of errors)"
[code]

[2014-12-17 22:14] #370 closed, assigned to nobody

[2015-01-01 09:52] #376 closed

[2015-01-07 15:02] nbecker opened #382 "timings of 4 simple functions implementation"
This is a benchmark of a simple function (clip) written in 4 ways:
1. numpy / c++ (my limit function is written in c++)
2. pythran without vector
3. pythran with vector (but using slicing)
4. c++

1.
[code]

2,
[code]

3.
[code]

4.
c++ using ndarray library from ndarray.googlecode.com

timings are:

python test_clip.py
numpy
2.94420599937
pythran non-vector
0.991260051727
pythran vector
1.7135360

[2015-01-07 15:26] pbrunet commented on #382
Can you precise your inputs size?

[2015-01-07 15:30] nbecker commented on #382
Here is test program:
[code]

[2015-01-07 15:30] pbrunet commented on #382
Also, can you change `out[mask2] = x[mask2] / np.abs(x[mask2])` by `out[mask2] = np.sign(x[mask2])` ?

[2015-01-07 15:32] nbecker commented on #382
That's not the same thing when x is complex, is it?

On Wed, Jan 7, 2015 at 10:30 AM, pbrunet <notifications@github.com> wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2015-01-07 15:47] pbrunet commented on #382
You are right. Sorry I didn't look at the typing information.
For now, I don't know why we don't perform as good as the C++ version but thanks you for the feedback.

Did you use special compilation flags for the C++ version? Optimisation? OpenMP? autovectorization?

[2015-01-07 15:52] nbecker commented on #382
This is the compile command (the amcl part probably does nothing)

g++ -o limit.os -c -g -DBOOST_DISABLE_THREADS -O3 -march=native
-ftree-vectorize -fstrict-aliasing -ffast-math -DNDEBUG
-DBOOST_DISABLE_ASSERTS -std=c++1y -Wall -Wno-unused-local-typedefs
-std=c++1y -fPIC -DHAVE_UNURAN=1 -DHAVE_CONSTRAINED=1
-DHAVE_TWISTER_SERIALIZATION=0 -I. -I/usr/local/src/ndarray/include
-I/usr/include -I/usr/i

[2015-01-07 15:52] nbecker commented on #382
g++ --version
g++ (GCC) 4.9.2 20141101 (Red Hat 4.9.2-1)

On Wed, Jan 7, 2015 at 10:47 AM, pbrunet <notifications@github.com> wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2015-01-07 16:38] nbecker commented on #382
results persist when I compile pythran code using same options:
pythran -v -O3 -march=native -ftree-vectorize -fstrict-aliasing -ffast-math
clip.py
pythran -v -O3 -march=native -ftree-vectorize -fstrict-aliasing -ffast-math
clip2.py

python test_clip.py
numpy
2.94298911095
pythran non-vector
0.988628864288
pythran vector
1.74669694901
c++
0.410514116287

On Wed, Jan 7, 2015 at 10:52 AM, Neal Becke

[2015-01-07 16:43] joker-eph commented on #382
Can you try removing fast-math and vectorize for GCC?

[2015-01-07 16:46] nbecker commented on #382
python test_clip.py
numpy
2.87930011749
pythran non-vector
0.987450122833
pythran vector
1.73527002335
c++
0.831676959991

But why did pythran not improve when I added these flags to it?

On Wed, Jan 7, 2015 at 11:43 AM, Mehdi Amini <notifications@github.com>
wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2015-01-07 16:52] joker-eph commented on #382
Did you check which of fast-math or vectorize brought the boost? (can be the two together only)

Pythran does not improve because the generated C++ code can't be vectorized by gcc (I haven't looked into details why). But at least it gives some informations on where to look.

[2015-01-07 16:59] nbecker commented on #382
seems -ffast-math is what makes it 2x faster (0.41s)
 -ftree-vectorize has little effect (0.83s)

On Wed, Jan 7, 2015 at 11:53 AM, Mehdi Amini <notifications@github.com>
wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2015-01-07 17:11] joker-eph commented on #382
Note that fast-math is wrong for any respectable numerical code anyway :)

[2015-01-08 11:49] serge-sans-paille commented on #382
On Wed, Jan 07, 2015 at 07:02:37AM -0800, ndbecker wrote:

Thanks a lot neal for your input benchmark! I had a quick look, it
appears the masked expressions are not very efficient in pythran (but
still better than numpy, as shown by your bench).

I rewrote your numpy expression as the following:

def limit (x, epsilon=1e-6):
    # note the use of where here
    return np.where( np.abs(x) < epsilon

[2015-01-08 12:05] pbrunet commented on #382
I exactly see what you mean :-)
I didn't do the modification because np.where is a trinary_expr so it could be really more generic than just improving np.where. For example numpy.clip could be see as a  trinary_expr too with 2 of its arguments which will be scalar.
We can add to this list at least : around (binary), angle(binary) and isclose (Quatrary_expr?)

I may try to have a look at this (it i

[2015-01-20 08:16] pbrunet opened #385 "merge of builtins information"
For range analysis, we add a range_value argument to intrinsics. We could merge it with the return_type at least for bool because we known the return range is (0, 1) in this case.

It will required to handle the return_type argument for functions.

[2015-01-27 17:04] serge-sans-paille commented on #368
#378 fixed the issue :-)

[2015-01-27 17:04] #368 closed

[2015-02-04 07:31] serge-sans-paille opened #386 "faster pythran_to_python for numpy_texpr"
It appears that this conversion implies a rewrite while a simple flag change could be sometimes used.

[2015-02-16 15:32] pauldesc opened #393 "Apriori_Segmentation_Fault"
Segmentation fault with this script:

#pythran export frequent_itemsets(str list list)
import itertools
def frequent_itemsets(sentences):
    # Counts sets with Apriori algorithm.
    SUPP_THRESHOLD = 100
    supps = []

    supp = {}
    for sentence in sentences:
        for key in sentence:
            if key in supp:
                supp[key] += 1
            else:
                supp[key] =

[2015-02-16 15:57] serge-sans-paille commented on #393
Bug spotted in ``itertools.combinations`` when the second parameter is larger or equal to the first parameter size. I'm on it.

[2015-02-20 22:19] serge-sans-paille commented on #393
Fixed in 9b32420, let's wait it's validated and merged!

[2015-03-17 06:41] serge-sans-paille opened #401 "nan assignment creates an infinite loop"
As reported by Leopold Haimberger, the following snippet creates an infinite loop:

[code]

[2015-03-17 07:03] serge-sans-paille commented on #401
There's a bug in the optimization loop that goes wild...
The issue is in constant folding, because ``numpy.nan`` is folded into ``numpy.nan`` and the test comparison to check if we updated the AST compares NaN vs. NaN for equaltiy, which always yields False... So the AST is always updated and optimized.

[2015-03-18 09:23] lisqlql opened #403 "Extra need of PYTHONPATH"
Hi,

It seems that `PYTHONPATH` **must** be passed to `pythran` when compiling some `.py` file.

Here is a little example:

## foo.py
[code]
- - -

## bar.py
[code]
- - -

Here is how you normally use `pythran` (without any options):
[code]

Here is the [output](http://pastebin.com/cHpxanYa).

And now, here is a workaround to make it work:
[code]

[2015-03-18 09:31] #401 closed

[2015-03-18 10:33] lisqlql opened #404 "Better tracking of modules when an error occurs"
Hi,

When `pythran` find an error in an imported module, the output is not very 'complete' and there is no information about which module contains the error.

## foo.py
[code]
- - -

## bar.py
[code]
- - -

## baz.py
[code]
- - -

Here is the output when running `pythran foo.py`:

[code]

This is a simple case, so it is easy to track the error by yourself, but when you have much more modules, it c

[2015-03-18 12:37] serge-sans-paille commented on #404
Bug #404 : page not found

[2015-03-18 12:49] #393 closed

[2015-03-19 21:41] leohaim opened #409 "c++ error with conversion to integer"
Using latest anaconda python, latest boost, latest pythran and
latest clang, the following code snippet causes a compile error:

import numpy

# pythran export bug(float[])
def bug(x):

        ints=numpy.zeros(5,'int')
        ints[0]=int(numpy.floor(x))

        return ints

#print bug(2.1)

The error is as follows:

%pythran bug.py

CRITICAL Leave the vessel! Women and children first!
C++ compi

[2015-03-20 06:29] serge-sans-paille commented on #409
Thanks for the bug report---I can reproduce the error, it is due to the ``__builtin__.int`` function not being overloaded for ``numpy.ndarray``.

[2015-03-20 06:31] serge-sans-paille commented on #409
(as a side note, calling ``numpy.zeros`` with a dtype given as a string is not supported, you must use ``numpy.zeros(10, numpy.int)`` instead.)

[2015-03-20 06:39] serge-sans-paille commented on #409
There's also a typo in your code, as you're assigning a ``ndarray`` to an ``int``. So the code I used for the bugfix is

[code]

does that match your needs? (it turns out the ``_builtin__.int`` function does not support conversion of ndarray in Python either)

[2015-03-20 07:16] leohaim commented on #409
Hi Serge,

yes, if this works it will fit my needs,
thanks.

After gaining some experience with pythran, I can say it produces fast
code as expected.
For convenience of development, I have two suggestions that  would help
me a lot if implemented:
- one should be able import self-generated pythran modules in pythran
(see also issue Extra need of PYTHONPATH #403)
I could not get that working. If it

[2015-03-20 07:41] pbrunet commented on #409
Hi leohaim,

Thanks for these feedback.
About #403, this issue is validating before being merged in the master branch but as you say, we do not support Pythran module imported in another Pythran module. I think there are few reasons for this:
1) As it is compiled, with module `a` loading module `b` and module `c` loading module `b`, if you update `b` for something in `a`, it has some risk to break

[2015-03-24 14:21] pbrunet commented on #403
Fixed with #406

[2015-03-24 14:21] #403 closed

[2015-03-25 12:30] pbrunet opened #411 "argument copy"
Some function use by_value argument passing while they should not.

Look at : **builtin**.dict.iterkeys and **builtin**.dict.iteritems

[2015-03-25 12:31] pbrunet opened #412 "tuple VS array"
**builtin**.dict.items() return list of tuple while it could be list of types::array.

[2015-03-25 12:34] #404 closed

[2015-03-25 12:37] pbrunet commented on #412
It is the same with popitem.

[2015-03-25 12:38] pbrunet commented on #411
Same with popitem

[2015-03-25 13:34] pbrunet opened #413 "setdefault return value"
It looks like setdefault return a "copy" of the contained element instead of a reference on it. Shared_ptr make it works but it may be costly.

[2015-03-25 16:44] pbrunet commented on #412
And same for enumerate

[2015-03-26 11:59] pbrunet commented on #412
Same for map

[2015-03-26 12:59] pbrunet opened #414 "min and max factorization"
Most min/max function share a lot of code and could be handled using a std::less std::greater template parameter.

example: builtin.max and builtin.min

[2015-03-26 12:59] pbrunet opened #415 "print_nonl"
It looks like there is a function with that name which is not used

[2015-03-26 19:23] pbrunet opened #416 "slow mode"
Python check every information it received and properly raise an exception in case of problem.
We can't do it in Pythran as it may trigger a terrible overhead. (Checking value for every subscript will to much) But it could be greate to have a "slow mode" that is doing this. It could make debug really easier.

[2015-03-26 20:19] #409 closed

[2015-03-26 20:20] leohaim commented on #409
Thanks! I will try asap.

Leo

Am 26.03.2015 um 21:19 schrieb pbrunet:

--
Ao. Prof. Dr. Leopold Haimberger
Department of Meteorology and Geophysics
Althanstrasse 14 1090 Wien
AUSTRIA
Tel. +43 1 4277 53712
Mobile: +43 664 260 5378
Fax +43 1 4277 9537
www: http://imgw.univie.ac.at/

[2015-03-27 17:48] pbrunet opened #418 "tuple sum"
tuple_sum in pythonic/include/**builtin**/sum.hpp should merge tuple types instead of taking the first one:

[code]

with a = (1, 3.3, 4)

[2015-03-27 18:07] pbrunet opened #419 "xrange"
There is a revert iterator for xrange. It looks to be a big code duplication as it is a normal xrange_iterator with negative step...

[2015-03-27 22:09] pbrunet commented on #412
And for zip

[2015-03-27 22:16] pbrunet opened #420 "is_integer"
is_integer use modf. Cast may be faster than this.

[2015-03-27 22:21] pbrunet opened #421 "list append"
There is an emplace_back function that could be use for this case to avoid a copy.

[2015-03-28 10:08] pbrunet opened #422 "list insert"
We could use emplace instead of insert for rvalue.

[2015-04-02 07:21] pbrunet opened #424 "dict and unordered_map"
dict use as a container boost::unordered_map. Why do we use this instead of the std implementation? Or just std::map?

[2015-04-02 08:28] serge-sans-paille commented on #424
On Thu, Apr 02, 2015 at 12:21:58AM -0700, pbrunet wrote:

I've benchmarked the implementations and boost's is faster on the
problem I benchmarked.

[2015-04-05 19:39] serge-sans-paille opened #425 "slice composition"
Some slice composition are not well tested or correct.

More annoying, some cannot be supported using current scheme, as in a[::-2][::-3], as it cannot be folded to a single slice.

[2015-04-07 06:05] pbrunet commented on #425
:-s you are right. We may wonder if merging slices for gexpr is a good solution as it can't be generalized?

[2015-04-08 11:51] pbrunet opened #427 "None type as input type"
We do not support None type as inputs for exported function:
[code]

[2015-04-08 13:11] pbrunet opened #428 "None step to have continuous slice"
None step are not concidere as a continuous slice.
The reason is that we check for None instead of `__builtin__.None`.

[2015-04-08 13:31] serge-sans-paille commented on #428
The second part of your statement seems incorrect to me:

[code]

[2015-04-08 13:54] pbrunet commented on #428
Fixed

[2015-04-14 15:27] nbecker opened #430 "clip2.py no longer compiles"
This test I think used to compile, but I just rebuilt pythran with latest git, and now I get compile
errors:

[code]

[2015-04-14 16:05] pbrunet commented on #430
Thanks for the report. It should be fixed with #431

[2015-04-17 12:39] nbecker opened #433 "clip.py 1/2 speed of c++ code"
I've updated to today's git and ran benchmark of clip.py vs. c++ code.  I got:
numpy << using numpy
2.81051397324
pythran non-vector << this is clip.py
0.938794851303
pythran vector << this is a different pythran version using masks (ignore for now)
1.63022494316
c++ << c++ version
0.424335002899

clip.py:
[code]
c++ version (inner part of code)
[code]

both compiled with -march=native -O3 -ffast-

[2015-04-17 13:29] pbrunet commented on #433
Hi neal,

I tried to use this implementation:
[code]
I think it compute exactly the same thing.

You may notice that we have a bug to be fix with abs so we have to use np.abs in this case.

With this version, I have
python -m timeit "import numpy; a = numpy.arange(100000, dtype=complex); import test2" "test2.clip(a, 50000)"
100 loops, best of 3: 2.12 msec per loop

While with your version, I have:

[2015-04-17 13:40] nbecker commented on #433
with your version for pythran vector:
[code]

I get:

numpy
2.94457507133
pythran non-vector
0.938816070557
pythran vector
1.0420460701
c++
0.424599885941

I'm testing with length 10^6 vector (contiguous) input

What is 'with SIMD'?

[2015-04-17 13:41] pbrunet opened #434 "itertools.count"
This function is not test as a for loop iterable (I think the begin function doesn't work...)

[2015-04-17 13:50] pbrunet commented on #433
It is an experimental feature in pythran to use AVX and SSE vectors for computation (thanks to boost.simd). It can be enable with -DUSE_BOST_SIMD but np.where is marked as not vectorizable so I think it is the reason why it doesn't work.

For openmp, you just have to add the -fopenmp flags on the commande line.

for you c++ code, I guess you are using a raw array?
[code]
(I try to understand if th

[2015-04-17 13:57] jfalcou commented on #433
Le 17-04-2015 15:50, pbrunet a écrit :

is np.where basicaly cond ? a : b   ?

If yes, boost::simd provides it as simd::if_else(cond,a,b);

[2015-04-17 15:04] pbrunet commented on #433
It is exactly this pattern. I can't fix it for now but thanks for the tip jfalcou

[2015-04-17 15:50] nbecker commented on #433
[code]

This is using the ndarray library from https://github.com/ndarray/ndarray and boost::python

[2015-04-20 10:33] pbrunet opened #438 "math and cmath should use nt2"
For now, they use the std library. nt2 should be better for this.

[2015-04-20 12:34] jfalcou commented on #438
depends in scalar but the SIMD version should be better no matter what.
Beware of typing in the argument though.

[2015-04-20 12:49] gouarin opened #439 "Error in broadcast_copy"
This simple code doesn't compile

#pythran export f2m(float64[][], float64[][])
def f2m(f, m):
	m[:, 0] =  f[:, 0]

[2015-04-23 16:22] nekopep opened #443 "Issue (and solutions) under OSX with Macports"
To make pythran (0.7) work under OSX with macports I need to tune some parts:
First to install boots:
sudo port install boost +python27

By default macport use clang as default compiler and boost and all dependant libs are compiled for clang.

You have to specifiy where to find libboost_python-mt.dylib.

edit ~/.pythranrc:
[user]
cxx=clang++
ldflags= -I/opt/local/include -L/opt/local/lib

be sure

[2015-05-08 10:20] elyase commented on #350
+1

[2015-05-26 09:14] pbrunet commented on #439
This one have been fixed

[2015-05-26 09:14] #439 closed

[2015-05-26 09:15] pbrunet commented on #430
Fixed

[2015-05-26 09:15] #430 closed

[2015-05-26 09:16] pbrunet opened #454 "numpy.tolist as pythran input"
Sometime an error is raise when using it (Invalide instruction). Especially with test_dot5 and test_dot7.

[2015-05-26 21:43] hainm commented on #350
@serge-sans-paille is there any progress with conda stuff? I had very hard time to install `pythran` from github or from pip. (pythran could not install `nt2` lib)

Hai

[2015-05-27 05:50] pbrunet commented on #350
It works for me with : `conda install -c https://conda.binstar.org/serge-sans-paille pythran`

I am not very familiar with conda but this looks to work for me.

[2015-05-27 09:20] hainm commented on #350
@pbrunet

Hi,

I was able to install from `binstar` but still can not make `pythran` works. I got this kind of error
(tried `Basic Usage` from README file in `pythran`)

`fatal error: gmpxx.h: No such file or directory
 #include <gmpxx.h>`

And do you know why do we need to install more than 300 MB of `gcc_49-4.9.1`? It took really long time to download.

Hai

[2015-05-27 12:13] serge-sans-paille commented on #350
hi Hai,
the download of gcc_49 is here to make sure you have a recent compiler. The one bundled by conda by default (4.8) is far too old to support C++11 feature used by pythran.

Concerning gmp, that's not that much of a trouble, you can run ``conda install gmp`` that should install the dependencies.

Note that conda support for pythran is still in alpha stage, I'm very grateful you help to debug

[2015-05-27 20:02] hainm commented on #350
Hi @serge-sans-paille

I was able to pull `gmp` by `conda` but still getting the same error.

Below is the full error.

[code]
Hai

[2015-05-28 06:05] pbrunet commented on #350
can you show yours CPATH, C_INCLUDE_PATH and CPLUS_INCLUDE_PATH?

I don't know if conda set this variables for the current env. I hope it does...

Can you also show : `ls /mnt/raidc2/haichit/anaconda3/envs/python2/include`?

[2015-05-28 07:20] serge-sans-paille commented on #350
@pbrunet : I have the fix : gmp is not compiled with C++ support in conda. Additionnaly, the paths are not set properly by conda. I'll push an updated pythran version on conda with a customized pythranrc to fix this.

[2015-05-28 07:32] hainm commented on #350
@pbrunet

I don't know if conda set this variables for the current env. I hope it does...

all are "None"

`ls` (Note: I had to remove `gcc_49-4.9.1` from my machine to avoid conflict with compiling another package. don't know why).
[code]

@serge-sans-paille it's really great if you can fix and buzz me when done this. thanks. I've heard you guys' talk from youtube https://www.youtube.com/watch?v=

[2015-05-28 11:51] serge-sans-paille commented on #350
I guess this should work better now (custom gmp compilation + install gcc as gcc-4.9 to avoid conflicts + specialization of the pythran ressource file)

let me now if the following works:

[code]

Glad you appreciated the talk, don't give up with the install, your help is *very* appreciated here ;-)

[2015-05-28 11:55] elyase commented on #350
can you also upload a package for osx-64?

[2015-05-28 12:00] serge-sans-paille commented on #350
That's slightly more difficult, as I don't have a running OSX machine at hand, I'll try through a VM, but not today!

[2015-05-28 12:02] elyase commented on #350
ok thanks, please tell me if I can help in some way.

[2015-05-28 12:06] hainm commented on #350
@serge-sans-paille

still dont work. I got this error here

[code]

I manually replace `g++-4.9` to `g++` and was able to compile python code by `pythran` in above step. However, I still don't know how to get the ".so" file.

Hai

[2015-05-28 12:12] hainm commented on #350
and it's likely that `pythran` currently support only PY2?

[code]
(this is output from conda)

[2015-05-28 12:23] hainm commented on #350
tried with another machine and got another error with openmp

[code]

[2015-05-28 12:46] serge-sans-paille commented on #350
On Thu, May 28, 2015 at 05:12:44AM -0700, Hai Nguyen wrote:

It's not likely, it's 100% sure :-)

[2015-05-28 12:46] serge-sans-paille commented on #350
On Thu, May 28, 2015 at 05:06:40AM -0700, Hai Nguyen wrote:

From the log, you did not desinstall gcc_49, did you ?
try desinstalling and reinstalling it, your error means the last version
of gcc_49 did not get installed correctly, as it should have install
gcc-4.9...

[2015-05-28 12:46] serge-sans-paille commented on #350
Can you run this one with -v?

[2015-05-28 12:47] serge-sans-paille commented on #350
@hainm concerning the openmap failure, it's a good sign : it means the gcc-4.9 compiler installed correctly. but it seems the OpenMP lookup is looking into the standard library path instead of anaconda's, I'll investigate.

[2015-05-28 13:06] serge-sans-paille commented on #350
But I'm still interested on the -v output for the openmp case.

[2015-05-28 13:54] coyotte508 opened #455 "implement numpy.squeeze"

[2015-05-28 13:54] coyotte508 opened #456 "implement numpy.random.binomial"

[2015-05-28 14:14] serge-sans-paille commented on #455
Unfortunately, that's impossible in pythran, as the number of dimension is part of the type in pythran, and squeeze changes it dynamically.

[2015-05-28 14:15] serge-sans-paille commented on #456
@artas360 do you plan to do this any soon?

[2015-05-28 19:41] hainm commented on #350
@serge-sans-paille I installed gcc_49 correctly (you can tell from conda log). The problem is in my machine and conda evn, `g++` is `g++-4.9). This is output with `-v` option for `missing g++4.9` case

[code]

Note: this is g++4.9.1 version

[code]

[2015-05-28 19:44] hainm commented on #350
Per `-v` option for `openmp fail` case, there is no new message since `pythran` stop right after error `undefined symbol: omp_in_final`

Hai

[2015-05-28 20:38] serge-sans-paille commented on #350
And you have this error even if you run:

1. conda uninstall gcc_49
2. conda install -c https://conda.binstar.org/serge-sans-paille gcc_49

?

[2015-05-28 20:47] hainm commented on #350
@serge-sans-paille: yes, I just copied and pasted yours

Hai

[2015-05-29 08:47] serge-sans-paille commented on #350
@hainm I uploaded a new compiler version, can you try

[code]
?

[2015-05-29 08:48] coyotte508 opened #457 "implement numpy.matrix, numpy.mat"

[2015-05-29 08:56] coyotte508 commented on #455
What about creating a new type for a squeezed array that would behave dynamically?

[2015-05-29 09:31] pbrunet commented on #455
This could be a solution but IMO it is too expensive for us.
Looking at the numpy module, most implementation rely on the depth parameter for every array like.
It means that we should provide a new implementation without this information for every function so pythran code will be too big for serge and me.
The other solution could be to change the array like implementation to not have this paramete

[2015-05-29 09:33] hainm commented on #350
@serge-sans-paille  congrats. You make it work. :P :+1:  thanks.

Hai

[2015-05-29 09:36] serge-sans-paille commented on #350
On Fri, May 29, 2015 at 02:33:51AM -0700, Hai Nguyen wrote:

\o/

The openMP stuff is working too?

[2015-05-29 09:38] hainm commented on #350
ah, still don't work.

[code]
(this machine is quite old. Not sure what happen).

[2015-05-29 09:39] serge-sans-paille commented on #455
Theoretically, arrays could have a dynamic number of dimensions. If I
remember correctly how it's done in nt2, they have a large number of
fixed dimensions, and then dynamically manage the real dimension, that
needs to be lwoer than the fixed one.

We don't have the time / will to go that far ;-) But maybe coyott wants
to screw his PhD and do it ;-)

[2015-05-29 09:40] serge-sans-paille commented on #350
if you run this command on your own, what's the output. Also, can you share your input python file ?

[2015-05-29 09:43] hainm commented on #350
1. run my own

[code]

2. input python file (from READM.md in `pythran`)
[code]

[2015-05-29 09:45] hainm commented on #350
another problem. For the machine worked with `dprod.py` file, I tried `euler52.py` file but got this error

[code]

[2015-05-29 09:47] serge-sans-paille commented on #350
ok, so it's the same issue in both cases : linking to the wrong libstdc++. i'll check how to change this in conda.

[2015-05-29 09:51] hainm commented on #350
@serge-sans-paille I have another question: Is `pythran` c/c++ generated-code is portable like Cython one? with cythonized files, I just need to ship them with my package and don't worry about install anything else (even don't need to install cython). I think this is big deal with Cython that I decide to use (vs numba).

Hai

[2015-05-29 09:57] serge-sans-paille commented on #350
@hainm no that much, because we depend on a set of headers bundled with pythran, so pythran needs to be installed, as well as boos_python, gmp and the likes.

But you definitively got a point, we should think of a way to improve that part.

[2015-05-29 10:01] hainm commented on #350
I see. thanks.

Hai

[2015-05-29 11:08] coyotte508 commented on #455
Well... ^^

Too bad for this.

[2015-05-29 11:08] #455 closed

[2015-05-29 15:20] serge-sans-paille commented on #350
@hainm just to be sure, what is the output of
[code]

on your system?

[2015-05-29 21:57] hainm commented on #350
[code]

[2015-05-29 23:21] hainm commented on #350
ack, playing with `pythran` with new gcc_49 broke all of my other programs. For example, I got

"ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.20' not found" even not using `pythran`.

[2015-05-30 07:50] serge-sans-paille commented on #350
@hainm your system looks quite old. What distrib / version are you running?

[2015-05-30 07:58] hainm commented on #350
1st machine (we just built this, so I guess it's new? :D)
[code]

2nd machine (yes, it's quite old)
[code]

[2015-05-31 21:19] serge-sans-paille commented on #350
@hainm I have uploaded a new gcc_49 version linked against a rather old glibc. that should do the trick:

[code]

will update your env.

/me cross fingers

[2015-05-31 23:20] hainm commented on #350
@serge-sans-paille still no luck. :D

at least we got NEW error.
[code]

[2015-06-01 07:53] serge-sans-paille commented on #350
mmmh kinda strange, your system should have this header. on debian it's installed with the libc6-dev...

[2015-06-01 07:58] hainm commented on #350
you meant there is no faith between me and `pythran`? :P

[2015-06-01 07:59] serge-sans-paille commented on #350
I still have a few cards to play :-). Can you just tell me the state on your ubuntu first ? Let's solve the easy part first !

[2015-06-01 08:01] hainm commented on #350
what do you mean about `state`? I think I posted ubuntu info before. It's great if you just give a command to copy and paste.

Hai

[2015-06-01 08:04] serge-sans-paille commented on #350
Does the last version of gcc_49 works on the ubuntu ?
I thought It failed on CentOS, I can't remember if it works on ubuntu

[2015-06-01 08:08] hainm commented on #350
`work` = `able to compile a c++ file`?
yes
[code]

[2015-06-01 08:11] serge-sans-paille commented on #350
work = able to compile with pythran.
Or the errors above are for ubuntu?

[2015-06-01 08:14] hainm commented on #350
@serge-sans-paille: I posted a successful compiled `.so` file with `pythan` 3 days ago. Can you grep `dprod.py`.

Hai

[2015-06-01 08:17] serge-sans-paille commented on #350
yes, I just want to be sure it still works with the updated gcc.

[2015-06-01 08:18] hainm commented on #350
No, same error "/usr/include/features.h:374:25: fatal error: sys/cdefs.h: No such file or directory"

[2015-06-01 08:25] hainm commented on #350
additionally, switching to your pythran env with gcc_49 make everything very weird. Such as my ipython shell does not display color anymore. (it's fine if I change `env`)

[2015-06-01 17:18] serge-sans-paille commented on #350
@hainm please tell me

``conda install -c serge-sans-paille pythran``

is now working, at least on the ubuntu!

[2015-06-01 17:29] hainm commented on #350
@serge-sans-paille
still got error (was able to compile to `.so` file though)
[code]

[2015-06-01 17:41] hainm commented on #350
I tried to delete old `env` and create a fresh one for testing `pythran` but still got the same error.

Hai

[2015-06-01 18:51] serge-sans-paille commented on #350
That's an improvement. it's linking to the bad libstdc++, but you should have one in /path/to/anaconda/lib64, try to run

[code]
 where ``/path/to/anaconda/lib64`` is the directory in your current env where libstdc++.so lies.

[2015-06-01 19:40] hainm commented on #350
@serge-sans-paille yes, it works well. cool. thanks.

[code]

However, the command you gave seem not right. I got
[code]

So I change the order a bit (weird :P)
```pythran score_text.py  -Wl,-rpath ~/anaconda3/envs/pythran_python2/lib64/ ```

this one worked. I am able to import `*.so` file.

(still got warning:  `g++-4.9: warning: /mnt/raidc2/haichit/anaconda3/envs/pythran_python2/lib64/: linker

[2015-06-01 19:42] serge-sans-paille commented on #350
yipee \o/
I'll try to upload a pythran build with the right linker option added to the configuration and bump you when it's up!

[2015-06-01 19:46] hainm commented on #350
great.

H

[2015-06-01 19:58] serge-sans-paille commented on #350
@hainm running

[code]

should be enough, no longer need to manually add the rpath. The warning should be gone too.

Am I correct?

[2015-06-01 20:07] hainm commented on #350
yes sir.

[2015-06-01 20:14] serge-sans-paille commented on #350
that's super great! Thanks a lot for helping us and giving me the motivation to go on with this :-)

Still not closing the bug because @elyase is waiting for OSX support :-)

[2015-06-01 20:20] hainm commented on #350
no problem. I think making super easy installation is the first important step to persuade people to try `pythran`. :p

Anyway, I will open another issue to discuss (ask) about your future plan? and how `pythran` can "survive` versus cython or numba. :P

[2015-06-01 20:38] hainm opened #458 "pythran vs cython vs numba vs nukia ..."
hi,

I've read several conference papers relating to `pythran` but still need to ask few questions. It's great if `pythran` developers could discuss.

Before knowing `pythran`, I only really paid attention to `cython` and `numba`. I chose `cython` over `numba` because cython is very portable. I just need to include c++ cythonized files to [my package](https://github.com/pytraj/pytraj) without both

[2015-06-01 20:46] hainm commented on #350
@serge-sans-paille  think about support py3? look at the test code, I still see `xrange` (definitely not in PY3).

[2015-06-02 06:10] pbrunet commented on #350
py3 is a really often asked feature. For now, we do not support it and we will not in a near future because even the ast changed so it will required huge modifications in the code which will make it incompatible with py2.7. With only two developers, we can't maintain both version of Pythran for now.
I think we will consider it when there will have more py3 user than py2 users.

[2015-06-02 06:36] pbrunet commented on #458
Hi hainm,

I can't answer to all of your questions but serge will do it for me.

1) How `pythran` can survive among many other compilers?
I think we have 3 mains asset for this.
- good speed up which is what is required most of the time when someone is looking for a python compiler
- backward compatibility. So that users can test Pythran almost for free (it is not free, they have to install pythra

[2015-06-02 10:07] elyase commented on #350
Just as an additional datapoint I also use py3.

[2015-06-02 14:41] hainm commented on #350
it's fair enough.

[2015-06-02 15:07] hainm commented on #458
Can you elaborate this? I don't quite understand about 'free' part.

I think support calling c++ is great deal since there are so many c++ lib out there. python compilers can make faster but still within c++ speed. :P Among all compilers, I think `Cython` does really great job on this. My `pytraj` packge is Python-binding to existing c++ lib so it's very natural to use cython ins this project.

Ag

[2015-06-02 22:37] hainm opened #460 "complied with `np.zeros` for matmulpy test"
hi,
I tried `matmul.py` in `tests/cases/` folder and changed `list` to numpy array for two matrices. However, the `zeros` matrix will cause compiling error if using `numpy.zeros`; it's fine if using `list list`

Working code
[code]

NOT working code: using `np.zeros`

Hai

[2015-06-02 22:38] hainm commented on #460
Error
[code]

[2015-06-03 06:21] pbrunet commented on #458
When I say that users can try Pythran for free I mean they doesn't need to really change their codes. It is a pure Python input and they doesn't need an extra effort to remove Pythran support if they don't like it.  (Not like Cython for example)

About c++ class I though it was possible to do it with ctypes but as mentionned in many stasckoverflow issue, it is not possible because of mangling name

[2015-06-03 06:37] pbrunet commented on #460
Hi,

This is a partially expected behavior.
Your error is normal because the `numpy.zeros` type for the first argument is "int or sequences of ints".
It means you should have a tuple value.

You should have better returned information but it will be part of the work to be done in the next year.

BTW, the error with CPython is :
[code]

[2015-06-03 06:42] hainm commented on #458
I agree. +1 (vs `Cython`, `numba`).

per 'ctypes', I think it only support C but not C++ class (or may be too complicated?) ?

It's great that `cython` allow to mix python and c++ everywhere. Whenever you need C++ vector (just for example), just declare it and use it. It's very straight forward.

For example, I just mixed C++ vector iterator + cython memoryview + python method in single function h

[2015-06-03 06:53] hainm commented on #460
ah, sorry for the wrong syntax with numpy. should be
[code]

[2015-06-03 07:05] pbrunet commented on #460
Ok, In this case, you will certainly have an error too as we do not support "string dtype" for now. You should use `numpy.float` or `numpy.float32` here.

[2015-06-03 08:14] fsteinmetz opened #461 "Support passing functions to pythran functions"
It would be nice to be able to pass function (ideally, pythranized functions) to pythran functions.
This would allow accelerate optimization functions (see http://docs.scipy.org/doc/scipy/reference/optimize.html for examples).

[2015-06-03 10:05] serge-sans-paille commented on #460
On Wed, Jun 03, 2015 at 12:05:29AM -0700, pbrunet wrote:

@pbrunet : we could develop a pass that recognizes this particular
construct and turn it into a typed one. At least if the litteral is used
in the argument (after forward substitution and constant propagation).

[2015-06-03 10:16] serge-sans-paille commented on #461
thanks @fsteinmetz for the bug report / feature request!

Just so you know, calling a pythran function as a function parameter of a python function should work nice.

Calling a pythran function as parameter of a pythran function from a pythranized module should work too.

What does not work now is taking a Python function as parameter of a pythran function.

I wonder what kind of signature would b

[2015-06-03 12:45] hainm commented on #460
@pbrunet thanks. with np.float, I can compile now.

Hai

[2015-06-03 14:40] fsteinmetz commented on #461
Thanks for your answer, Serge.

Now I realize that if you have a module foo where you "from bar import bar", pythranizing foo will also pythranize function bar (or not ?). So actually I think it's perfectly fine for my use case: the function to be minimized would be defined in foo, and passed as argument to the minimization function bar. Looks good!

In the case you are referring to,

the python f

[2015-06-04 05:41] serge-sans-paille commented on #461
On Wed, Jun 03, 2015 at 07:40:26AM -0700, François Steinmetz wrote:

That's correct, although that's not the most tested feature of Pythran.
report bug if any!

Calling Python function would implie a back-to-the-interpreter mode, indeed. I'm not 100% sure that would be great, there are also potential problems of threading / exceptions etc in that case :-)

[2015-06-04 07:40] serge-sans-paille commented on #461
For all the above reason, I'm closing the issue :-)

[2015-06-04 07:40] #461 closed

[2015-06-05 16:09] hainm commented on #460
I think problem is solved now. I should go ahead closing this issue.

[2015-06-05 16:09] #460 closed

[2015-06-15 12:47] artas360 commented on #456
I ll get to it, sorry I missed the mail...

[2015-06-24 19:33] decabyte opened #467 "Runtime detection of optimized module"
Hi all,

I was wondering if it will be possible to detect at runtime if the imported module is the native python version or instead the "compiled" one using pythran.

This is a nice to have in production system as well as during development stages. The rationale is detecting at runtime if the current system is running or not with the support of the optimized version of your code.

Currently this i

[2015-06-29 04:50] artas360 commented on #456
@coyotte508 the implementation has been pushed. Can you check if it's what you expected?

[2015-07-10 05:29] #458 closed

[2015-07-23 08:37] serge-sans-paille commented on #467
+1 for providing a ``__pythran__`` global variable that holds the sha1 and a few flags. The ``--check`` flag looks like something to be ``implemented`` outside of pythran though.

[2015-07-23 09:18] serge-sans-paille commented on #467
Does

[code]

looks like a good scenario to you?

[2015-07-24 09:01] serge-sans-paille commented on #467
#468 implements this!

[2015-07-24 09:03] decabyte commented on #467
Hello Serge,

that looks very good. ;)

V.

--
Valerio De Carolis - http://decabyte.it

[2015-08-04 15:20] serge-sans-paille opened #471 "Add --version flag to pythran"
so that user can now which version of pythran they are using.

Reported by F. Oble

[2015-08-08 05:31] artas360 commented on #456
@serge-sans-paille can you close this issue?

[2015-08-09 21:50] #456 closed

[2015-08-24 07:59] serge-sans-paille opened #473 "failing print"
the following snippet fails to compile:

[code]

[2015-08-24 13:12] serge-sans-paille commented on #473
Got it, the stream operator was declared in the wrong namespace, fix coming soon.

[2015-08-25 06:28] Suor opened #475 "Compile crashes on ndarray.all().all()"
Here is my python file:
[code]
And here is what I get:
[code]

[2015-08-25 07:28] serge-sans-paille commented on #475
I can reproduce the issue with master branch, seems related to a missing specialisation of ``numpy.all``

[2015-08-25 07:33] serge-sans-paille commented on #475
Confirmed :-) ``numpy.all`` was not defined for a scalar input. I'll check similar functions before committing the fix!

[2015-08-26 07:49] #473 closed

[2015-08-28 07:32] #467 closed

[2015-08-28 07:41] serge-sans-paille commented on #224
This has been fixed a long time ago. The attached code snippet works like a charm on master, I'm closing this BR.

[2015-08-28 07:41] #224 closed

[2015-08-28 07:43] serge-sans-paille commented on #85
This has been fixed in ccfb3fbea2baa1837c7cfb3cfc3393c97de9a67d

Using clang-format and its default style.

[2015-08-28 07:43] #85 closed

[2015-08-28 07:47] serge-sans-paille commented on #321
The following snippet:
[code]

works like a charm since 2de7ece1772eaf83366806c9d53563f309d903d7

[2015-08-28 07:47] #321 closed

[2015-09-05 18:17] #457 closed

[2015-09-18 08:06] fsteinmetz opened #481 "Allow to print numpy's ndarray.dtype"
pythran fails compiling this:
[code]

[2015-09-21 09:08] serge-sans-paille commented on #481
ok, that's typically not a killer feature, but that may proves to be useful to debug pythran generated code!

[2015-09-21 15:51] hainm opened #483 "python3.5 typehint"
since python3.5 has type hint, is this a good idea to support it in future (to avoid write pythran directive)?

https://www.python.org/dev/peps/pep-0484/

[2015-09-23 15:30] serge-sans-paille commented on #483
I would say yes, but python3 support is *really* a huge task, because it changes the inputs of pythran, the semantic of some buitlins and thus some of our optimizations... And we cannot drop python2 support because it's still used a lot in the scientific community.

[2015-09-23 15:52] hainm commented on #483
Agree.

I think python developers made wrong decision when back-porting python 3's features to py2.

Hopefully people move to py3 since it is much better.

Hai

[2015-09-23 16:19] #483 closed

[2015-10-10 08:03] hainm opened #488 "pythran conda: why must I upgrade to py3.5?"
I am not sure if this is conda issue or your build issue.

[code]

[code]

[2015-10-10 08:21] serge-sans-paille commented on #488
mmmh, there is not a single mention of python3.5 in pythran's conda recipe...

[2015-10-10 08:23] hainm commented on #488
so I guess this is conda issue. I once build a package that specify building all python version but conda only build py3.5. Not sure how to fix this for pythran.

[2015-10-10 08:50] serge-sans-paille commented on #488
I am not specifying to build only python2.7 version. that may be the
issue, I'll check this.

[2015-10-10 09:36] serge-sans-paille commented on #488
@hainm I uploaded a new revision that explicitly states python2.7. please tell me if that solves your issue!

[2015-10-10 09:45] hainm commented on #488
I think not yet

[code]

Use `conda install -c serge-sans-paille pythran`

[2015-10-10 14:43] serge-sans-paille commented on #488
I get

[code]

so the problem does not seem related to pythran, as far as I understand...

[2015-10-10 18:16] hainm commented on #488
yes, seems to be conda problem.

[2015-10-10 18:29] serge-sans-paille commented on #488
ok, I'll close the ticket

[2015-10-10 18:29] #488 closed

[2015-10-10 22:43] hainm opened #489 "AttributeError: Distribution instance has no attribute 'exclude_package_data'"
[code]

any idea how to fix this? just trying to `python setup.py install`

[2015-10-11 08:01] serge-sans-paille commented on #489
I need more info to reproduce : is this a raw install of anaconda?
which version of pythran are you using? (from the git? which SHA1?)

Thanks for the exhaustive testing, you're really helping us to build
better software :-)

[2015-10-11 08:08] hainm commented on #489
What do you mean `raw install`? I created python2.7 environment for testing pythran (I am using py3)

$ which python
/mnt/raidc2/haichit/anaconda3/envs/py2/bin/python

[code]

then `python ./setup.py install`, I got above error.

better software :-)

No problem, I am just curious.

[2015-10-11 08:10] hainm commented on #489
oops, this is the last commit

[code]

[2015-10-11 14:08] pbrunet commented on #489
I can't reproduce it here.

I suspect that some setuptools version ask for the `exclude_package_data`.
Can you test it with the branch : "setuptools_pkgdata"?

2015-10-11 10:10 GMT+02:00 Hai Nguyen <notifications@github.com>:

[2015-10-11 18:25] hainm commented on #489
@pbrunet

here is the full error after I checked out that branch

[code]

[2015-10-11 20:24] pbrunet commented on #489
It looks to be a problem with setuptools as it raise a lot of warning for
unknown attributs. Can you check your setuptools versions?

Here :
`python -c "import setuptools; print setuptools.__version__"`
18.2

2015-10-11 20:25 GMT+02:00 Hai Nguyen <notifications@github.com>:

[2015-10-12 03:47] hainm commented on #489
oh, not sure why my version is 0.6 (although I use conda to update it).

[code]

Just tried to use `pip` to install 18.2 version. No error any more but got one with NT2. Will try install new one and report later.

Can you add version requirement for pythran?

[2015-10-12 04:04] hainm commented on #488
@serge-sans-paille

I have a trick to make the installation easier for this case.

+ first, use conda to install cmake, gcc, boost, ... from your channel. I got trouble installing pythran from source before since I did not have correct (most updated) versions for those.

+ git clone your pythran and `python setup.py install`

It's still better than using `sudo-apt`.

[2015-10-12 04:12] hainm opened #491 "boost/python/docstring_options.hpp: No such file or directory"
so I was able to install pythran from source, using the cmake and boost from your channel.

Try pythran and got above error.

[code]

[2015-10-12 04:13] hainm commented on #491
by the way? can you add your conda build recipe somewhere so I can have look at it?

[2015-10-12 04:15] hainm commented on #491
My boost does exist

`anaconda3/envs/py2/include/boost/python/docstring_options.hpp`

[2015-10-12 04:22] hainm commented on #491
ok, problem solved by
`pythran ln.py -I  /mnt/raidc2/haichit/anaconda3/envs/py2/include/`

I thought pythran would automatically include this as default?

[2015-10-12 10:09] serge-sans-paille commented on #491
We never tested pythran integration with anaconda3. I'll add this conda recipe (available here https://github.com/serge-sans-paille/conda-recipes/tree/pythran-support/pythran btw)

[2015-10-12 10:11] serge-sans-paille commented on #491
to do so I need to understand : the `envs/py2` directory is something you created or it's a default behavior of anaconda ?

[2015-10-12 10:12] hainm commented on #491
it's created from `conda create -n py2 python=2.7 ....`

[2015-10-12 10:22] hainm commented on #491
I think you can use `sys.path` to add the include file.

[2015-10-12 12:16] hainm commented on #488
and when building pythran, did you use

`conda build --python=2.7 pythran`?

[2015-10-12 13:31] serge-sans-paille commented on #488
On Mon, Oct 12, 2015 at 05:16:30AM -0700, Hai Nguyen wrote:

no, just conda build pythran. I'll try with the flag

[2015-10-12 13:39] hainm commented on #488
so I guess that's why conda bumped to py3.5 in my machine.

[2015-10-12 13:51] serge-sans-paille commented on #491
On Sun, Oct 11, 2015 at 09:22:54PM -0700, Hai Nguyen wrote:

I uploaded a new version created with the switch you proposed, if this
still is not enough, you can just add the following lines to your
~/.pythranrc:

[compiler]
include_dirs=/mnt/raidc2/haichit/anaconda3/envs/py2/include/

[2015-10-12 14:04] hainm commented on #491
work for me now. thanks.
[code]

[2015-11-10 20:39] serge-sans-paille commented on #491
I'm closing the issue then. PR #499 should make the install easier, no more boost dependencies \o/

[2015-11-10 20:39] #491 closed

[2015-11-11 01:25] hainm opened #500 "insert function's signature?"
from matmut.py example

[code]

vs python's pure mode

[code]

what do you think? (Cython insert the signature a while ago).

[2015-11-12 08:35] serge-sans-paille commented on #500
That's seem reasonnable; `Will do'' ;-)

[2015-11-12 09:42] serge-sans-paille commented on #481
I'm on it!

[2015-11-16 09:07] pkoch opened #501 "Code example in README should use a more common code style"
Hello!

It took me quite a while to realize the code under the README's "Basic Usage" section was, in fact, Python.

Why is it written in such an esoteric style? Any reason to not make it PEP8 compliant?

Cheers!

[2015-11-16 09:47] serge-sans-paille commented on #501
Hi and thanks for the report. there is indeed an indentation issue, but I have the feeling there is more than this. The actual code written in a PEP8 style is:

[code]

Does that sounds ok to you? Feel free to propose a PR on ``pythran/README.rst`` or discuss it here.

Maybe you though something more numpy-centric would be a better example?

[2015-11-16 19:26] pbrunet commented on #501
I think it is about the PEP257 included in the PEP8 (but not checked with
the pep8 command).
It required `"""` to delimitate comment instead of `'''` and for a one
sentence comment, it should be on one line only and finish with a `.`.

Is it what you expected.

[code]

2015-11-16 10:47 GMT+01:00 serge-sans-paille <notifications@github.com>:

[2015-11-17 02:37] pkoch commented on #501
It's what pbrunet put here, except the docstrings' contents should not be surrounded by spaces.

Happy to open a PR if you feel it's adequate and we've agreed on what to change to.

[2015-11-17 06:45] serge-sans-paille commented on #501
Agreed, let's open a PR :-)

[2015-11-19 21:42] pkoch commented on #501
#504 is in. Thanks, guys! :)

[2015-11-19 21:42] #501 closed

[2015-11-24 18:54] #481 closed

[2015-11-24 21:28] serge-sans-paille commented on #500
@hainm just to be sure, when you mean signature, you mean ``foo(x,y)`` or ``foo(float64[], float64[])`` ?

[2015-11-24 21:43] hainm commented on #500
I meant `foo(x, y)`, but `foo(float64[], float64[])` will be much better (good to have type hint-like)

[2015-11-25 21:53] serge-sans-paille commented on #500
Should be fixed in #506

[2015-11-25 21:57] serge-sans-paille commented on #475
Oooops^{TM} Fixed in 7ffbbc0f5d9d7359efc2a4e7cca61896598834ea but I forgot to tell you.

[2015-11-25 21:57] #475 closed

[2015-11-26 00:58] hainm commented on #350
need to export LD_LIBRARY_PATH correctly. ack.

[2015-11-28 08:29] serge-sans-paille commented on #500
Fixed by 4b43f5daca6af64c2e8d2e1e57ae2a3ec11d8001

[2015-11-28 08:29] #500 closed

[2015-11-29 09:24] serge-sans-paille commented on #489
@hainm : the only solution I see is something like adding :+1:

[code]

Does that seem suitable to you?

[2015-11-29 17:20] hainm commented on #489
Yeah

Hai

[2015-11-29 18:34] serge-sans-paille commented on #489
@hainm can you check #508 correctly detects your issue?

[2015-11-29 21:38] hainm commented on #489
Hi

Since I got the error, I upgraded my setuptools, not sure how to test it. Downgrade?

Hai

[2015-11-29 23:03] hainm commented on #489
anyway, I just downgraded to setuptools 10.0 and got

[code]

plus after upgrading setuptools, I did not get error in my 1st post.

[2015-11-29 23:03] #489 closed

[2015-12-02 19:17] serge-sans-paille opened #509 "Support multiline pythran export"
Something like:

[code]

[2015-12-03 15:21] nbecker opened #510 "lms.py compile failure"
[code]

gives a compile failure

I tried update pythran (via git pull) and python setup.py install.

[2015-12-03 15:23] nbecker commented on #510
I see now, the issue is the last parameter, alpha, should be float[].

Better diagnostics would be welcome :)

[2015-12-03 22:25] serge-sans-paille commented on #509
see #511

[2015-12-03 22:26] serge-sans-paille commented on #510
@nbecker good news, that's in the roadmap for the forthcoming 6 months :-)

[2015-12-03 22:26] #510 closed

[2015-12-13 21:20] serge-sans-paille commented on #471
Should be fixed by #513

[2015-12-13 21:21] #509 closed

[2015-12-15 10:02] serge-sans-paille commented on #471
Fixed by 6687d9d06f3eb4781c5a93e2faf4dddfd88b75c3

[2015-12-15 10:02] #471 closed

[2016-02-04 00:15] thoth291 opened #526 "Pythran results are different from Python ones"
I'm doing a benchmark of this code
[code]
found here: https://pybenchmarks.org/u64q/program.php?test=spectralnorm&lang=nuitka&id=3

And getting a strange results:
In [19]: spectralnorm.main()
1.042641308
In [20]: spectralnorm.main()
1.042641425

The expected answer is:
main()
1.274224125

So the results of pythran not just wrong but also changing from one run to another.
I use the latest available

[2016-02-04 06:40] serge-sans-paille commented on #526
Hi thoth291. At first glance, that's a pythran bug. I'll investigate and tell you more :-)

[2016-02-04 13:29] serge-sans-paille commented on #526
got it, your code relies on a kind of broadcasting not supported by pythran. I got a patched version that run x3 times faster when compiled with pythran, keep in touch :-)

[2016-02-04 14:16] thoth291 commented on #526
Hi, Serge.

Thank you very much for this!
BTW, you might be interested in that benchmark list at that website.
The reason that I started looking into it is a project which I'll not name here but it's ending with "ka".

My friends from Intel pointed me to it due to the fact that I suggested them to support Pythran in their Intel Python distribution. If you want to convince them I suggest you to get

[2016-02-04 19:51] serge-sans-paille commented on #526
Your code runs correctly with the following implementation that performs the broadcasting manually (at some point pythran should support it, but that's far from easy :-/)

[code]

You need to wait for #527 to be merged though.

[2016-02-04 19:52] serge-sans-paille commented on #526
Last time I checked, icpc support for C++11 was not enough to compile pythran. Your advices are good and I'll check again. If everything is working fine, I'll keep you in touch :-)

[2016-02-04 21:54] thoth291 commented on #526
Thanks, Serge.

I see that.
I tried your source code and that failed with my pythran (messages attached).
[fails.txt](https://github.com/serge-sans-paille/pythran/files/118283/fails.txt)

[2016-02-05 06:50] serge-sans-paille commented on #526
That's expected ;-)

[2016-02-06 11:19] LuisBL opened #528 "support tuple of int as dict keys ?"
support tuple of int as dict keys ?

Perhaps I'm not using pythran correctly I describe the issue here:

http://stackoverflow.com/questions/35240168/pythran-export-dict-with-tuples-as-key

[2016-02-06 21:15] serge-sans-paille commented on #528
I answered on stackoverflow, but basically, it seems to me the issue is not related to the tuple of int dict, which works fine.

[2016-02-06 22:07] serge-sans-paille commented on #528
#529 improves the error reporting in your case!

[2016-02-07 01:51] LuisBL commented on #528
The tuples of int for dict work very well, I fix it with a dedicated ccomplie.py for pythran functions.

[2016-02-07 01:51] #528 closed

[2016-02-07 01:55] LuisBL opened #530 "import pythran module in a python packages with PythranExtension"
With a setup.py like this
    ext_modules=[PythranExtension("ccompile", ["ccompile.py"])],

the `python setup.py install` succed to compile but put the ccompile.so in the site-packages/proj-egg/ directly so we can't import it from the proj package without manualy moving it

Details on  http://stackoverflow.com/q/35248795/3313834

[2016-02-07 07:32] LuisBL commented on #530
The projet snipet if that can help.

    proj
    ├── ccompile.py
    ├── Makefile
    ├── proj
    │   ├── __init__.py
    │   └── lib.py
    └── setup.py

[proj.zip](https://github.com/serge-sans-paille/pythran/files/120619/proj.zip)

[2016-02-07 10:35] serge-sans-paille commented on #530
This helps a lot. I have a solution that requires the following layout:

[code]

which looks nicer to me. Any thought?

[2016-02-07 11:10] LuisBL commented on #530
yes this is the "normal" way to do it, but it does not work with pythran it gave the traceback I expose on  http://stackoverflow.com/q/35248795/3313834

[2016-02-07 11:34] LuisBL commented on #530
If on the other hand we keep the same `ext_modules` line in setup.py:

    proj$ grep ccom setup.py
          ext_modules=[PythranExtension("ccompile", ["ccompile.py"])],

With ccompile.py in the proj module:

    (lab)luis@spinoza:~/lab/sandbox/proj$ tree .
    .
    ├── Makefile
    ├── proj
    │   ├── ccompile.py
    │   ├── __init__.py
    │   └── lib.py
    └── setup.py

We get this tracebac

[2016-02-07 12:13] serge-sans-paille commented on #530
On Sun, Feb 07, 2016 at 03:10:12AM -0800, Luis wrote:

You'll have A PR with the fix soon ;-)

[2016-02-07 16:24] LuisBL commented on #530
:)

For the `from distutils.extension import Extension`
The doc is here : https://docs.python.org/2/distutils/examples.html#single-extension-module
and the code : https://bitbucket.org/pypa/setuptools/src
setuptools/dist.py

Let me know if I can help/test something.

[2016-02-07 16:53] serge-sans-paille commented on #530
@LuisBL can you confirm #531 fixes the issue?

[2016-02-07 19:01] LuisBL commented on #530
Just tested on a big project
It's working like a charm !

[2016-02-07 19:01] #530 closed

[2016-02-09 20:11] serge-sans-paille commented on #526
@thoth291 I did some testing with a recent version of icc I get through their open source sponsorship. It turns out they do not support several features from C++11 we need for pythran, but maybe that could be fixed by changing the pythran code.

For a basic example, it compiles pythran-generated code fine, but generates much slower code than clang and gcc...

[2016-02-09 20:15] thoth291 commented on #526
Ok. If you haven't notified them about your test results - let me know - I'll give them a message :-)
Thanks!

[2016-02-09 20:42] serge-sans-paille commented on #526
On Tue, Feb 09, 2016 at 12:15:52PM -0800, Anar Yusifov wrote:

That was just a quick test, nothing valuable enough to do a report. But
if you have an entry point there, I can surely provide more data!

[2016-02-09 20:47] thoth291 commented on #526
I surely do have an entry point for a while (while my project is ongoing). Please provide some more data and tests. They should include the way how you compiled the pythran, dependencies and tests. Unfortunately it includes doing the same for icpc, g++ and clang. You can post them here (at the github) in markdown - I'll point Intel people to look at it. I personally use intel compilers all the tim

[2016-02-10 10:48] LuisBL opened #532 "have some way to inform on progression inside a pythran loop."
I have a big/long loop in a pythran function.
I look for a way to print a timestamp info.
If I give a python calculated datetime to the pythran function I will not have the inside loop info.

PS: we have now a pythran tag on stackoverflow ;)

[2016-02-10 14:10] serge-sans-paille commented on #532
time.time is supported, is this enough?

great :-)

[2016-02-11 06:09] LuisBL commented on #532
yes time.time is enough, we can close this.
BTW where can I found the list of what is covered and what is not covered by pythran ?
e.g. I'm askiing myself if   `from collections import Counter` is supported.

[2016-02-11 07:30] serge-sans-paille commented on #532
https://pythonhosted.org/pythran/SUPPORT.html

[2016-02-11 07:30] #532 closed

[2016-02-17 14:30] LuisBL opened #535 "a way to print an array slice ?"
Today the print **darray[:2,0:15]** above gave a `CRITICAL Cover me Jack. Jack` errror

    # pythran export update_darray(int[][], int[][])
    def update_darray(darray, day_matrix):
        elements = day_matrix.shape[0]
        for i in range(elements):
            darray[day_matrix[i][0]][day_matrix[i][1]] += 1
        print 'darray \n', darray[:2,0:15]
        return darray

Are there a way t

[2016-02-17 14:56] serge-sans-paille commented on #535
It's a bug! I'll check this this evening.

[2016-02-17 19:25] serge-sans-paille commented on #535
#536 should fix this!

[2016-02-17 23:49] LuisBL opened #537 "traceback at compilation time with 3D array"
I have this function that merge a 3D array shape [32, 3, 300]::

    $ cat cc.py
    # pythran export merge_results(int[][][])
    def merge_results(shared_res):
        num_game_pairs = {}
        for darray in shared_res:
            for line in darray.T:
                x, y, v = line
                key = (x, y)
                if v == 1:
                    if key in num_game_pairs:

[2016-02-17 23:50] LuisBL commented on #535
that fix the Pb in my case,
thanks

[2016-02-17 23:50] #535 closed

[2016-02-18 21:56] serge-sans-paille commented on #537
Thanks for this new report, it's nice to have that many bugs spotted, although that means more PR to review for @pbrunet :-)

[2016-02-18 22:02] hainm opened #538 "int[:, :, :]: cython style?"
What do you think about adding parsing for cython syntax style?

[code]

IMO, looks prettier.

[2016-02-18 22:49] serge-sans-paille commented on #538
You mean for pythran export signature, right? That looks fine to me.

Do you think we should support both syntax or only the more pythonic one
you propose?

[2016-02-18 22:56] hainm commented on #538
yeah.

you propose?

if you don't care about breaking backward compatibility, you can choose the cython syntax.
But if there is not too much work, I think it's fine to use both and encourage users to use one over another. (cython website is very clear about this: http://docs.cython.org/src/userguide/memoryviews.html#comparison-to-the-old-buffer-support)

[2016-02-19 00:40] serge-sans-paille commented on #537
#539 should do the trick, right?

[2016-02-19 07:49] pbrunet commented on #538
Just for information. For now, we use int[::][::][::] as a slice syntax for
numpy array. Would it be harder to read the difference between these syntax?

2016-02-18 23:56 GMT+01:00 Hai Nguyen <notifications@github.com>:

[2016-02-19 07:55] hainm commented on #538
`int[::][::][::]` seems easier to read than `int[][][]`, but what is the purpose of `::`?

[2016-02-19 22:19] serge-sans-paille commented on #538
int [::][::] means we accept strided input, while int [][] does not

[2016-02-20 10:51] LuisBL commented on #537
just tested the fix/normalized-tuple-inefficient branch.
work perfectly for me !

[2016-02-26 13:31] serge-sans-paille commented on #537
Closed as #539 is now in master branch

[2016-02-26 13:31] #537 closed

[2016-02-27 09:37] serge-sans-paille opened #540 "Aliasing issue"
The following code

[code]

fails to compile, as pythran thinks ``a`` is an empty list, because it does not understand ``b[0]`` aliases to ``a``

[2016-02-27 09:38] serge-sans-paille commented on #540
I'm on it!

[2016-03-05 21:11] serge-sans-paille commented on #538
@hainm should be fixed in #542

[2016-03-05 21:12] serge-sans-paille commented on #540
See #541

[2016-03-05 21:12] hainm commented on #538
:+1:

[2016-03-05 21:59] hainm commented on #458
oh, I've been thinking about useful case for pythran, given that it has many dependencies. But now we have conda, developers can use conda + pythranize to build their package and ship to user. The installation seems much easier with this case.

[2016-03-07 09:32] louptheron opened #543 "test_clang_format fail"
Hi,

I am having issue when launching test on archlinux (Linux version 4.3.3-2-ARCH) :

I have done :

    ____________________________________________________________ test_clang_format _____________________________________________________________

        def test_clang_format():
            """ Check coding style for cpp files. """
            pythran_dir = os.path.abspath(os.path.dirname(os.pat

[2016-03-07 09:36] serge-sans-paille commented on #543
Hi @louptheron
The problem is we rely on clang-format-3.6, and if we upgrade to clang-format-3.7, it changes some part of the C++ files layout. Nothing to do with the inner pythran mechanism, you can safely ignore the error (or disable this test by commenting the function in pythran/tests/test_format.py)

@pbrunet do you think we should upgrade to clang-format-3.7 for the validation?

[2016-03-07 11:12] louptheron commented on #543
Thank you @serge-sans-paille

[2016-03-07 11:13] louptheron opened #544 "trivial case don't work on arch"
Hi,

I am having issue when importing an .so on archlinux (Linux version 4.3.3-2-ARCH)

I'm on pythran master::

    git log
    commit f8a6d5d72529beb194e092466ff859140340c56a
    Merge: 35cacff 2dc9621
    Author: pbrunet <pierrick.brunet@telecom-bretagne.eu>
    Date:   Sun Feb 21 10:50:00 2016 +0100

        Merge pull request #534 from serge-sans-paille/feature/generalized-return-alias

[2016-03-07 12:38] serge-sans-paille commented on #544
Looks like your ipython version uses python3?

[2016-03-07 13:03] louptheron commented on #544
After launching ipython with : `python -m IPython`, you are right, it now use the python from my env, thank you !

[2016-03-07 13:03] #544 closed

[2016-03-07 13:11] serge-sans-paille commented on #544
note that python3 partial support exist, as mentioned in th doc

http://pythonhosted.org/pythran/MANUAL.html#python3-compatibility

[2016-03-07 17:52] serge-sans-paille commented on #543
#545 now detects if clang-format-3.6 is available, and ignore the test otherwise

[2016-03-09 20:30] serge-sans-paille commented on #543
#545 has been merged and fixes this issue!

[2016-03-09 20:30] #543 closed

[2016-03-15 19:38] #538 closed

[2016-03-15 19:41] serge-sans-paille opened #546 "indexing a numpy_texpr by an ndarray does not work"
Faulty code:

[code]

[2016-03-16 19:35] #540 closed

[2016-03-19 08:42] pbrunet commented on #546
Fixed by #548

[2016-03-19 10:15] #428 closed

[2016-03-19 13:44] pbrunet commented on #427
Here is an implementation:
#549

It doesn't combine types as input as proposed but accept:

[code]

[2016-03-19 14:34] serge-sans-paille commented on #427
any reason you don't combine type as input? This looks better to me

[2016-03-19 16:59] pbrunet commented on #427
It doesn't looks to be really typed syntax to me. We don't support ```foo(int float)``` to support both int and float.

[2016-03-19 17:03] serge-sans-paille commented on #434
I take this one

[2016-03-19 17:12] serge-sans-paille commented on #434
#550 improve test coverage, no issue spotted

[2016-03-19 18:23] serge-sans-paille commented on #427
I agree!

[2016-03-20 19:50] #434 closed

[2016-03-20 20:43] serge-sans-paille opened #554 "missed parallelization opportunity"
[code]

can be run in parallel if `foo` has no side effect :-)

[2016-04-11 16:24] serge-sans-paille commented on #526
I opened a thread on their forum and everything is going in the right direction!

https://software.intel.com/en-us/forums/intel-c-compiler/topic/623633

[2016-04-16 16:45] LuisBL opened #558 "looking for numpy.h in wrong venv place"
Hello Pythran team,

I have a strange bug with arrayobject.h

I have not system numpy::

    sudo apt-get remove python-numpy

But a pip install of numpy on my tfox virtualenv

I get this error::

    /home/luis/tfox/local/lib/python2.7/site-packages/pythran-0.7.4.post1-py2.7.egg/pythran/pythonic/include/types/ndarray.hpp:52:31:
    fatal error: numpy/arrayobject.h: Aucun fichier ou dossier de ce

[2016-04-16 16:50] LuisBL commented on #558
Same error after a numpy reinstall::

    pip uninstall numpy
    pip install numpy

[2016-04-16 17:10] serge-sans-paille commented on #558
Can you give us the output of ``pythran -v my_module.py``, to verify if the ``-I`` are correct?

[2016-04-16 17:30] LuisBL commented on #558
here::

    $ pythran -v ccompile.py > out.txt
[out.txt](https://github.com/serge-sans-paille/pythran/files/222307/out.txt)

    INFO     customize UnixCCompiler
    INFO     customize UnixCCompiler
    INFO     Generated module: ccompile
    INFO     Output: ~/.../

ccompile.so

[2016-04-16 17:32] LuisBL commented on #558
vi pythran it seem to work, the original Error came from:

    python setup.py install

with::

    $ git grep ccom setup.py
    setup.py:      ext_modules=[PythranExtension("oat.ccompile", ["oat/ccompile.py"])],

[2016-04-16 19:12] serge-sans-paille commented on #558
oh, right, so that's from PythranExtension... rather strange as it should use the same mechanism. I'll check this next week.

[2016-04-18 21:00] serge-sans-paille opened #559 "Aliasing : support container indexed by string literals"

[2016-04-18 21:02] serge-sans-paille opened #560 "aliasing: Take into account list content change for list"

[2016-04-20 13:15] LuisBL commented on #558
after a fresh reinstall of a venv everything work well.
I think that the Pb can be reproduce in a very rare case:
- install debian/ubuntu python-numpy
- create a virtualenv with --system-site-packages
- pip install numpy
- apt-get remove --purge python-numpy

I guess that it's a WF rare enought to close this issue.

[2016-04-20 13:15] #558 closed

[2016-04-20 13:18] serge-sans-paille commented on #558
I like when problem get solved without a single action on my side :-)

[2016-04-20 16:12] LuisBL opened #561 "Differents results each run !"
I have this code::

    $ cat comp.py
    # -*- coding: UTF-8 -*-
    import numpy

    #pythran export good_bad_packed_pythran(uint8[][], uint8[])
    def good_bad_packed_pythran(dbp, mask):
        """
        pythran vectorial covering

        [ 5 16 24 32 40 42 49 59 63 74 75 78]

        [ 5 16 24 32 33 34 35 36 40 42 43 84]

        [ 5 16 24 32 33 34 35 49 59 65 66 84]

        [ 5 16 24 3

[2016-04-20 17:42] serge-sans-paille commented on #561
looks like we're reading random pieces of memory, thanks @LuisBL for reporting this!

[2016-04-22 20:54] serge-sans-paille commented on #561
Just so you know: I can reproduce your issue on master branch

[2016-04-22 21:23] serge-sans-paille commented on #561
I can even tell you that it's a broadcasting issue on pythran side. I let the remaining for an other day ;-)

[2016-04-23 09:19] serge-sans-paille commented on #561
In fact it's a consequence of a known limitation: we don't support broadcasting as in [3,3] * [2,2,2,2] = [6,6,6,6], and you rely on this. I'll try to tackle this one, but it's not that easy.

[2016-04-24 10:13] LuisBL commented on #561
Great,
Say me if I can help. I can provide the faster pythran code I've get on this usecase.

[2016-05-10 14:42] serge-sans-paille commented on #561
#563 solves the issue (in terms of correctness) but the performance or your code are still terrible, I still need to work on it!

[2016-05-12 06:43] pbrunet opened #567 "random is not random"
The default seed is use for random number generation so the result is always the same from one execution to another.

[2016-05-23 19:37] serge-sans-paille opened #569 "Slow bitwise operators"
Expressions like

[code]

are slow in pythran if ``a.dtype is np.uint8``. Even with uint64 btw. What's wrong?

[2016-05-23 19:38] serge-sans-paille commented on #561
@LuisBL I finally fixed the broadcasting implementation and it runs decently fast. **But** I found an issue with bitwise operators, described in #569 that impacts your code. Let's close this issue once #563 is merged and start working on #569 ;-)

[2016-05-24 08:40] LuisBL commented on #569
arggg, I've do many bitwise operations on uint8.
Say me if there is something I can do to help.

[2016-05-26 18:39] xantares opened #571 "ParsingError: pythran-linux2.cfg contains 'ip-all'"
I cannot load pythran after install:
[code]

Here's the faulty pythran-linux2.cfg:
[code]
If I remove the "ip-all" line the module loads fine.

I suspect the end of "strip-all" linker command got here.
Using git version r1767.ede4731, python2.7.11, archlinux.

[2016-05-27 19:28] serge-sans-paille commented on #571
Hi @xantares,
how did you install pythran? from pip? from git? Can you provide a minimal list of command, starting with a virtualenv creation, that ends up with this issue?

[2016-05-27 21:57] xantares commented on #571
I installed from yaourt package manager (python2-pythran-git), that is basically the git version.
Then just 'import pythran'.

[2016-05-30 15:32] serge-sans-paille commented on #571
I've been looking into various location to try to understand the issue, but I cannot reproduce it at all, neither give a clue of its origin :-/

If you run:

[code]
do you get any issue?

[2016-05-30 17:46] xantares commented on #571
Installing using virtualenv was fine (0.7.4 something ?), maybe it's the current git version ?

It's definitely during ```python2 setup.py build``` that this ```build/lib/pythran/pythran-linux2.cfg``` is created, then installed into ```/usr/lib/python2.7/site-packages/pythran/pythran-linux2.cfg```

[2016-05-31 10:20] serge-sans-paille commented on #571
what about

[code]

[2016-05-31 16:02] nbecker opened #572 "gcc compile fails"
The following produces gcc compile error (with very long message)
rpm -q gcc
gcc-5.3.1-6.fc23.x86_64

This is fedora 23 x86_64

---

import numpy as np
# pythran export call(complex128[], complex128[], complex128[], complex128[], float[], int, int)

def call (A, y1, y2, y3, ks, M, chunksize):
    sum1s = np.zeros (M, dtype=complex)

[code]

[2016-05-31 16:42] serge-sans-paille commented on #572
Hi @nbecker , welcome back ;-)

I managed to reduce your test case to

[code]

I'll keep you in touch

[2016-05-31 16:42] serge-sans-paille commented on #561
@LuisBL : closing the issue thanks to #563

[2016-05-31 16:42] #561 closed

[2016-05-31 16:48] serge-sans-paille commented on #526
@thoth291 your issue was fixed in #563 , your code now compiles fine *and* returns the correct result. It also runs 1.75 times faster than the original version.

[2016-05-31 16:48] #526 closed

[2016-05-31 16:55] serge-sans-paille commented on #433
@nbecker sorry foir resurrecting the thread, but it seems to me the situation has improved (running the test locally with master version). Can you confirm we know match c++ performance?

[2016-05-31 17:30] nbecker commented on #433
python test_clip.py
numpy
6.43687415123
pythran non-vector
2.25750184059
pythran vector
2.25895500183
c++
1.85485982895
---------------
pythran non-vector version is:
#pythran export clip(complex128[], float64)
#pythran export clip(complex128[::], float64)
def clip (z, _max):
    out = np.empty (z.shape, dtype=z.dtype)
    for i in range (len(z)):
        if abs(z[i]) > _max:
            out[i] =

[2016-05-31 17:56] serge-sans-paille commented on #433
@nbecker can you try with
[code]

in your ``~/.pythranrc`` ?
To be sure : the c++ code uses double and not float ? you're compiling it with the same gcc, optimization level -O2 ?

[2016-05-31 18:58] serge-sans-paille commented on #433
@nbecker got it! We're using nt2 version of abs, and it appears to introduce a large overhead... falling back to std::abs fixes the issue cc @jfalcou .

[2016-05-31 19:00] jfalcou commented on #433
is it scalar or simd abs ? For which type ?

[2016-05-31 19:01] serge-sans-paille commented on #433
scalar abs, for complex numbers

[2016-05-31 19:02] serge-sans-paille commented on #433
(from the nt2 version frozen by pythran)

[2016-05-31 19:07] jfalcou commented on #433
you may want to compile with -DBOOST_SIMD_NO_INVALIDS to remove all the corner case handling of inf, nan etc .

See the macro there :
https://github.com/jfalcou/nt2/blob/master/modules/boost/simd/sdk/include/boost/simd/sdk/config.hpp

[2016-05-31 19:24] serge-sans-paille commented on #433
@jfalcou that's not enough (it does not change anything...). i see an unexpcted call to ilogb in the resulting binary...

[2016-05-31 20:08] jfalcou commented on #433
ilogb wow.
abs on complex is hypot(real,imag) and hypot use the bit perfect algo based on ldexp/frexp.
Care to fill an issue on NT2 about this and assign jtlap ?

[2016-05-31 20:17] serge-sans-paille commented on #572
#573 should fix this

[2016-05-31 20:28] serge-sans-paille commented on #433
@jfalcou see https://github.com/NumScale/boost.simd/issues/147

[2016-05-31 20:32] jfalcou commented on #433
I was speakign of the NT2 repo ;)

[2016-06-01 14:38] serge-sans-paille commented on #433
#574 should fix the issue

[2016-06-03 12:03] serge-sans-paille commented on #433
@nbecker the fix is in master, if your tests are ok, I'll close the issue.

[2016-06-03 12:08] nbecker commented on #433
python test_clip.py
numpy
6.48566198349
pythran non-vector
2.256513834
pythran vector
1.27110791206
c++
1.80149412155

looks good!

On Fri, Jun 3, 2016 at 8:03 AM, serge-sans-paille <notifications@github.com>
wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2016-06-03 12:12] nbecker opened #575 "WARNING Module : 'np' is imported but not used or can't be imported by Pythran."
Lately when I run pythran I get:

 pythran clip3.py
WARNING  Module : 'np' is imported but not used or can't be imported by Pythran.

Should I be concerned?  How can I debug this?

[2016-06-03 12:17] serge-sans-paille commented on #433
@nbecker and if you compile with pythran -03 ?

[2016-06-03 12:20] nbecker commented on #433
python test_clip.py
numpy
6.52374792099
pythran non-vector
2.1869969368
pythran vector
1.35169816017
c++
1.85517692566

But I already had this in .pythranrc:
cflags=-std=c++11 -fno-math-errno -w -O2 -ffast-math -march=native

On Fri, Jun 3, 2016 at 8:17 AM, serge-sans-paille <notifications@github.com>
wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2016-06-03 12:21] serge-sans-paille commented on #433
ok, that's enough for me, closing the issue. Nice to see the vector version runs faster than the C++ one ;-) removing ffast-math would be less unfair though

[2016-06-03 12:21] #433 closed

[2016-06-03 12:22] nbecker commented on #433
I believe the c++ version used the same options, -ffast-math -march=native

On Fri, Jun 3, 2016 at 8:21 AM, serge-sans-paille <notifications@github.com>
wrote:

--
*Those who don't understand recursion are doomed to repeat it*

[2016-06-03 12:45] serge-sans-paille commented on #575
That's a regression, but it's harmless. So no concern but I have to fix
this.

[2016-06-04 06:26] hainm opened #576 "Symbol not found: OSX"
Hi

I've just tried pythran on osx (pull newest PR today).

I was able to compile `yin_and_yang.py`test file but got

[code]

[2016-06-04 06:28] hainm commented on #576
using otool

[code]

[code]

In my mac, default in /usr/bin/gcc is actually `clang`

[2016-06-04 07:54] serge-sans-paille commented on #576
The demangled version of the missing symmbol is actually

    _VTT for std::__cxx11::basic_ostringstream<char, std::char_traits<char>, std::allocator<char> >

looks like you're linking with the wrong libstdc++. Could your try to
link with the one shipped with the compiler you're using in /usr/local ?

[2016-06-04 21:04] serge-sans-paille commented on #575
#577 fixes the issue. Thanks @pbrunet

[2016-06-05 06:28] serge-sans-paille commented on #575
Closed by #577

[2016-06-05 06:28] #575 closed

[2016-06-05 23:47] hainm commented on #576
hi, I will report later. thanks.

[2016-06-06 18:57] #546 closed

[2016-06-06 18:58] #427 closed

[2016-06-08 10:36] #567 closed

[2016-06-14 17:12] hainm commented on #576
I just want to say I still on hold this issue. Will report later. :D

[2016-06-14 20:41] serge-sans-paille commented on #576
ok, it won't go in next release :-)

[2016-06-20 06:43] pbrunet commented on #571
I have the same issue on a fresh install from ZIP without GMP support

[2016-06-20 06:47] pbrunet commented on #571
Reason is : we replace content to remove GMP flags but new content is smaller than older one so only the first part of the config file is correctly set and garbage is still present at the end.

[2016-06-20 07:40] serge-sans-paille commented on #571
On Sun, Jun 19, 2016 at 11:47:18PM -0700, pbrunet wrote:

@pbrunet: one solution would be to replace with spaces instead of
changing size?

[2016-06-20 07:52] pbrunet commented on #571
or just fully rewrite the conf file. I will prepare a commit with this. I just don't know how can we test it? Rerun an installation without GMP doesn't looks to be a viable solution :s

[2016-06-20 21:36] serge-sans-paille commented on #571
Good news: @pbrunet fixed this in #582

[2016-06-20 21:37] serge-sans-paille commented on #572
@nbecker can you confirm the master version fixed this issue?

[2016-06-21 15:17] nbecker opened #583 "build pythran on fedora 24 (gcc-6.1.1)"
Didn't get far:

Trying to compile GMP dependencies.
cc -c /tmp/tmpdgxejxv0.cpp -o tmp/tmpdgxejxv0.o
cc tmp/tmpdgxejxv0.o -lgmp -lgmpxx -o a.out
/usr/bin/ld: tmp/tmpdgxejxv0.o: undefined reference to symbol '__gxx_personality_v0@@CXXABI_1.3'
/usr/lib64/libstdc++.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
Failed to compile GMP source, disabl

[2016-06-21 15:32] nbecker commented on #583
cc -o a.out test_gmp.o -lgmp -lgmpxx
doesn't work, but:

g++ -o a.out test_gmp.o -lgmp -lgmpxx
does work

[2016-06-21 16:39] serge-sans-paille commented on #583
what does your pythranrc / CC CXX env var look like?

[2016-06-21 16:51] nbecker commented on #583
I don't think these are used for setup.py GMP test

[2016-06-21 21:31] serge-sans-paille commented on #583
@nbecker I wonder if #584 fixes the issue?

[2016-06-23 19:52] serge-sans-paille commented on #583
@nbecker issue fiex in #584

[2016-06-23 19:52] #583 closed

[2016-06-25 15:59] serge-sans-paille commented on #274
Fixed a long time ago, probably in  9c55b3db77da7d11a9280af013483adcba0e8a9b then 39cb1c4319b752d642d67cc9e342f810d7de0a88

Spoiler: I'm working on a full port to python3

[2016-06-25 15:59] #274 closed

[2016-06-26 17:49] pbrunet opened #585 "recursive yielder fails"
euler31 is skipped because of this missing feature.

[2016-06-27 14:19] lforg37 opened #586 "Unexplicit error message when initialising global variables"
The following code produced an unexplicit error message when I tried to "pythranise" it :
[code]

The error message is
[code]

Moving the global initialisation inside the allsyracuse function solved the problem.

[2016-06-27 14:56] pbrunet commented on #586
Reason is : We don't support globals variables. indeed, we accept globals only in Read-Only while you assign an element which is not allowed. But I agree that error message could be improved.

[2016-06-27 17:38] serge-sans-paille commented on #586
@pbrunet: I got the fix (better error reporting)

[2016-07-06 08:54] serge-sans-paille commented on #586
Fixed by 1ca2cd2fc77aa328216658201c536b378c1d997a

[2016-07-12 19:58] pbrunet opened #590 "exception throw"
Many exception thrown from pythonic use types::Exceptionname. This is bad as it will not include the builtin header guard thus the catch to forward exception from Python to C++ will not be generated.

[2016-07-20 12:48] nbecker opened #592 "can't find -lblas or -lcblas"
current git version isn't working on fedora F24.  I have openblas, and could possibly link with mkl blas, but no cblas

[code]

[2016-07-20 12:58] nbecker commented on #592
I see this is an issue with python3.5.  I was using
pythran -E mag_sqr.py
pythran3 mag_sqr.cpp (where pythran3 is the pythran script modified as
#!/usr/bin/python3)

[2016-07-20 13:04] nbecker commented on #592
problem is coming from config.py:
It's not just F24 numpy though, I tried anaconda version and get same result on py35:

import numpy.distutils.system_info as ns

In [16]: ns
Out[16]:
<module 'numpy.distutils.system_info' from '/home/nbecker/anaconda3/envs/py35/lib/python3.5/site-packages/numpy/distutils/system_info.py'>

In [17]: ns.get_info('blas')
/usr/bin/ld: cannot find -lcblas
collect2: erro

[2016-07-20 13:16] serge-sans-paille commented on #592
On Wed, Jul 20, 2016 at 05:58:10AM -0700, ndbecker wrote:

Hi Neal and thanks for the report. I think it's a perfect opportunity to
try our beta native Python3 support, from branch feature/python-3. Can
you have a look ;-)

[2016-07-20 13:30] nbecker commented on #592
Thanks!

Same result (-lcblas).

For now, I disable blas check in config.py and hardcode:
    # blas dependency
    # numpy_blas = numpy_sys.get_info("blas")
    # extension['libraries'].extend(numpy_blas.get('libraries', []))
    # extension['library_dirs'].extend(numpy_blas.get('library_dirs', []))
    extension['libraries'].extend(['openblas'])

[2016-07-21 05:52] serge-sans-paille commented on #592
On Wed, Jul 20, 2016 at 06:30:57AM -0700, ndbecker wrote:

Then the best thing to do may be to add a blas entry in the config file.
It would override the numpy default if given...

[2016-07-21 06:10] serge-sans-paille commented on #592
@nbecker #593 makes it possible to customize the entry from the config file.

[2016-07-21 14:22] nbecker opened #594 "conversion failed"
Did the type of z get inferred to be ndarray<std::complex<double>>, where it should have been
std::complex<double>?

``
 pythran lms_1st_multi2.py
/tmp/tmpg5pi9573.cpp: In instantiation of ‘typename __pythran_lms_1st_multi2::lms_1st_multi::type<argument_type0, argument_type1, argument_type2, argument_type3, argument_type4>::result_type __pythran_lms_1st_multi2::lms_1st_multi::operator()(argument_t

[2016-07-21 14:24] nbecker commented on #594
Sorry, here is the correctly formatted code

[code]

[2016-07-21 14:26] nbecker commented on #594
BTW, the original code would have passed either a double or double[:] as ks argument, and I would use hasattr (ks, 'size') instead of the try/except.  I don't know anyway to do this with pythran

[2016-07-21 16:22] serge-sans-paille commented on #594
On Thu, Jul 21, 2016 at 07:26:24AM -0700, ndbecker wrote:

That's actually the issue with your code. Pythran will not raise an
exception because of the bad typing, and fail un-gracefully. There's no
easy way to make this code polymorphic in current pythran state, but
that's typically something we should be able to handle with some more
care. Not on the roadmap though...

The only way to deal with

[2016-07-21 17:18] nbecker commented on #594
Yes, take out the try/except keeping the 1st clause, same compile error

[2016-07-21 21:02] serge-sans-paille opened #596 "type destrucring is no longer compatible with OpenMP"
a ``#omp critical`` on a type destructuring assignement no longer works.

[2016-07-22 07:32] serge-sans-paille commented on #594
@nbecker your code seems to be incorrect: ``inputs`` is typed as ``complex[:,:]`` but indexed as ``np.dot (alphas[inp,:], inputs[inp, i-M/2,i+M/2+1])``....

[2016-07-22 12:08] nbecker commented on #594
Yes, sorry - there was a typo.  Should say inputs[inp, i-M//2:i+M//2+1]

[2016-07-22 12:08] #594 closed

[2016-07-22 14:17] serge-sans-paille commented on #594
On Fri, Jul 22, 2016 at 05:08:01AM -0700, ndbecker wrote:

Then the following is the best i can do in current pythran state:

    #pythran export lms_1st_multi_0 (complex[:,:], complex[:], complex[:,:], float[:], int)
    #pythran export lms_1st_multi_1 (complex[:,:], complex[:], complex[:,:], float, int)
    import numpy as np

    def lms_1st_multi_0 (alphas, y1, inputs, ks, chunksize):

[2016-07-25 16:50] serge-sans-paille commented on #596
Should be fixed by #597

[2016-08-02 07:08] #596 closed

[2016-08-02 07:08] serge-sans-paille commented on #592
Fixed by  #593

[2016-08-02 07:08] #592 closed

[2016-08-02 07:09] #586 closed

[2016-08-02 07:10] #571 closed

[2016-08-14 19:15] pbrunet commented on #596
Sorry but I don't understand how this is fix. For now, the critical section is set only on the first node.

eg:

[code]

But  you may still have parallelism issue with:

[code]

you have thread safety issue. What will be the result for thread 0?
the result of foo for thread 0? Or a mix with thread 1's result as a may be change while it is use in the foo function?

I guess, we will need to reintrod

[2016-08-15 10:35] serge-sans-paille commented on #596
On Sun, Aug 14, 2016 at 12:15:58PM -0700, pbrunet wrote:

You're 100% rright. i'll favor the if though, as many analysis don't
support assignment if type destructuring is not done

[2016-10-13 21:10] aguinet opened #609 "Bad warning when using numpy through an alias"
When using Pythran on this code:

[code]

it emits this warning:

even if the generate cpp code is fine in the end!

[2016-10-13 21:12] aguinet opened #610 "Module aliases"
When using numpy through an alias, pythran raises an exception.
Here is an example code:

[code]

The exception is (backtrace extract):

[code]

[2016-10-15 12:40] serge-sans-paille commented on #609
I cannot reproduce your issue. Do you happen to have a np.py file somewhere?

[2016-10-22 14:38] aguinet opened #618 "Numpy iexpr as argument"
When using this module through Pythran:

[code]

for instance like this:
[code]

We got this issue:
[code]

If I understand it correctly, numpy is creating an "indexed" object which pythran doesn't directly support. What would be the cost of implementing this?

[2016-11-05 18:00] LuisBL opened #619 "pythran.conversion.ConversionError"
Hello,
I have this very strange bug::

    $ pip install pythran -U
    Requirement already up-to-date: pythran in /tmp/venv_ble_test/lib/python2.7/site-packages
    Requirement already up-to-date: ply>=3.4 in /tmp/venv_ble_test/lib/python2.7/site-packages (from pythran)
    Requirement already up-to-date: networkx>=1.5 in /tmp/venv_ble_test/lib/python2.7/site-packages (from pythran)
    Requireme

[2016-11-05 18:32] LuisBL commented on #619
The result of pip freeze::

    ansicolors==1.0.2
    blist==1.3.6
    colorlog==2.7.0
    cycler==0.10.0
    Cython==0.25.1
    decorator==4.0.10
    liac-arff==2.1.0
    matplotlib==1.5.3
    networkx==1.11
    numexpr==2.6.1
    numpy==1.11.2
    pager==3.3
    pandas==0.18.1
    pexpect==4.2.1
    pkg-resources==0.0.0
    ply==3.9
    prettytable==0.7.2
    protobuf==3.1.0.post1
    psutil==4.

[2016-11-05 18:36] LuisBL commented on #619
pip and setuptools version::

    (venv_ble_test) luis@spinoza:~/lab/sandbox/ble$ pip --version
    pip 9.0.0 from /tmp/venv_ble_test/local/lib/python2.7/site-packages (python 2.7)
    (venv_ble_test) luis@spinoza:~/lab/sandbox/ble$ python -m easy_install --version
    setuptools 28.8.0 from /tmp/venv_ble_test/lib/python2.7/site-packages (Python 2.7)
    (venv_ble_test) luis@spinoza:~/lab/sandbox/

[2016-11-05 18:45] LuisBL commented on #619
The same with pip 8.1 and setuptools 20.7::

    $ pip --version
    pip 8.1.2 from /tmp/venv_ble_test/local/lib/python2.7/site-packages (python 2.7)
    $
    (venv_ble_test) luis@spinoza:/tmp/venv_ble_test$ python -m easy_install --version
    setuptools 20.7.0 from /tmp/venv_ble_test/lib/python2.7/site-packages (Python 2.7)
    $
    $ python -c "from pythran.tables import MODULES"
    Tracebac

[2016-11-05 20:23] serge-sans-paille commented on #619
Thanks for the bugreport! That's indeed very strange... I'll investigate :-)

[2016-11-06 14:25] LuisBL commented on #619
It's strange I get this when I create a fresh virutualenv and install all on it. I do not get the error on my old virtualenv where I'm use to work.
If I can provide any kind of help, ...

[2016-11-06 14:33] LuisBL commented on #619
it's in numpy==1.11.2

pythran/conversion.py
   def to_ast(value):
    with value ==   numpy._globals._NoValue

[2016-11-06 16:08] LuisBL commented on #619
I confirm we do not get this bug with::

    numpy==1.11.0

[2016-11-07 13:30] #619 closed

[2016-11-15 23:06] #610 closed

[2016-11-23 21:53] funnydevnull opened #621 "Releasing the GIL"
It is sometime desirable to perform many small BLAS-style operations (vector addition, etc...) that are too small to effectively parallelize (in the underlying BLAS library).  In this case the best speedup is attained by simply running several such operations in parallel.  A very relevant example of this is the significant performance improvements attained by the cythonized version of word2vec in

[2016-11-27 05:26] hainm commented on #576
yeah. I have not tried with `pythran` yet but I got similiar errors with my projects and it's indeed because of mixing stuff between `g++` , 'clang' and 'libstc++'

mac is evil. close now.

[2016-11-27 05:26] #576 closed

[2016-12-16 14:42] serge-sans-paille commented on #621
I've made some preliminary tests, and it seems possible *and* easy to integrate into current compilation flow , hurray!

I'll have a look to your benchmark later, maybe there's room for improvement in pythran there :-)

[2016-12-17 19:14] serge-sans-paille commented on #621
Implemented in #623

[2016-12-23 08:33] serge-sans-paille commented on #621
Closed via #623

[2016-12-23 08:33] #621 closed

[2016-12-23 08:33] serge-sans-paille commented on #572
No news -> fixed

[2016-12-23 08:33] #572 closed

[2016-12-23 09:30] serge-sans-paille commented on #331
In Python2:

[code]

In Python3:

[code]

So I agree

[2016-12-23 09:36] serge-sans-paille commented on #331
[code]

gives me nothing, the problem seems to be fixed.

[2016-12-26 10:13] serge-sans-paille commented on #331
No longer relevant

[2016-12-26 10:13] #331 closed

[2016-12-26 11:30] serge-sans-paille commented on #238
Ok, the problem was just related to an invalid parameter for a matmul,

[2016-12-27 08:12] #238 closed

[2016-12-27 08:12] #233 closed

[2016-12-27 08:31] serge-sans-paille commented on #309
[code]

works like a charm now.

[2016-12-27 08:31] #309 closed

[2016-12-27 13:39] serge-sans-paille commented on #338
Checked : current implementation uses ``std::copy`` that downgrades to ``memmove``. benchmark don't exhibit significant performance difference with ``memcpy``, so keeping current implementation.

[2016-12-27 13:39] #338 closed

[2016-12-28 18:09] ashwinvis opened #625 "New dependency not included in setup.py: gast"
I installed pythran via [ArchLinux AUR PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python2-pythran-git)

However I get the following error after installationpython2 -c 'import pythran'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/pythran/__init__.py", line 39, in <module>
    from pythran.toolchain import (g

[2016-12-28 20:55] serge-sans-paille commented on #625
That's probably a packaging issue from AUR, gast is correctly listed in the [requirements.txt](https://github.com/serge-sans-paille/pythran/blob/master/requirements.txt) file

[2016-12-28 20:56] serge-sans-paille commented on #625
I confirm, the package is broken, cf https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python2-pythran-git#n9

[2016-12-28 20:57] serge-sans-paille commented on #625
@xantares : you seem to be the original maintainer of the AUR port, could you add ``gast`` and ``six`` to the requirements?

[2016-12-30 12:05] ashwinvis commented on #625
Yes, it was just an AUR issue. Apologies! And thanks to @xantares for fixing it promptly.

However, I don't understand why the requirements.txt is not parsed while running via AUR PKGBUILD. Can someone shed light on this?

[2016-12-30 12:06] #625 closed

[2017-01-07 15:48] LuisBL commented on #569
Did you have a chance to improve speed for np.uint8 & np.uint8 ?

[2017-01-07 18:17] serge-sans-paille commented on #569
On Sat, Jan 07, 2017 at 07:48:24AM -0800, Luis wrote:

No, but thanks to your reminder, that will be my next task! Keep in
touch :-)

[2017-01-15 15:17] serge-sans-paille commented on #569
@LuisBL just to be sure : any reason why not nusing a uint64 ?

[2017-01-16 14:03] LuisBL commented on #569
yes it's because I use `numpy.unpackbits` to store 8 0/1 in only one byte.

Cf. `numpy.bitwise_and` and `numpy.unpackbits`

[2017-01-22 10:35] serge-sans-paille commented on #569
I've got the fix *but* SIMD instructions are not used for comparison operators, I'll push it soon.

[2017-02-08 18:28] baoboa opened #633 "version in master vs pypi"
if i build with the tarball from pypi site

[code]

i got that  => collected 0 items / no test

If i clone the master i got a proper testing
- Is it a change done after the release 0.8, there is no release/or tag in the github repo ;( , hard to say
- Or the archive in pypi doesn't contain any test ?

thanks for pythran anyway

[2017-02-08 19:39] serge-sans-paille commented on #633
Hi @baoboa There's indeed no tag in the github repo :-/ There's a commit named after the python version though (that's 6428e526ec414cc79a1d2b7399137aa5e1656a2a) , but that's clearly not enough, I'll improve on this next time!

The pypi archive never contained the tests.

[2017-02-08 19:49] baoboa commented on #633
ok, merci pour l'info

[2017-02-08 19:49] #633 closed

[2017-02-17 07:18] nbecker opened #635 "problem with blas=openblas"
I tried adding
blas=openblas
to .pythranrc, I got

[code]
This is fedora 25 linux, pythran from git

[2017-02-17 19:21] serge-sans-paille commented on #635
Hi nbecker,

Pythranrc does not support this setting, but that's a legitimate feature request, , I'll have a look.

[2017-02-21 17:28] serge-sans-paille commented on #635
@nbecker #636 fixes the issue for me, with

[code]

in my config file

[2017-02-24 21:26] serge-sans-paille commented on #635
@nbecker boes that fix your issue?

[2017-03-04 08:36] diorcety opened #637 "Dot performance issues?"
I'm trying to use pythran for my code, and fall on performance issue with the dot operation.

I takes less than 20 seconds with python on my machine ... take more than 1 minutes with pythran (i killed the process...)

Here the example

https://gist.github.com/diorcety/54073473c7df332299bdaec34c4a74c6

[2017-03-04 11:10] serge-sans-paille commented on #637
Hi there,

I can reproduce the issue, that's related to the handling of global variables.

And I have a fix, I just need to test and push it :-)

[2017-03-04 12:02] diorcety commented on #637
Thanks !

[2017-03-04 20:23] serge-sans-paille commented on #637
Just to be sure: the problem lies in the **compilation time** which is too long, not the runtime, that is still below python's if you're patient enough to compile the program ?

[2017-03-04 22:01] diorcety commented on #637
Yes the compilation time is huge, but it was not main issue. It seems that I have issue with libblas and cblas with dot operation(bad performances at runtime). I have good performances with openblas on this simple case but not my full computation function (i have a sec fault). I will try to have a simple test case showing this issue.

[2017-03-05 08:53] serge-sans-paille commented on #637
oh right. I started to improve the compilation time due to your Issue :-) But that's not lost anyway.

Have a look to #636, this may fix your problem?

[2017-03-05 11:25] diorcety commented on #637
Yes i already took that branch. Bad performances with blas and segfault with openblas.(on the complete function not this simple example)

[2017-03-05 13:45] serge-sans-paille commented on #637
I'd be happy to have the whole function, as with the simple gist you posted I don't have any issue (no segfault, and no slowdown, actually a x2 speedup)

[2017-03-05 19:23] diorcety commented on #637
I try to understand the segfault...
python test.py
Reconstructing ...
[1]    11413 segmentation fault  python test.py
python test.py
Reconstructing ...
[1]    11449 segmentation fault  python test.py
python test.py
Reconstructing ...
[1]    11485 segmentation fault  python test.py
python test.py
Reconstructing ...
Compute ...

A valgrind report could be enough?

[2017-03-06 07:08] diorcety commented on #637
Hum i maybe understand the issue

https://software.intel.com/en-us/node/529735

m, n, k

    Integers indicating the size of the matrices:

        A: m rows by k columns

        B: k rows by n columns

        C: m rows by n columns

line 228 of dot.hpp:
int m = b.shape()[1], n = a.shape()[0], k = b.shape()[0];

shouldn't be int n = b.shape()[1], m = a.shape()[0], k = b.shape()[0]; ?
Any way by

[2017-03-06 07:21] diorcety commented on #637
I will keep you updated but I had 9,4 s with python and now i have 14,90 .. With my CPU monitor I see that pythran by default only use 1 core with python the 4 of my VM. Is it a normal behaviour?

[2017-03-06 16:01] diorcety opened #640 "dot operation on transpose will create an extra array allocation"
This operation :
np.dot(a.T, a)

will create a temp an extra array which can lead to performance issues if done inside a loop.

[2017-03-06 16:59] #635 closed

[2017-03-06 20:10] serge-sans-paille commented on #640
Should be fiex by #642, can you confirm?

[2017-03-07 08:40] diorcety commented on #640
Indeed no more allocation but now it takes ages here... maybe it's normal
void pythonic::utils::_broadcast_copy<pythonic::types::novectorizer, 1ul, 0ul>::operator()<pythonic::types::numpy_iexpr<pythonic::types::ndarray<double, 2ul> const&>&, pythonic::types::numpy_gexpr<pythonic::types::ndarray<double, 2ul> const&, pythonic::types::contiguous_slice, long> >(pythonic::types::numpy_iexpr<pythonic::t

[2017-03-08 07:42] serge-sans-paille commented on #640
@diorcety I ran a few benchmarks, namely:

[code]

and I get similar timings with or without pythran when I multiply two ``2500, 2500`` matrices in the various transpose configuration. Can you elaborate on your performance issue?

[2017-03-09 17:47] #637 closed

[2017-03-09 17:48] serge-sans-paille commented on #640
@diorcety I merged the PR as it fixes the direct issue, feel free to provide more feedback on other perf issues here.

[2017-03-14 23:24] hainm opened #644 "adding annotation in separate file?"
Hi, may be do that in the future?

There are too many "# pythran export" in source code.

so, just

[code]

[code]

Example was taken from: https://github.com/serge-sans-paille/pythran/issues/640#issuecomment-284969965

[2017-03-15 07:39] serge-sans-paille commented on #644
I like the idea, @pbrunet , @diorcety what's your opinion on this

[2017-03-15 12:46] diorcety commented on #644
👍  I would need a pythranrc by project

[2017-03-15 13:05] serge-sans-paille commented on #644
@diorcety an option to specify the config file path would do the trick, right?

[2017-03-15 14:51] diorcety commented on #644
maybe more a ${CWD}/.pythonrc which overload the ${HOME}/.pythonrc
which allows to have project specific settings.
then adding to it the #pythran export ?

[2017-03-15 15:28] hainm commented on #644
might be a good idea to look at [python typeshed](https://github.com/python/typeshed)

[2017-03-16 09:41] pbrunet commented on #644
I agree with @diorcety that we should look in parent path too.
Or maybe like for clang-format, which look in parent directory until it find a .pythranrc?

But I think there are two differents problem here.

The pythranrc which is related to the project/directory and signatures which are related to a file except if you want a pythranrc per file but it looks to much for me.

Also, having all the sig

[2017-03-16 09:41] serge-sans-paille commented on #644
@diorcety pythranrc contains informlation about linkage etc and information about compile flags, compilers to use etc. These informations are mostly dependent of the running system, so I would find it strange to have them in a git repo, for instance.

@hainm to what extent is it relevant to this thread?

[2017-03-16 12:42] hainm commented on #644
ah, the idea from my 1st post came from that typeshed.

[2017-03-16 13:06] diorcety commented on #644
Maybe simply a pythran file next to py file containing pythran directives(without #)?
like
example.py
example.pythran

pythran will try to look look for the pythran file and include directives?

[2017-03-16 13:07] hainm commented on #644
Yeah, this is what I meant.

Hai

[2017-03-16 14:43] diorcety commented on #644
I have a proto/PR of implementation  if needed

[2017-03-16 14:58] LuisBL opened #645 "blas install documentation for Ubuntu"
On ubuntu 16.10 I get this error:

[code]

[2017-03-16 15:00] LuisBL commented on #645
in fact on ubuntu 16.10 I fix it installing::

     $ apt-get install -y libatlas-base-dev

Perhaps it deserve to update the documentation.

[2017-03-16 17:50] serge-sans-paille commented on #644
@diorcety you can create a PR and I'll review it :-)

[2017-03-17 09:08] #645 closed

[2017-03-18 08:09] diorcety opened #648 "NoneType implicit conversion"
There is issue with NoneType<double, true> conversion. For exemple put a variable of this type un the log10 function. There is ambigous error. I suspect the double() long() long long() to be ambigous choices. Souldn't be a T() operator instead of all the others (and me be wrong) operaror? It seems to solve this issue but to create other ones where one of this operator is used for implicit conversi

[2017-03-26 12:08] LuisBL opened #653 "python 3.6 Pb request "getfullargspec() API ""
I have a gitlab-ci.yml calling pythran compilation, it work well with python 3.5
If I use **python3.6** I get this traceback::

[code]

[2017-03-26 15:37] serge-sans-paille commented on #653
I never tested pythran under python 3.6. Will do :-)

[2017-03-30 14:49] stehol01 opened #655 "No option 'cc' in section: 'compiler'"
Hy pythran users,

I would like to try pythran but i encounter a problem if i do so. If i type pythran --help in my WinPython Command prompt. The following error occurs:

WARNING: Disabling color, you really want to install colorlog.

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import pythran
  File "C:\WinPython\WinPython-64bit-2.7.13.1Zero\python-2.7.13.amd64

[2017-03-30 15:07] serge-sans-paille commented on #655
Hi @stehol01 . We have very few feedbacks on Windows, so get ready for some trouble!

That being said (did I mention _welcome_ ?) It means that somewhere, there is a `.pythranrc` or a `pythran-win32.cfg` that lacks the `CC=` entry. Even if the entry is empty, it should be okay.

The default file is indeed:

[code]

What is the content of `C:\WinPython\WinPython-64bit-2.7.13.1Zero\python-2.7.13.amd

[2017-03-31 09:05] serge-sans-paille commented on #644
@hainm @diorcety does #656 fix your issue?

[2017-03-31 12:45] hainm commented on #644
awesome. thanks.

[2017-03-31 12:45] #644 closed

[2017-04-02 20:46] serge-sans-paille commented on #653
@LuisBL can you provide a simpler way to reproduce ? Something like a minimal setup.py ? All tests are ok using python 3.6.0 here.

[2017-04-02 20:47] serge-sans-paille commented on #653
(maybe the minor 3.6 version differs ?)

[2017-04-03 16:58] serge-sans-paille commented on #653
I'm interested in your numpy version too btw.

[2017-04-06 16:37] diorcety opened #660 "last line in Pythran file is ignored"
If the file doesn't end with an empty line (or comment), the last entry is ignored.
There is certainly a place where we require a new line at the end of the directive

[2017-04-14 09:21] serge-sans-paille commented on #660
Fixed by #662

[2017-04-14 09:21] #660 closed

[2017-04-17 08:04] serge-sans-paille commented on #653
@LuisBL I cannot reproduce. I need the exact version information ;-)

[2017-04-18 18:28] #640 closed

[2017-04-18 18:51] serge-sans-paille commented on #609
@aguinet up!

[2017-04-18 19:06] serge-sans-paille commented on #618
I fail to reproduce the issue using master version, can you confirm the bug no longer exists?

[2017-04-18 19:08] serge-sans-paille commented on #424
Fixed by 88a16dc631ff1481051e3a721b679a71b74b20e5 . Timing may depends based on the implementation, but using the standard library allows us to bundle less boost header.

[2017-04-18 19:08] #424 closed

[2017-04-18 19:34] serge-sans-paille commented on #420
We now use ``std::trunc`` and casting is not an option if the double is greater than an integer (think ``2e65``).

that's the approach of CPython:

[code]

So that should be ok

[2017-04-18 19:34] #420 closed

[2017-04-19 06:04] #421 closed

[2017-04-19 06:04] #422 closed

[2017-04-19 21:49] jcfr commented on #489
Having faced this issue in a different context, the issue was most likely caused by the fact the installation of `setuptools` was done from its source tree available on https://github.com/pypa/setuptools and was **NOT** `bootstrapped` before being installed.

Not that installing using the source distribution available on pypi does not have problem.

To bootstrap before install, the following can b

[2017-04-20 06:09] serge-sans-paille commented on #419
Closed by #664

[2017-04-20 06:09] #419 closed

[2017-04-20 07:01] serge-sans-paille commented on #415
It's used in `backend.py` by `visit_Print`

[2017-04-20 07:01] #415 closed

[2017-04-20 16:45] serge-sans-paille commented on #418
Cannot reproduce the issue, the tuple is computed in a dynamic fashion, and the bug is not reproduced

[2017-04-20 16:45] #418 closed

[2017-04-20 19:57] serge-sans-paille commented on #287
Fixed by afbd4dcf3fe01b913d67d4bb727eacf6ffbeb9a0

[2017-04-20 19:57] #287 closed

[2017-04-21 09:04] #413 closed

[2017-04-21 18:14] ttylec commented on #653
@serge-sans-paille same error on OSX with 3.6.1

[2017-04-21 20:55] serge-sans-paille commented on #653
Thanks @ttylec I now have a reproducer!

[2017-04-21 21:00] serge-sans-paille commented on #653
@ttylec @LuisBL can you confirm #667 fixes your issue?

[2017-04-21 22:51] LuisBL commented on #653
@serge-sans-paille you patch fix the issue (docker image python3.6) thank you.

[2017-04-22 06:56] #653 closed

[2017-04-22 18:23] serge-sans-paille commented on #386
Fixed in #666

[2017-04-22 18:23] #386 closed

[2017-04-22 18:24] serge-sans-paille commented on #306
There's already a default timeout through travis, so the -- wins over the ++ now that we use travis :-)

[2017-04-22 18:24] #306 closed

[2017-04-22 20:45] serge-sans-paille commented on #254
@joker-eph got the fix, 3 years later :-)

[2017-04-23 07:13] wyk-qyf opened #669 "pythran dprod.py error"
Using linuxmint newest
follow the instruction:

    Gather dependencies:

    Pythran depends on a few Python modules and several C++ libraries. On a debian-like platform, run:

    $> sudo apt-get install libgmp-dev libblas-dev
    $> sudo apt-get install python-dev python-ply python-networkx python-numpy

    Use easy_install or pip:

    $> pip install pythran

then follow this :
Basic Usage

A

[2017-04-23 07:15] wyk-qyf commented on #669
I have googled two days.
please help me!

[2017-04-23 09:23] serge-sans-paille commented on #669
can you ``pip install -U numpy`` and try again?

[2017-04-23 18:08] serge-sans-paille commented on #350
[code]

now works for python3 *and* python2 \o/

[2017-04-23 18:08] #350 closed

[2017-04-23 18:20] hainm commented on #350
Fantastic.

Hai

[2017-04-23 18:23] #254 closed

[2017-04-24 13:03] #414 closed

[2017-04-27 15:23] paugier opened #675 "`pythran -fopenmp -march=avx arc_distance.py` leads to error"
With pythran 0.8.0, I encounter an error with the option "-march=avx" (see http://pythonhosted.org/pythran/MANUAL.html):

[code]

What does it mean?

[code]

[2017-04-27 15:44] serge-sans-paille commented on #675
It probably means your hardware does not support `avx`, use `-march=native` to default to your target

[2017-04-28 06:33] paugier commented on #675
I still don't understand because the CPU supports avx:

[code]

[2017-04-28 08:49] serge-sans-paille commented on #675
ok, what about ``-march=corei7-avx`` ?

[2017-04-28 08:51] serge-sans-paille commented on #675
(I'll update the doc to use `-march=native` which is much more portable

[2017-04-28 09:49] paugier commented on #675
`-march=corei7-avx` and `-march=native` work. Thank you.

However, these options decrease the performance on my machine!

[2017-04-28 09:56] serge-sans-paille commented on #675
:-/ can you share the code ?

[2017-04-28 17:34] paugier commented on #675
I think it is a problem with the complexes when there isn't the option `complex_hook`. With the option complex_hook, `-march=native` makes the code faster.

With a code without complex (as in `arc_distance.py`), `-march=native` makes the code faster even without the option `complex_hook`.

[2017-04-28 17:58] serge-sans-paille commented on #675
great news! @jfalcou : can boost.simd help on complex SIMD operation ?

[2017-04-28 18:06] jfalcou commented on #675
we have a new complex support implementation in the work.

[2017-04-28 18:10] serge-sans-paille commented on #675
ok, bgreat. closing the original issue, @jfalcou, you'll tell us when the hard work is done ;-)

[2017-04-28 18:10] #675 closed

[2017-05-06 16:38] hainm commented on #458
FYI: there is a PR in cython that use `pythran` for numpy:

https://github.com/cython/cython/pull/1607

[2017-05-07 21:25] funnydevnull opened #677 "indexing using a numpy in array?"
Hi, I'm getting an error trying to compile the following code:
[code]
The error is long but the relevant last section is:
[code]

I presume this is related to indexing using a numpy int array.  If I remove the last line above (the return) the code compiles fine and it works (in the sense that it correctly modifies indvecs).

Is this a known limitation or a bug?  Thanks for any help or advice.

[2017-05-08 08:59] serge-sans-paille commented on #677
Even

[code]

reproduces the issue, I'll check this.

[2017-05-12 12:40] serge-sans-paille commented on #677
I added more test cases in #679 but I'm basically not going to support this in a near future; Advanced indexing is a real pain :-/

I added a static_assert that should make the error message slightly more helpful though.

[2017-05-18 13:57] funnydevnull commented on #677
Hi Serge,
Thanks for the quick response.  I've been trying to implement something similar without (or with less) fancy indexing but I'm still running into problems.

The following code:
[code]

Gives an error:

`PythranTypeError: Invalid subscripting of `int` by `Tuple[int, T12, T13]``

The problem is definitely related to trying to sub-index a 3-index float32 tensor using only two indices.  So it

[2017-05-18 17:39] serge-sans-paille commented on #677
mmmh, I think I can warkaround this one, let me have a look!

[2017-05-18 21:02] serge-sans-paille commented on #677
Does #680 fixes your issue?

[2017-05-19 18:58] funnydevnull commented on #677
I'm not sure what #680 is about.  The fix turns out to be very simple.  The issue is that fvec *= 0 incorrectly converts fvec into an int!  If I replace that line with fvec = fvec * 0 it works.

For reference the pythranized version of this code is ~3x faster than native python even though most of the time is spent in the numpy .sum.

[2017-05-19 21:03] serge-sans-paille commented on #677
On Fri, May 19, 2017 at 11:58:43AM -0700, funnydevnull wrote:

Yeah, that's what the fix does : correct type inference for augmented
assign :-)

Glad the performance are there :-)²:x

[2017-05-20 12:28] serge-sans-paille commented on #677
Closed by #680

[2017-05-20 12:28] #677 closed

[2017-05-27 14:49] artas360 commented on #669
Looks like the version of numpy used by Mint (`4092a9e160cc247a4a45724579a0c829733688ca`) does not have a `globals.py` file and `_NoValue` is defined in  `init.py`.
Just replacing `numpy._globals._NoValue` by `numpy._NoValue` in `/usr/local/lib/python2.7/dist-packages/pythran/conversion.py` should fix the problem.

[2017-05-27 18:02] serge-sans-paille commented on #669
Yup, could you track the numpy version and add the correct if
numpy.version > ... test somewhere?

[2017-05-27 18:56] artas360 commented on #669
It's 11.0, but I think just using `numpy._NoValue` instead of `numpy._globals._NoValue` might be sufficient. It seems to work with version 1.11 and above. I'll try with earlier version, but what versions of numpy is Pythran supposed to support?

[2017-05-28 15:51] serge-sans-paille commented on #669
On Sat, May 27, 2017 at 11:56:59AM -0700, Merlini Adrien wrote:

Only last version, but I'll accept your PR if it supports older version
as well :-)

[2017-05-30 19:06] artas360 commented on #669
master doesn't need any modifs since it does not seem to be using `numpy._NoValue`.
I don't see any `0.8` branch  (version on pythonhosted) to fix on the repo, so updating the pip version to master's status would be enough, if it's ready for release. What do you think?

[2017-05-30 19:19] serge-sans-paille commented on #669
On Tue, May 30, 2017 at 12:06:57PM -0700, Merlini Adrien wrote:

ooops (TM) I didn't remember it was fixed on master. I plan to do a
release near July...

[2017-06-12 22:41] serge-sans-paille commented on #382
For the record, once #686 is merged, numpy.where will run significantly faster, and the following implementation:

[code]

runs as as fast as the loop version.

[2017-06-14 16:14] ashwinvis opened #687 "Unable to configure CC and CXX in pythranrc and gcc 7 bug with pythran+numpy"
## System configuration
- Arch Linux
- gcc-7.1.1 and gcc-5.4.0
- numpy==1.13.0
- pythran==0.8.0
- python==2.7.13

First of all, allow me to rant that it should be mentioned somewhere in the README that pythran only works in a medium version gcc > 4.9 and gcc < 6(??). I lost quite a lot of time trying to pythranize with gcc==4.7.2 and gcc==7.1.1 (super old and super new) - does not work at all (for

[2017-06-14 21:03] serge-sans-paille commented on #687
Hi @ashwinvis,

Rant accepted. the gcc > 4.9, has documented somewhere here http://pythonhosted.org/pythran/MANUAL.html. I should make this more explicit; The gcc < 6 is a bug, I'll try to reproduce this.

I'll investigate the config file error too, that should not happen.

[2017-06-14 21:19] serge-sans-paille commented on #687
The blas error has been fixed in 2766e0ac890cf2c3ae2ff7f9fb865ada00c403b7, the problem no longer happens in master.

[2017-06-14 21:22] serge-sans-paille commented on #687
And everything works fine with gcc 6, gcc 7 is not yes in debain testing, can't assert that.

[2017-06-15 08:43] ashwinvis commented on #687
@serge-sans-paille, thanks for the prompt reply :).

gcc 7 is the default compiler for Arch Linux, with gcc 5 maintained in community repo. Maybe the AUR maintainer @xantares can verify this?

Looking forward for a fix for the config file.

[2017-06-15 11:22] ashwinvis commented on #687
After that fix, I am able to pythranize with no hiccups

[code]

[2017-06-29 20:16] serge-sans-paille commented on #687
Concerning the g++-7.1 issue, that's a gcc bug, I reported it here:

    https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81188

And it's being fixed!

[2017-06-30 09:29] ashwinvis commented on #687
That's awesome... Now I can use the whole stack without any hiccups

[2017-07-05 10:08] ashwinvis opened #691 "Mention numpy in setup.py extras_require to allow using pythran in a tox test"
The absence of `numpy` as a dependency is preventing us from testing `pythran` in our `tox` test. See travis build:

https://travis-ci.org/fluiddyn/fluidimage/jobs/250268847

Our tox configuration looks like this now:

[code]

I propose adding an `extras_require` line in `setup` function call in pythran `setup.py` like this:
[code]

which should allow us to write the tox test as follows and should

[2017-07-05 10:20] ashwinvis commented on #691
Also change `raise` in https://github.com/serge-sans-paille/pythran/blob/master/setup.py#L25 to a warning, perhaps?

[2017-07-05 10:37] Didou09 opened #693 "Jupyter notebook magic not working (unicode error)"
Hi,

Using the load_ext in te jupyter notebook to use pythran on a cell I got the following error (on Romeo during the advanced Python training in Jussieu):

[code]
Works fine, then:

[code]

[code]

[2017-07-05 10:41] CedricDViou opened #694 "Complains about missing BLAS, but lib is installed and a functional .so is generated"
~/nancay/admin/Formation/20170704_Python_avancé/pythran$ pythran collatz.py
WARNING: Disabling color, you really want to install colorlog.
/usr/bin/ld : ne peut trouver -lcblas
collect2: error: ld returned 1 exit status
/usr/bin/ldÂ : ne peut trouver -lcblas
collect2: error: ld returned 1 exit status

But BLAS is installed:
~/nancay/admin/Formation/20170704_Python_avancé/pythran$ sudo apt-get inst

[2017-07-05 10:46] flothesof commented on #693
Hi,
attempt at fixing this with pull request #692.
Best,
Florian

[2017-07-05 11:03] ashwinvis commented on #691
At least pythran installs now:

https://travis-ci.org/fluiddyn/fluidimage/jobs/250296924

[2017-07-05 14:20] BenTeoNeb opened #696 "Error message not explicit when trying to import from a module"
When trying to import a function from another module by appending the module to the path, no error message is displayed:

instead of:

[code]

[2017-07-05 15:25] flothesof opened #697 "Vectorization not implemented yet on 2D numpy array broadcasting"
Hi @serge-sans-paille,

Thanks for your work on pythran.
As discussed with you in class, when implementing a 2D convolution, the code generated by pythran is not vectorized, although it could be. Minimum working example:
[code]
We compile with:
`pythran -g -DUSE_BOOST_SIMD convolve.py -march=native -O0`

And run this:
`python -c "import numpy as np; x=np.empty((20, 20)); import convolve; convolve.

[2017-07-05 15:27] BenTeoNeb opened #698 "Distutils numpy"
Probleme d'include lié à numpy en faisant un `python setup.py install`

[2017-07-07 20:02] #696 closed

[2017-07-07 20:02] #698 closed

[2017-07-07 20:03] serge-sans-paille commented on #697
Fixed in ced2aeca77200a11067744c05fe563ca8c6d0ce1, with extra speedup if you have AVX enabled!

[2017-07-07 20:03] #697 closed

[2017-07-07 20:03] serge-sans-paille commented on #694
I tried to fix this in master, can you check?

[2017-07-09 17:34] CedricDViou commented on #694
It seems corrected.
No error about missing libs and the .so is functional.

Thanks for the fix.

[2017-07-10 12:29] #694 closed

[2017-07-10 12:29] serge-sans-paille commented on #693
Closed by #692

[2017-07-10 12:29] #693 closed

[2017-07-24 18:49] serge-sans-paille opened #702 "implement correct dtype support for numpy.sum"
dtype has complex representable rules for numpy.sum. We should support them. as a side effect, we should support them for numpy.mean too.

[2017-07-24 19:07] #691 closed

[2017-08-28 16:29] diorcety opened #708 "Precision issue"
Taking the following code:
[code]

calling with print("%.32f" % (diff.c(3**2)))
With python: 0.00000000000035999974800007563044
With pythran: 0.00000000000035999974800007568093

[2017-08-29 06:46] diorcety commented on #708
Seems to come from this part (1-p)**(N-i)

[2017-08-29 06:59] diorcety commented on #708
The issue come from here: https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/include/numpy/power.hpp#L24

If i force the type of (N-i) to float, i have the same result:
`pp = binomial_coef * p**i * (1-p)**float(N-i)`

[2017-08-29 07:27] serge-sans-paille commented on #708
On Tue, Aug 29, 2017 at 06:59:45AM +0000, Diorcet Yann wrote:

OK! Feel free to propose a patch! (maybe double instead of float
though?)

[2017-08-29 07:42] diorcety commented on #708
boost::smd seems to cause the issue

[2017-08-29 13:57] diorcety opened #709 "cumsum not same behaviour"
Here the code for reproduce
[code]

[code]

Python output

Pythran output

[2017-08-30 08:01] diorcety commented on #709
[code]

Output:

[2017-08-30 08:01] diorcety commented on #709
Following the size of the array, the result is not the same ... very strange

[2017-08-30 08:19] diorcety commented on #709
with proba = np.zeros( (10, 100000) ) i have a segmentation fault with pythran, and no issue at all with python

[2017-08-30 09:31] diorcety commented on #709
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.ufunc.accumulate.html

For example, add.accumulate() is equivalent to np.cumsum().
replace np.cumsum by np.add.accumulate() in this example and all is working great

[2017-08-30 09:38] diorcety commented on #709
Replace iadd by add
https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/numpy/cumsum.hpp#L21

[2017-08-31 12:54] diorcety opened #710 "Compilation switch"
Provide a wait to enable/disable code when compiled with pythran or executed with python

[2017-09-07 16:49] serge-sans-paille commented on #709
Fixed in #712

[2017-09-07 16:49] #709 closed

[2017-09-18 15:48] paugier opened #720 "Memory leak?"
I encounter a problem which seems to be related to memory when I use this function

[code]

with this code:

[code]

The memory consumption increases a lot and the process is stopped by the kernel with a nice explanation:

"Killed"

pythran --version
0.8.2

Same thing with python 2.7, 3.5 and 3.6.

[2017-09-18 19:48] serge-sans-paille commented on #720
@paugier can you confirm #721 fixes your issue?

[2017-09-19 07:35] paugier commented on #720
I do confirm that #721 fixes the memory leak for my case!

[2017-09-20 14:46] #720 closed

[2017-09-20 14:47] serge-sans-paille commented on #720
Thanks for reporting! This did help a lot.

[2017-09-23 03:42] ashwinvis commented on #687
gcc has resolved your bug report, and your test cpp file compiles with no issue, with gcc-7.2.0

[code]

However there is something else, as I still cannot pythranize the `nd_local_maxima.py` test case. See output here: https://paste.pound-python.org/show/Omi0eiJ3e1jtr6UmaWbd/

[2017-09-23 08:16] serge-sans-paille commented on #710
So the idea is to allow this kind of code

[code]

This would behave somehow like a preprocessing step, ``#ifdef PYTHRAN``. Unfortunaltely, this is very ad-hoc (what about ``if not not hasattr(__module__, 'pythran'):`` ? there are multiple ways of expressiing the condition, store the expression in a global etc).

I don't want to make it an idiom, nor do I want to implement a generic pre procesisng

[2017-09-23 09:04] serge-sans-paille commented on #687
... I'll make a minimal test case out of this and submit it again :-/

[2017-09-23 10:18] diorcety commented on #710
I'm understand but i don't see the limitation. It is only a kind a preprocessor, by replacing `hasattr(__module__, 'pythran') ` by `True`, before process it like normal python code.
`if not not hasattr(__module__, 'pythran'):` will give `if not not True:`

[2017-09-23 10:19] diorcety commented on #710
I could almost do it by a grep before processing the file.

[2017-09-23 20:42] serge-sans-paille commented on #687
@ashwinvis can you confirm the following test case does not compile?

[code]

[2017-09-23 20:51] ashwinvis opened #722 "networkx 2.0 deprecated syntax"
I found [one deprecated statement](https://github.com/serge-sans-paille/pythran/blob/8f1bdb8dd64dc1ffd01fbdcebf3774adfff25826/pythran/transformations/false_polymorphism.py#L37) in the `pythran` source, there may be more! [See here for networkx migration guide](https://github.com/networkx/networkx/blob/bbd84d051b4a7266ae66ad3c413a1d7c78b95482/doc/release/migration_guide_from_1.x_to_2.0.rst#migratio

[2017-09-23 20:57] ashwinvis commented on #687
Do you have a bug in the test case?

[code]

[2017-09-24 06:40] serge-sans-paille commented on #687
It turns out to be a duplicated bug in gcc https://gcc.gnu.org/bugzilla/show_bug.cgi?id=82311

[2017-09-24 08:23] serge-sans-paille commented on #722
I'll go for the networkx>=2.0, but this requires some other changes.

[2017-09-29 05:28] serge-sans-paille commented on #722
Fixed in 37e78bb

[2017-09-29 05:28] #722 closed

[2017-09-29 16:25] bermanmaxim commented on #488
I have an issue related to this, installing pythran through conda on a python 2.7 environment installs pythran to
"./lib/python3.6/site-packages/pythran/"
instead of
"./lib/python2.7/site-packages/pythran/"
any idea on how to fix this? Thanks

[2017-09-29 17:17] serge-sans-paille commented on #488
wow, that means bad packaging from my side, I'll try to fix this soon, thanks for reporting!

Or... maybe that's an implicit message telling « move to python3 » ?

[2017-09-30 08:09] serge-sans-paille commented on #488
@bermanmaxim should be fixed, can you confirm?

[2017-10-02 08:38] bermanmaxim commented on #488
Hi Serge, yes it installs the correct version, merci!

[2017-10-02 10:05] bermanmaxim opened #726 "MKL in conda, compilation error"
In my py2.7 conda environment that is linked with MKL, numpy_sys.get_info("blas") throws a distutils.errors.LinkError. I was able to use Pythran by changing the following lines around line.92 of config.py:
`
        numpy_blas = numpy_sys.get_info("blas")
`
to

[code]

[2017-10-02 11:42] serge-sans-paille commented on #726
can you tell me if the following works too?

[code]

[2017-10-02 12:45] bermanmaxim commented on #726
I suppose you meant `get_info(engine)`. Yes that works, see pull request. Cheers

[2017-10-02 17:50] paugier opened #728 ""CRITICAL You shall not pass!" `np.zeros([len(indices)])`"
[code]

The compilation crashes... The error log is pretty long...

[code]

It looks like a bug...

Note that this works:

[code]

[2017-10-02 19:17] serge-sans-paille commented on #728
That's a *known* bug. Basically it happens because we don't know statically the size of a list, so we cannot deduce the size of the array.

Yet we already have the concept of fixed size array, which could be useful here, I need some thinking on that.

[2017-10-03 06:29] paugier commented on #728
Yes, even me, I remember now that I have already encountered this bug! Sorry to report a known bug. But still I managed to waste one hour to understand why pythran was unhappy with this module.

It is funny that we do not get this problem with
- `np.zeros((1000,))`
- `np.zeros(tuple([100]))`
- `np.zeros([100])`

but we get the bug for
- `np.zeros([1000])`

I figured out that it is because of pythr

[2017-10-09 08:25] serge-sans-paille commented on #726
Can you try #729 with setting

[code]
in your ``~/.pythranrc`` ?

[2017-10-09 20:22] serge-sans-paille commented on #728
#730 provides a decent fix.

[2017-10-13 09:15] #728 closed

[2017-10-13 14:25] boileaum commented on #722
Could you please publish the fixed version on PyPI?  Thanks!

[2017-10-13 16:50] serge-sans-paille commented on #722
On Fri, Oct 13, 2017 at 07:25:29AM -0700, Matthieu Boileau wrote:

Will do this weekend!

[2017-10-14 16:43] maartenbreddels opened #732 "Support for LowLevelCallable"
If Pythran could have support for
https://docs.scipy.org/doc/scipy/reference/generated/scipy.LowLevelCallable.html
we can pass it to scipy.integrate.quad etc

[2017-10-24 18:15] #726 closed

[2017-10-24 18:15] serge-sans-paille commented on #726
Closed by #729

[2017-10-24 19:07] serge-sans-paille commented on #732
I've played a bit with the idea, I wonder which interface would be the best? I'd like to do

[code]

but foo is not a regular PyObject, it's a PyCFunction so it cannot receive any extra attribute.

An alternative would be
[code]

but then, what if foo is an overloaded function, like in

[code]

Maybe in that cas ``__native__['foo']`` should be a tuple? a dict indexed by the type?

[2017-10-24 19:09] serge-sans-paille commented on #710
I reognize there are a lot of simple hacky way to achieve this goal, the problem (to me) is that it would introduce a preprocessing step in pythran, which I don't like that much until there's strong evidence it's needed.

[2017-10-24 19:23] maartenbreddels commented on #732
Since the signature is a part of LowLevelCallable argument, maybe it's best to index by that?
[code]

[2017-10-25 15:01] serge-sans-paille commented on #732
The problem is that there is no easy, compiler-indpendenat way to retreive the result type of a compiled function in pythran. What about the following:
[code]

that would solve all my issues, at the expenses of requiring the user to provide the signature.

[2017-10-25 19:35] maartenbreddels commented on #732
I'd say quite confusing having two 'signatures'. So in the above example of:
[code]
You let the compiler work out what the return value type is using auto? Could you maybe force this.. ?
[code]
So it's optional, and only this way it will export to __capsule__ with the signatures?

[2017-10-26 10:12] #708 closed

[2017-10-26 12:42] boileaum opened #735 "Documentation unavailable"
Going to the new documentation webpage <http://pythran.readthedocs.io> currently gives:

[code]

[2017-10-26 13:14] serge-sans-paille commented on #735
Thanks for reporting, should be fixed now.

[2017-10-26 13:15] boileaum commented on #735
Yes it is. Thanks!

[2017-10-26 13:15] #735 closed

[2017-10-28 07:25] #710 closed

[2017-10-28 08:42] serge-sans-paille commented on #687
@ashwinvis #736 should make pythran header resilient to the gcc bug.

[2017-10-28 14:05] ashwinvis commented on #687
I checked out #736 and yes, I was able to pythranize `nd_local_maxima.py` and also able to run `pytest test_ndarray.py` successfully. Since the test suite is pretty huge I did not try everything. See for logs if interested: http://dpaste.com/0D7ZYB5

[2017-10-30 08:47] serge-sans-paille commented on #687
Closed by #736

[2017-10-30 08:47] #687 closed

[2017-10-30 09:42] serge-sans-paille commented on #669
Commit integrated and release some months ago

[2017-10-30 09:42] #669 closed

[2017-10-31 21:35] serge-sans-paille commented on #732
For the record:

[code]

[2017-11-05 09:25] serge-sans-paille commented on #732
@maartenbreddels #737 implements a capsule-compatible solution.

[2017-11-06 17:23] serge-sans-paille commented on #732
I finally came up with another solution. one could specify that some function needs to be exported as native function pointer instead of nortmal python function. Something like

[code]

that would suppress the need for ``natives__`` and allow ``double*`` type only for native signatures.

[2017-11-09 13:43] kif opened #738 "Relative import issue..."
Hi Serge,

Apparently, a relative python import causes pythran to complain with this error.
[code]

It would be great to make the exception message more explicit (at least mention it may be related to relative imports which are not supported)

Cheers,

Jerome

[2017-11-09 19:38] serge-sans-paille commented on #655
Should be fixed by #739

[2017-11-10 12:58] #655 closed

[2017-11-12 16:02] serge-sans-paille commented on #732
Implemnted in #737

[2017-11-17 14:41] serge-sans-paille commented on #738
Fixed in #742

[2017-11-17 14:41] #732 closed

[2017-11-20 06:55] serge-sans-paille commented on #738
Merged. Thanks for reporting!

[2017-11-20 06:55] #738 closed

[2017-11-20 20:26] ashwinvis opened #743 "Allow calling external cythonized functions from pythranized functions"
Maybe I am really naive, and this is not the way it should be done. In some sense this is related to #461.

## Background
Here we show some attempts to implement a function which performs (`$$\vec{u}. \nabla \vec{u_fft}$$`) through a pseudospectral approach. `u` is a 3D vector in `x, y, z` and `u_fft` is its spectral counterpart in `k_x, k_y, k_z`. The gradient operator `$$\nabla \vec{u}$$`) is ca

[2017-11-20 20:46] serge-sans-paille commented on #743
MMMh sounds very interesting. It is currently not possible but that's in my plan. We need to do two things there:

1. allow pythran to accept c function pointer as parameter, e.g. though a ``PyCapsule``
2. Put a cython generated function into a capsule

Note that since 357d4d8e94071dc860afd1a8 it's already possible to put a pythran function in a capsule.

I think @paugier is liklely to be interest

[2017-11-20 20:50] serge-sans-paille commented on #743
For the cython part, a lookup into ``__pyx_capi__`` seems to be enough, great!

[2017-11-20 20:59] ashwinvis commented on #743
Of course, @paugier and me are working together on this. I did read your "Capsule corporation" blog post. Just to be clear, you plan to pass a cython generated function though a `PyCapsule` and that needs to be implemented, right?

On the pythran annotation question: (personally) I would prefer either the "cstyle" (cython users might like that) or the "ml + python" style. "ml" style looks too verb

[2017-11-26 11:05] serge-sans-paille commented on #743
ok, I'll give a try to the cstyle one, that clearly indicates that the fnction must come from C and is not some kind of Python function.

[2017-11-26 19:57] serge-sans-paille commented on #743
see #746 for a not so tested implementation. Turns out it was relatively simple to implement, thanks to pythran magical typing system :-)

[2017-11-26 19:57] serge-sans-paille commented on #743
cc @paugier btw

[2017-11-26 23:27] ashwinvis commented on #743
Yay for the implementation. An example / test would be nice. I tried to use it as follows.

1. Pythranized a file called `pythran/tests/cython/add2.py`
[code]

2. Built the cython extension `pythran/tests/cython/add.py` using `setup_add.py`
3. Test!
[code]
Obviously I am doing it wrong:
[code]

[2017-11-27 08:17] serge-sans-paille commented on #743
It only accepts capsule as first parameter, so you should``#pythran export capsule add2``

[2017-11-27 09:46] ashwinvis commented on #743
So now I changed `add2.py` into
[code]

[code]

If only `add_func` could be a Cython function *automagically* translated into a PyCapsule! We won't need `scipy.LowLevelCallable`.

[2017-11-27 13:12] serge-sans-paille commented on #743
@ashwinvis works out of the box, check the following:

cython file:

[code]

ipython sessions:

[code]

[2017-11-27 14:35] ashwinvis commented on #743
It runs but is buggy. Can you have a look at https://github.com/ashwinvis/cython_capi/tree/master/using_api_keyword?

Clone and simply run inside the directory:
[code]

[2017-11-27 15:57] ashwinvis commented on #743
There is some hope though. It could be possible that Cython's `api` keyword could be buggy. See this simple case (which works!): https://github.com/ashwinvis/cython_capi/tree/master/using_pxd

[2017-11-27 16:22] serge-sans-paille commented on #743
Yeah, you need to make sure the function registered in the capsule actually takes the expected parameters. Feel free to open a bug on cython :-)

[2017-11-27 20:42] serge-sans-paille commented on #743
@ashwinvis what you wanted to do was actually:

[code]

forcing the return type gives you the right signature (here ``int (int, int)``)

[2017-11-27 20:56] ashwinvis commented on #743
You are right. It even works with arrays! Now I need to try this in FluidFFT.

-------- Original Message --------
On 27 Nov 2017, 21:42, serge-sans-paille wrote:

[2017-11-28 21:20] serge-sans-paille commented on #743
Pythran part implemented in #746

[2017-11-28 21:20] #743 closed

[2017-12-02 18:34] alexbw opened #747 "Conda recipe for OSX"
If you point me to the conda recipe, I can build it myself. If I have some time, I can also put it up on conda-forge, which will build for both Linux and OSX continuously.

[2017-12-03 12:01] serge-sans-paille commented on #747
I'm using that: https://gist.github.com/serge-sans-paille/f89a0a4b4da41dbebf898981ba97bc2d

Note that because conda used to ship an old version of gcc, I have my own in my channel. Note sur you need that for osx

[2018-01-04 13:55] diorcety opened #755 "np.any invalid behaviour"
The following code produce incorrect result with pythran
`np.any(np.full((2, 2), 0) > 1) `

[2018-01-05 20:59] paugier opened #759 "Performance issue numpy.random"
On my computer, Pythran is slightly slower than numpy for generation of random numbers.

For example,

[code]
The difference is small but already numpy is not known to be very efficient in generating random numbers (see https://github.com/lemire/fastrand and https://software.intel.com/en-us/blogs/2016/06/15/faster-random-number-generation-in-intel-distribution-for-python). Indeed, the equivalent j

[2018-01-05 21:59] paugier opened #760 "int(s, 16)"
I tried Pythran on the Julia benchmarks https://github.com/JuliaLang/julia/blob/master/test/perf/micro/perf.py

One of the function can not be compiled by Pythran because the second argument of the function int() is not implemented (see https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/__builtin__/int_.hpp).

The function:
[code]
[only_parse_int.txt](https://github.com/serg

[2018-01-05 22:43] paugier opened #761 "concatenate with axis argument + numpy.linalg.matrix_power"
Dear Pythran dev,

Another function from the Julia benchmark that Pythran can not yet compile.

[code]

[only_rand_mat_stat.py.txt](https://github.com/serge-sans-paille/pythran/files/1608127/only_rand_mat_stat.py.txt)

We would need:

- the axis argument of the function concatenate
- numpy.linalg.matrix_power

- as a bonus, the python >= 3.5 syntaxic sugar `a @ b` equivalent to `np.dot(a, b)`.
- t

[2018-01-08 20:12] serge-sans-paille commented on #759
Then this looks ok to me, right? I'm not versed into PRNG, but at least I understand I need to be carefull when dealing with that topic. Pythran uses the samed PRNG as numpy, with the same values :-)

One alternative would be to use a vectorized version, generically written with boost.simd. But I need to think more about that first.

[2018-01-10 07:05] #760 closed

[2018-01-10 15:08] serge-sans-paille commented on #755
Thansk for providing test cases. i can reproduce and start to investigate.

[2018-01-11 06:25] #755 closed

[2018-01-16 11:17] serge-sans-paille commented on #761
All fixed in#767, or so I hope :-)

[2018-01-17 08:35] paugier commented on #761
Great! The three first bullets works fine and we get similar or better perf than Julia on these types of benchmarks.

However, Julia's benchmarks bench a lot the rand functions and Pythran and Numpy are really slower than Julia on the rand functions (see [issues/759](https://github.com/serge-sans-paille/pythran/issues/759)).

[2018-01-17 08:45] serge-sans-paille commented on #761
Which randomnumber generator is julia using? Can you point me to their
implementation,

Comparing different generators does not make sense...

[2018-01-17 09:56] paugier commented on #761
Yes it seems that Julia uses the [Mersenne Twister library](http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/SFMT/#dSFMT) (https://docs.julialang.org/en/latest/stdlib/Random/).

[2018-01-22 13:54] diorcety opened #772 "ImportError: No module named scipy"
Since becf7cf677cbd3bbe81c862051f098baad79acdd, I now have the following error (my code has nothing related to scipy):
[code]

[2018-01-22 14:36] serge-sans-paille commented on #772
mmmh, do you have ``scipy`` installed ? there's no reason you should have it, juste to make you sure you don't.

[2018-01-22 14:38] diorcety commented on #772
No i'm in a virtualenv without scipy

[2018-01-22 14:40] serge-sans-paille commented on #772
Does #773 fix your issue?

[2018-01-22 14:48] diorcety commented on #772
Yes it does

[2018-01-24 10:58] #772 closed

[2018-01-24 10:59] serge-sans-paille commented on #761
good, closing the issue as the original problem is solved

[2018-01-24 10:59] #761 closed

[2018-01-30 14:33] Dapid opened #775 "cannot convert ‘[...] ndarray<bool, 1>’ to ‘bool’ in assignment"
The following code fails to compile:

[code]

Pythran spits a lot, but the last message is: `/usr/include/c++/7/bits/stl_algo.h:4306:12: error: cannot convert ‘{anonymous}::pythonic::types::ndarray<bool, 1>’ to ‘bool’ in assignment`

I cannot find exactly where the error happens, since if I remove the assignment to weights[i], Pythran will optimise out everything from there on. Do you have any tip

[2018-01-30 21:31] serge-sans-paille commented on #775
Thanks for reporting, I'll check that!

[2018-01-30 22:09] serge-sans-paille commented on #775
[code]

reproduces the issue

[2018-01-31 08:53] serge-sans-paille commented on #775
#775 should fix that.

[2018-01-31 17:04] #775 closed

[2018-02-01 13:00] Dapid opened #778 "Segmentation fault on large inputs"
I have the following function:

[code]

With `input_data = np.random.randint(0, 20, (N, 300)).astype(np.int8)` and `threshold=0.3`, works for `N=int(1e4)`, but crashes with a segfault for `N=int(1e5)` (or the same, but even faster with `N=int(1e6)`.  The segfault is triggered by `__memmove_avx_unaligned_erms`.

It doesn't seem to be a memory problem, since the memory footprint of the function is a

[2018-02-01 13:15] serge-sans-paille commented on #778
Thanks for the report, I can reproduce, let's investigate now :-)

[2018-02-01 16:02] serge-sans-paille commented on #778
Got it « Argument 'size' of function malloc has a fishy (possibly negative) value: -1794967296 » Let me understand why this happen :-)

[2018-02-01 18:26] serge-sans-paille commented on #778
@Dapid can you confirm #778 fixes your issue?

[2018-02-01 19:04] Dapid commented on #778
No, same error with pythran from the branch fix/implict-conversion. Does it work for you?

[2018-02-01 20:46] serge-sans-paille commented on #778
Well for 10e6, the result of ``counts = np.sum(input_data == input_data[:, None, :], axis=2)`` as a shape of (10e6, 10e6), which is indeed a bit large. For ``10e5`` it works fine on my laptop.

Ideally we could optimize the two sums passing a tuple instead of a single axis, but that's not supported (yet) in pythran.

[2018-02-02 02:34] alexbw commented on #747
Hey Serge, I don't have any bandwidth right now to help with this, apologies.

[2018-02-02 08:29] #778 closed

[2018-02-02 10:56] Dapid commented on #778
You are right. In my real use, Pythran's lazy evaluation makes it possible to evaluate it using very little memory (for the sizes that work), but it takes forever already with 1e5, so I have to use an alternative strategy. Anyway, `1e6**2 < np.iinfo(np.long).max`, so it should work, or am I missing something?

It would be nice to have an error instead of a segfault, though, if we can know where it

[2018-02-02 12:18] Dapid opened #780 "Differences with Numpy on reduction on bools"
Consider `a = np.random.randint(0, 4, (100, 100), dtype=np.int8)` and:

[code]

The first function works in both Pythran and Numpy and yields identical results, the number of elements over 0.5. The second returns an array of bools on Pythran. Explicitely casting recovers Numpy's behaviour.

[code]

In 1D the behaviour is also correct, even with explicit index:

[code]

[2018-02-02 17:04] serge-sans-paille commented on #780
#781 should fix that, thanks for the endless stream of bug reports :-/

[2018-02-05 10:57] #780 closed

[2018-02-05 14:05] ashwinvis opened #782 "Segfaults while passing a PyCapsule for a cython function with numpy array / memory view input parameters"
See various attempts here: https://github.com/ashwinvis/cython_capi#summary-of-the-different-attempts-in-this-repo

Each directory is a different attempt complete with a Makefile. To get started with spectacular segfaults compare `using_cpython_pycapsule_class` (using integer parameters - **working** example) and `using_cpython_pycapsule_class_array` (using array parameters **not working**).

cc:

[2018-02-05 15:10] paugier opened #783 "`python setup.py develop` to work on pythran code?"
Hi,

I'd like to work on pythran code and I try to use `python setup.py develop`. It would be nice to be able to use this instead of `python setup.py install`.

It does not work because g++ does not find header files.

I remember that I read something about this issue in the documentation but I can not find it anymore. Did I dream?

What is the recommend method to install pythran when one wants to

[2018-02-05 15:48] serge-sans-paille commented on #783
I usually just do that:

[code]

then ``export PYTHONPATH=$PWD:$PYTHONPATH``

The only things that changes is calling `python -m pythran.run` instead of `pythran`

[2018-02-07 13:24] paugier opened #784 "Enhancement: also print types given to the function for Pythran TypeError"
It would be convenient to get information about the type of the objects given to the function in such error log:
[code]
It would be much easier to spot where the problem lies.

[2018-02-07 14:12] paugier opened #785 "Regression Pythran 0.8.4: np.float64 not recognized as float"
With the module:
[code]
we can get anomalous behaviour:

[code]

Remark: same thing with `np.complex128`.

Note that with pythran 0.8.3, it works (even with integer, which was nice):
[code]

[2018-02-07 17:41] flothesof opened #786 "jupyter notebook magic: is it possible to hide warnings generated by Pythran?"
Hi @serge-sans-paille,

thanks for continuing to put a lot of work into Pythran.
I'm mostly using Pythran from the Jupyter Notebook, using the nice %%pythran.magic command.
However, this always leads to a lot of output that I don't want to see in my notebook, that is, mostly warnings from the compiler.
An example here can be found here on my blog: [http://flothesof.github.io/optimizing-python-code

[2018-02-07 18:47] serge-sans-paille commented on #786
Do you have the same behavior using the CLI?

What is the output of

[code]

[2018-02-07 20:07] serge-sans-paille commented on #785
side note : the last case

[code]

Is no longer accepted becaused it was incompatible with correct overload. There would be no way to distinguish between

[code]

and

[code]

when calling ``myfunc(1, 1)``, so better be slightly more strict.

[2018-02-07 20:21] flothesof commented on #786
Thanks for your reply.

Yes, I have identical behaviour with the CLI.

See my output here:
https://gist.github.com/flothesof/2d7870ea80c0a676501c97e662bf374a

[2018-02-08 08:01] serge-sans-paille commented on #786
Can you confirm #788 fixes the issue?

[2018-02-08 15:22] flothesof commented on #786
Hi,

thanks for being so quick.
I checked out your branch with the fix, created a clean Python 3.6 environment for testing and ran the CLI again.
I still get warnings.
When I run the pythran command with the -v flag, I get the following output:
[code]

Any clues?

Thanks for your help.
Florian

[2018-02-08 15:23] flothesof commented on #786
Searching for `c++11 -fno-math-errno` in my output, it looks like that the  -w flag does not get passed as extra args, am I right?

[2018-02-08 17:25] serge-sans-paille commented on #786
Yes, that's strange. Do you have a custom ``.pythranrc`` ? If not did you setup.py install from the branch that includes myfix?

[2018-02-09 06:31] #785 closed

[2018-02-09 07:23] flothesof commented on #786
No, I don't have a custom `.pythranrc`.

I installed pythran like this:
- git chekout fix/verbose-mode-osx
- python setup.py develop

Here's my git status:
[code]

[2018-02-09 07:36] flothesof commented on #786
As you mentioned to do setup.py install, I uninstalled via pip and reinstalled with python setup.py install in my test environment.

This time:

- I got an error when calling pythran a.py from the CLI that I didn't have numpy installed
- it turns out numpy is not in the requirements.txt so this is logical
- I therefore installed numpy
- and suddenly it works!

I just get some high-level warnings:

[2018-02-09 08:13] paugier commented on #785
I confirm that the problem is solved with the master branch.

It would be very convenient to have a 0.8.4.post1 release with this bug fix.

[2018-02-09 10:32] serge-sans-paille commented on #786
Good to ear. I never use ``setup.py develop``, I'm going to document on that :-)

[2018-02-09 10:44] #786 closed

[2018-02-09 10:51] serge-sans-paille commented on #785
Done! see https://pypi.python.org/pypi/pythran/0.8.4.post0

[2018-02-12 12:56] flothesof commented on #786
Just for the record, here is a good link describing the difference between setup.py develop and setup.py install.
https://stackoverflow.com/questions/19048732/python-setup-py-develop-vs-install
Bottom line: don't use any of them!

Instead use:

`pip install .` (install)
`pip install -e .` (developer install)

[2018-02-13 17:54] serge-sans-paille commented on #784
:+1: I'll implement that

[2018-02-14 07:41] serge-sans-paille commented on #784
#789 improves the situation, but it's not perfect: it prints ``list`` for a list, ``ndarray`` for a numpy array, whatever their content. Works of for non-container types.

[2018-02-14 08:56] serge-sans-paille commented on #782
Thanks! I assume the relevant points for pythran are:

- using_api_keyword
- using_cpython_pycapsule_class_array

[2018-02-14 22:23] #784 closed

[2018-02-14 22:45] serge-sans-paille commented on #782
@ashwinvis you're using a numpy array signature for a capsule, which is not supported. Please read http://serge-sans-paille.github.io/pythran-stories/the-capsule-corporation.html#capsule-and-numpy for the proper way to do that.

Note: I'll try to issue an error message in that case.

[2018-02-15 09:58] serge-sans-paille commented on #782
@ashwinvis can you try with #790 ?

[2018-02-15 10:38] ashwinvis commented on #782
OK, so only native C types are supported for a capsule. No numpy or memory-view types. Got it.

[2018-02-15 11:14] ashwinvis commented on #782
`using_api_keyword` gives error messages :+1: , but not with `using_cpython_pycapsule_class_array` - it builds and segfaults.
[code]

[code]

[2018-02-15 16:41] diorcety opened #791 "List concatenation"
The following simple example doesn't compile using pythran

[code]

[2018-02-15 17:12] ashwinvis commented on #791
I am a bit confused by your annotation. Shouldn't it be `int32 list list` or as shown below?

Anyways, how about
[code]

[2018-02-15 17:19] ashwinvis commented on #791
Or...
[code]

[2018-02-15 17:53] serge-sans-paille commented on #782
@ashwinvis yep, the function accepted as parameter has to be a capsule itself, so the same type constaints apply, at least for the arguments. i'll enforce that.

[2018-02-15 17:54] serge-sans-paille commented on #791
If I understand coorectly, he means concatenate two lists of arrays into a single list of array, coorect?

[2018-02-15 19:38] diorcety commented on #791
@serge-sans-paille You are right.

[2018-02-16 09:11] serge-sans-paille commented on #782
@ashwinvis after some thoughts, I decided to remove the checks on capsule arguments. The checks are valid in your case, but I can see a situation where a Pythran function would use a pythran-generated capsule. And in that situation, it is perfectly legit to pass arbitrary types as parameters.

That's the issue with capsule: they are opaque and if you don't use them with care, you just get a segfau

[2018-02-16 09:12] #791 closed

[2018-02-16 15:17] diorcety commented on #791
Thanks

[2018-02-18 20:03] #702 closed

[2018-02-18 22:52] paugier opened #794 "Improve function docstring for Sphinx"
Building documentation with Sphinx of a project containing Pythran functions leads to rst warnings ("WARNING: Definition list ends without a blank line; unexpected unindent.") because there is no line between the supported protocols and the function docstring. For example:

[code]

One more '\n' would be useful:

[code]

It would be even better to put the first line of the docstring (which has a s

[2018-02-19 06:22] serge-sans-paille commented on #794
PR are welcome, see https://github.com/serge-sans-paille/pythran/blob/master/pythran/toolchain.py#L132 and https://github.com/serge-sans-paille/pythran/blob/master/pythran/toolchain.py#L170 :-)

[2018-02-19 15:30] paugier opened #796 "Huge memory consumption and/or crash (pythran 0.8.4.post0)"
I am not able anymore to compile this code with Pythran 0.8.4.post0. It compiles fine with Pythran 0.8.3.

[code]

With Pythran 0.8.4.post0, g++ consumes too much memory (more than 12 Go) and finally crashes...

Same behavior with GCC 4.9 and 5.4...

[2018-02-19 19:30] serge-sans-paille commented on #796
Funny enough: we added getter computation of range values, so we can now infer that a[(i,j)] only involves positive index, so fast indexing can be used, but this was not implemented for generalized expression, so it created a big error, so big that it made... the compiler swap. Should be ok with #797

[2018-02-20 07:12] flothesof opened #798 "[doc improvement] state that pythran supports Python 3"
Hi @serge-sans-paille
I just noticed that the readme says the following:
"Pythran supports Python 2.7 and also has a beta Python 3 support."
Wouldn't it be time to remove the word "beta" from the readme?
My point is: this probably scares new users away.
I've used pythran for a couple of months now, exclusively under Python 3, so I feel that saying it's a *beta* is far from the truth: it works very

[2018-02-20 08:33] #783 closed

[2018-02-20 09:56] serge-sans-paille commented on #798
I'd like to 1. obsolete long support and 2. have the whole test suite validate on Python3 before updating the doc. A matter of months, as we are part of http://python3statement.org/

[2018-02-20 19:56] flothesof commented on #798
Hi. Thanks for explaining your position on Python 3. Actually, I've just noticed that you don't show your Travis badge in the repo readme. Wouldn't it be a good idea to show that you've deployed CI?
(side note: how come your tests are taking so long to run on Travis?).
Anyway, I'll close this issue since it's not very useful.

Regards,
Florian

[2018-02-20 19:56] #798 closed

[2018-02-21 10:58] #796 closed

[2018-02-22 10:04] serge-sans-paille commented on #798
On Tue, Feb 20, 2018 at 08:13:41PM +0000, Florian LB wrote:

probably, yes :-)

validating the whole pythonic API with the corss product of simd, clang
gcc, openmp, python2, python3 :-)

[2018-03-02 19:32] cycomanic opened #800 "issue with axis argument to argmax/argmin"
Not sure if I'm doing something wrong but I'm trying to do some work where I need to get the argmax/argmin values along one axis of a 2D array. However I'm getting compilation errors. The simplest test case is:
[code]
which results in a long list of  `template argument deduction/substitution failed:` errors with the following sections:
[code]
if I understand this correctly pythran assumes it shoul

[2018-03-03 18:03] serge-sans-paille commented on #800
Thanks for the bug report, I can reproduce it, it's just that we don't
support argmax along an axis. I'll implemment that!

[2018-03-04 14:01] cycomanic opened #801 "some performance differences"
Hi,
I'm doing some tests to see if I should move my cython code over to pythran (mainly for maintenance reasons). I'm trying to understand some of the performance implications of vector or loop operations. I wrote one test case, which I don't quite understand the reasons for the difference seen in the three cases below:
[code]

If I run this I get the following:
[code]
One thing I don't quite unde

[2018-03-04 15:12] cycomanic commented on #801
Sorry missed copying one line s and sc look like this:
[code]

[2018-03-04 15:51] serge-sans-paille commented on #801
Thanks for the detailed feedback! Could you run the bench with OpenMP too?

[2018-03-04 15:52] serge-sans-paille commented on #801
You can also try adding that to your ``~/.pythranrc``:

[code]

[2018-03-04 17:03] serge-sans-paille commented on #801
Without OpenMP, I get

[code]

So the problem is likely related to nested paraelism (OpenMP triggers //ion of the np.abs computation too).

[2018-03-04 17:44] cycomanic commented on #801
OK slightly different formatting (easier to run this with pytest). The array length are slightly longer s is 2**20 items and sc 128 items. Below the numbers, method0 is my cython method method 4 is like this:
[code]

all the other methods are like above. :

Without complex_hook=True
[code]

With complex_hook =True
[code]

Regarding OpenMP did you mean without (I assume my directives mean I have op

[2018-03-05 14:50] cycomanic opened #802 "Return function or capsule from function"
In my application I have a main processing loop which runs a couple of subfunctions. One of them is an error fct which should be configurable, which in cython I pass to the function as an cdef object. This errorfct always has the same signature, but typically has some different constants associated with it, which I currently set up when creating it.

Typically the main process function signature w

[2018-03-05 15:21] serge-sans-paille commented on #802
Sounds like a very interesting scenario. I don't have time to keep up
with all your issues but I'll check that once the armin/max with axis si
implemented :-)

[2018-03-05 21:56] cycomanic commented on #802
No worries. I appreciate how much time you put into this. Unfortunately my C++ is years ago (and even then I was not even using templates. However I have some time after a deadline in 2 weeks, so I might try my hands on some PRs. Also have you considered getting a DOI for pythran? Makes citing easier

[2018-03-06 08:09] ashwinvis commented on #802
@cycomanic  There are 2 articles. I don't have a DOI though

[code]

[2018-03-06 11:37] serge-sans-paille commented on #800
Can you confirm #803 fixes your issue?

[2018-03-06 18:03] serge-sans-paille commented on #802
@ashwinvis yes, I'll update the doc accordingly.

[2018-03-06 18:10] serge-sans-paille commented on #802
Done in 26b0b66a1af00b2c9f59640a2349c4b568040219

[2018-03-06 19:19] diorcety opened #804 "Non determinist compilation error?"
Here two function doing exactly the same thing the only difference is the input "format.
I had very strange behavour on that, sometime it's compile sometime not.
For example the following example it doesn't compile (something related to __pythran_modone::get_new_image_reference::operator())
but if I remove XXX from `# pXXXythran export aabb(int32[][] list, int[][])`, the compiler doesn't complain

[2018-03-06 19:21] diorcety commented on #804
Doing `imref = np.where(True, exdata[0], exdata[0])  # Pythran fix` this to fix this issue ... but the behaviour is suspect

[2018-03-06 19:23] diorcety commented on #804
Not on this example but on the real code, sometime the compilation worked, sometimes not, retry multiple times allow to make it works ... (clang 3.8)

[2018-03-06 19:24] diorcety commented on #804
Full error: https://pastebin.com/rH6D21qT

[2018-03-06 19:36] serge-sans-paille commented on #804
Hi diorcety. I have commited recently a fix that makes the build more reproducible. Are you using master version?

[2018-03-06 19:45] serge-sans-paille commented on #804
Using master version and the code above (with the XXX)

[code]

does not give me any error (yet)

[2018-03-06 19:57] serge-sans-paille commented on #802
@cycomanic tehre's an issue with your request: although it sounds great, there is no way pythran could generate a capsule from the definition of ``errfct``. Indeed, it's a polymorphic function, something that cannot be represented by a function pointer and thus it cannot be put in a capsule.

[2018-03-07 07:56] diorcety commented on #804
Indeed my branch was less than 2 month old, but rebasing on master make it works. Thanks

[2018-03-07 07:56] #804 closed

[2018-03-07 08:04] cycomanic commented on #802
Maybe  I did not make the example clear enough (or I always misunderstood polymorphic functions).
errfct would always have the same signature e.g. complex(complex).

I was under the impression that a polymorphic function means a function which take input parameters which can have different types (and possibly act accordingly), for the behaviour I'm talking about I would  use global variables in C.

[2018-03-07 13:00] serge-sans-paille commented on #802
*you* known that ``errfct`` ihas complex(complex) signature, but there is no way to deduce that from the code above. It coul as well be an array of complex. And it could be complex128 complex64.

[2018-03-07 13:54] serge-sans-paille commented on #802
first option would be possible but requires a lot of work and that's definitively not in my top priority list. Second option would work, just pass a tuple instead of a struct and that should be OK.

[2018-03-07 22:06] cycomanic commented on #802
Oh, this is awesome! I did not realise I can pass tuples to capsules. I assumed only c-types would work. I think this would be a good addition to the manual.

[2018-03-08 14:34] cycomanic commented on #800
Great thanks!

[2018-03-08 14:36] Dapid opened #805 "Copying in Fortran order"
The following script fails to compile:

[code]

In my application, the memory access is much more suitable for Fortran order. What can we do about it? Is Pythran smart enough to recognise and do the transformation on its own, or should I rewrite the algorithm?

[2018-03-08 15:03] serge-sans-paille commented on #805
If the memory order of the input array is in Fortran style, Pythran represents that using a transposed matrix (this may not be a nice choice). We don't dont do anything smart on your case, but we should, as the default behavior of np.copy is to match the original data layout. I'll check that.

[2018-03-08 15:48] Dapid opened #806 "Pythran cannot return objects of different types"
This works:
[code]

But this doesn't:
[code]

The error message is: `E: function may returns with incompatible types `Tuple[int, T0, T1]` and `Scalar` (a.py, line 8)`

It would be nice to be able to return objects of different types. For now I can return the scalars and write on the vectors, passed as inputs.

[2018-03-08 16:21] cycomanic commented on #800
Sorry, my answer might be not clear enough, yes #803 fixes my issue

[2018-03-09 10:10] serge-sans-paille commented on #806
this code works perfectly fine on my setup, which pythran version are
you using?

[2018-03-09 15:00] paugier opened #807 "Explicit loops significantly faster than array multiplications (even with SIMD)"
The code to try to reproduce this is here (with a Makefile to compile and do the benchmarking with perf): https://bitbucket.org/fluiddyn/fluidfft/src/master/bench/pythran_implicit_loop

The python code:

[code]

On my computers, the implementations with explicit loops are significantly faster than the one with the array multiplications. I try to add the SIMD precompiler flag but it does not change

[2018-03-09 17:41] jeanlaroche opened #809 "Compilation error for np.exp and complex numbers"
I'm seeing a compilation error for this simple code:
`#pythran export adjustRots(complex[])
def adjustRots(rots):
    N = rots.shape[0]
    rr = np.random.random(N)
    for jj in range(N):
        rots[jj] = np.exp(2j * np.pi * rr[jj])  # This does not work
        rots[jj] = np.cos(2 * np.pi * rr[jj]) + 1j * np.sin(2 * np.pi * rr[jj])  # This does work`

I'm using  pythran 0.8.4post0 on MacOs 10.

[2018-03-09 20:22] serge-sans-paille commented on #809
I can reproduce the issue, I'm investigating that :-)

[2018-03-10 08:44] serge-sans-paille commented on #805
@Dapid does #810 somehow fixes your issue? It's not possible to support the ``order`` argument in Pythran, but as of now, ``np.copy`` at least respect original memory order.

[2018-03-10 10:07] serge-sans-paille commented on #809
The problem is due to boost.simd that does not support complex number for several operations. I'll use ``std::`` as a fallback.

[2018-03-12 11:05] serge-sans-paille commented on #809
@jeanlaroche can you confirm #811 fixes your issue?

[2018-03-12 15:12] Dapid commented on #806
Strange... I swear it was failing for me, but I cannot longer replicate.

[2018-03-12 15:12] #806 closed

[2018-03-12 15:15] Dapid commented on #805
Not quite. I want to change the order of the array. I have adapted the code to use the transpose outside of Pythran.

Any chance changing the alignment will be supported in the future? Otherwise, I think it would be good to document it as a limitation.

[2018-03-12 16:14] Dapid opened #812 "In place modification of arrays doesn't work"
Using __iadd/sub/mult...___ on arrays doesn't work. An explicit for loop does:

[code]

[code]

Note that:

[code]

Returns the correct values, but vector is still untouched.

[2018-03-12 17:00] #805 closed

[2018-03-12 19:59] serge-sans-paille commented on #812
I can reproduce the bug. amusingly, it does not trigger for the + operator.

[2018-03-13 13:39] diorcety opened #814 "Unrelated no member named 'fbegin' ?"
I can't understand why a compilation error is triggered with the following example

[code]

[2018-03-13 15:14] Dapid commented on #806
I think I found the original cause of the problem, I'm writing it for future references. I changed a function to return two objects instead of one, but I didn't see it had a special case with an early return, hence the incompatible types.

I do not know why the example was failing, or what made it stop failing.

[2018-03-13 15:22] serge-sans-paille commented on #806
ok, got it:

Pythran does not support returning different types. If you write this

[code]

Then this code is not considered as statically typable, as the return
type depends on runtime value of ``n``.

Is that your situation?

[2018-03-13 20:56] Dapid commented on #806
No, it was actually a mistake. Pythran prevented me from a hard crash in a corner case, so that is good.

[2018-03-14 07:12] #809 closed

[2018-03-15 11:42] serge-sans-paille commented on #814
I cannot reproduce :-/

[2018-03-15 12:06] diorcety commented on #814
Here the logs: https://pastebin.com/tEPC77nR

[2018-03-15 12:31] serge-sans-paille commented on #814
Got it, thanks!

[2018-03-15 21:16] #800 closed

[2018-03-16 10:39] Dapid opened #819 ""no match for call" with uint64"
The following script fails to compile with a large amount of compiler output. The same computation in uint32 or int64 compiles.

[code]

Beginning of compiler error:
[code]

[2018-03-16 19:15] serge-sans-paille commented on #819
Thanks for the restless reports :-)

This one was relatively easy to solve: `expanded_cols` is a uint64 wich was not  avalid shape type for pythran. I'll push a patch soon but meanwhile you can just use the following version:

[code]

[2018-03-16 20:11] Dapid commented on #819
No problem, anything to make it better! One of this days I will study the
developing tutorial, so I can contribute some code.

On Fri, 16 Mar 2018 8:16 pm serge-sans-paille, <notifications@github.com>
wrote:

[2018-03-17 11:41] #812 closed

[2018-03-17 11:42] serge-sans-paille commented on #819
Should be fided by #820

[2018-03-17 20:11] serge-sans-paille commented on #819
Closed by #820

[2018-03-17 20:11] #819 closed

[2018-03-19 09:53] diorcety opened #821 "Python 3: use of overloaded operator '[]' is ambiguous"
I have a compilation issue with a python 3 which doesn't occur with python 2
[code]

[2018-03-19 10:03] diorcety commented on #821
Oups replacing / with // make it works

[2018-03-19 10:03] #821 closed

[2018-03-19 16:03] Dapid opened #822 "int8 give wrong results"
Consider this program_
[code]

Call with:
[code]

On the released version of Pythran, the terminal output is mysterious:
[code]
but it rightfully returns a 2.

On Pythran master, it returns -128. The screen output is:

[code]

[2018-03-19 16:07] Dapid commented on #822
It seems that the problem happens only with min/max, but x[0] is correct.

[2018-03-19 16:48] serge-sans-paille commented on #822
Got it, and the fix is under testing :-)

[2018-03-19 16:59] serge-sans-paille commented on #822
#823 should do the trick!

[2018-03-20 14:01] rolanddenis opened #824 "Cannot reshape or wrong reshape"
Hello,

I have some issues while reshaping numpy arrays. Considering this minimal example:
[code]

I get, using Pythran 0.8.4post0:
[code]

Considering another shape:
[code]
it compiles fine but the array is not reshaped:
[code]

[2018-03-20 14:09] serge-sans-paille commented on #824
Your reshape call is incorrect (as in *invalid in Python*). Use

[code]

[2018-03-20 14:22] rolanddenis commented on #824
My bad, I didn't check the doc since it works in Python ...

(Huh, in fact, it is a supported syntax, see https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.reshape.html )

[2018-03-20 14:56] rolanddenis opened #825 "Swapping row does nothing"
Hello (again),

#824 was a step while searching why one of my Python code doesn't output the same result when compiled with Pythran.

Here is a minimal example:
[code]
outputs
[code]
while, using Pythran:
[code]

By the way, I've try to work around using `A[1,:].copy()` but C++ compilation failed. I had to use `tmp = numpy.array(A[1,:])` instead and my code now works fine and much faster :wink: (g

[2018-03-20 20:57] serge-sans-paille commented on #824
Got it! The problem comes from pythran that uses np.reshape in place of calling the method. And they have slightly different interface :-/

[2018-03-20 20:58] serge-sans-paille commented on #825
Thanks for the report! I can reproduce the issue, working on it :-)

[2018-03-20 22:33] jeanlaroche commented on #809
Sorry for some reason I didn't get notified of your response! :( Testing now! Thanks a bunch. Will let you know.

[2018-03-21 15:59] #824 closed

[2018-03-21 16:08] serge-sans-paille commented on #822
Closed by #823

[2018-03-21 16:08] #822 closed

[2018-03-21 16:08] serge-sans-paille commented on #618
@aguinet up?

[2018-03-21 16:27] jeanlaroche opened #827 "Compilation error on simple <= 0 test"
I'm encoutering a bug: the following code results in a compilation error:
[code]

I'm using version 0.8.4post0 on MacOS 10.12.6

[2018-03-21 17:54] rolanddenis commented on #824
Thanks !

[2018-03-21 18:40] serge-sans-paille commented on #827
I fail to repdouce the error... can you test from master version and provide me with the error log (if any ?)

[2018-03-22 19:59] #825 closed

[2018-03-26 18:16] aguinet commented on #618
Seems like we still have an issue: https://pastebin.com/MyqWjSEb

[2018-03-26 18:44] aguinet commented on #618
Ok sorry about that.. Closing it!

[2018-03-27 19:02] nbecker opened #831 "Add dtype keyword to np.eye"
Here's the offending line:

    CPM_unpaired_tmp   = np.eye(Zc, dtype=int);
E: function uses an unkown (sic) (or unsupported) keyword argument `dtype` (nr_encoder.py, line 75)

[2018-03-27 20:48] serge-sans-paille commented on #831
Welcome back @nbecker ! there was a bug in the argument inspect code, should be fixed by #832. Thanks for reporting!

[2018-03-28 15:32] nbecker opened #833 "g++ error (involving sum I believe)"
The following code results in a g++ error
(and the longest error message in history!)
https://gist.github.com/nbecker/37393e16d5ae8044e37e80b040c4e548

[2018-03-28 19:16] serge-sans-paille commented on #827
@jeanlaroche up?

[2018-03-28 19:17] serge-sans-paille commented on #807
@paugier which compiler are you using? Any relevant extra flags in your `.pythranrc` ? I fail to reproduce such differences...

[2018-03-28 19:20] serge-sans-paille commented on #833
14147 lines of error :-) mmmmh, tasty!

[2018-03-28 19:40] nbecker commented on #833
Did I set the record?  Is there a prize??

[2018-03-28 19:52] serge-sans-paille commented on #833
:-) That's not a metric I'm keeping track of :-)

there's two constructs pythran does not support (yet) in tour code:

- indexing with a list and an integer (as in ``Lq[i,Nij]``)
- removing from a list view (as in ``Nij.remove(j)``) # actually pythran considers this as a view but Python does not

Thanks for providing such a delicate test case, food for thoughts :-)

[2018-03-28 19:55] serge-sans-paille commented on #833
The following compiles correctly (but is the result correct?) with an upt-o-date master

[code]