[2018-03-28 23:11] paugier commented on #807
These results were obtained with gcc (4.9 and today I get something similar with gcc 5.4.0).

The performance differences are smaller with clang, especially with SIMD.

I added comparisons between clang and gcc for the 2d and 3d cases here https://bitbucket.org/fluiddyn/fluidfft/src/master/bench/pythran_implicit_loop (files `results*d.txt`).

No particular extra flags in my `.pythranrc`, just `com

[2018-03-29 05:52] serge-sans-paille commented on #807
And if you set it to False ?

[2018-03-29 07:54] paugier commented on #807
Complex computations are slower without `complex_hook`, and explicit loops are still faster.

You can compare:
- https://bitbucket.org/fluiddyn/fluidfft/src/default/bench/pythran_implicit_loop/results2d.txt
- https://bitbucket.org/fluiddyn/fluidfft/src/default/bench/pythran_implicit_loop/results2d_complex_hook_False.txt

[code]

[2018-03-29 11:39] nbecker commented on #833
Thanks.  Compiles using current released version, but output is not correct
:(

On Wed, Mar 28, 2018 at 3:55 PM serge-sans-paille <notifications@github.com>
wrote:

[2018-03-29 15:43] nbecker commented on #833
Good news, I've got it working.  The time spent in my test program in the decoder function dropped from 95% in the best python version to 89% in the pythran version.
The working code is here https://gist.github.com/nbecker/a1085d485a1e63d6126820a255302d3e

Along the way, I found that if I mistakenly wrote e.g.,
extrinsic[j] = sum(np.array(Lr[Mj][j]))
instead of:
extrinsic[j] = sum(np.array(Lr[Mj][

[2018-03-30 13:24] serge-sans-paille commented on #833
@nbecker I improved your code while improving pythran too, check the HEAD of fix/ldpc-decoder branch and the source code in pythran/tests/cases/ldpc-decoder.py and tell me about the speedups :-)

[2018-03-30 13:33] #831 closed

[2018-03-30 13:35] nbecker commented on #833
looking at the test case, I guess we still have to write
G(Lq[i][Nij]
instead of
G(Lq[i,Nij])
correct?

[2018-03-30 14:01] serge-sans-paille commented on #833
correct!

[2018-03-30 15:40] nbecker commented on #833
Here's the latest version
https://gist.github.com/nbecker/c00202dc72a343a27923a1ad408c9e90
In 2 places, I factored out common subexpressions from the inner for loops.

The code compiles (yay!) with latest pythran from git (yay!) and speed has improved.

[2018-03-30 15:44] nbecker opened #837 "undefined symbol"
This slightly modified version:
https://gist.github.com/nbecker/19b670b0652e9d769bf5e95cd5ba79e2

Gives:
ImportError: ./G.so: undefined symbol: _ZNK12_GLOBAL__N_18pythonic5types7ndarrayIdLm2EEixIlEEDTixdefpTcl3getILi0EEfp_EERKSt5tupleIJT_EE

When compiled with the latest pythran git

[2018-03-30 15:49] serge-sans-paille commented on #833
Can you provide me with relevant arguments so that I can run benchmarks
on my own? I tried that

[code]

[2018-03-30 15:52] serge-sans-paille commented on #837
You're playing with a WIP dev branch, don't be afraid :-)

[code]

I'll add this missing def at once :-)

[2018-03-30 16:42] diorcety commented on #814
`data[data == 0] = np.nan` seems to crash also ...

[2018-03-30 16:49] jeanlaroche commented on #827
Tried with a fresh clone of master. Still getting the error. Here's the compilation error:

   `In file included from /var/folders/j6/7t8sg1vj4q97zhh9z5cdmxbm4rz935/T/tmp_81yA3.cpp:11:
In file included from /Users/jlaroche/temp/PythranBugs/JeanFOO/lib/python2.7/site-packages/pythran-0.8.4.post0-py2.7.egg/pythran/pythonic/include/numpy/round.hpp:4:
In file included from /Users/jlaroche/temp/Pythran

[2018-03-31 00:37] nbecker commented on #833
OK, try this one.  You should only also need to install pyldpc, but that is available via pip (pypi)
[ldpc2.zip](https://github.com/serge-sans-paille/pythran/files/1865050/ldpc2.zip)

[2018-04-02 12:53] nbecker commented on #833
I see the function phi0 translates to
  return (-pythonic::math::functor::log{}(pythonic::math::functor::tanh{}((pythonic::operator_::div(x__, 2L)))));

The use of '2L' seems suspicious here, this is a floating divide, not integer.  Does it matter?

[2018-04-02 16:43] serge-sans-paille commented on #833
No it does not :-)

[2018-04-03 05:20] serge-sans-paille commented on #837
#838 should fix that (?)

[2018-04-03 05:29] serge-sans-paille commented on #833
Can you confirm #838 fixes these issues?

[2018-04-03 12:27] Dapid opened #839 "Cannot run bincount on slices"
This fails to compile:

[code]

But on a simple vector, it works:
[code]

Running Pythran master.

[2018-04-03 14:10] nbecker commented on #833
The version I'm testing has tags default/fix/ldpc-decoder and includes "Various view improvements".  I'm afraid I'm using mercurial not git (via hg-git plugin), so it's a little hard to compare versions but I think this is the version you're asking about. Still haven't become familiar with using git.

This one is working with the test code I sent.  However if I comment out the Nij = list(Ni) and c

[2018-04-03 15:08] serge-sans-paille commented on #839
@Dapid should be fiexed by #840

[2018-04-04 07:24] #839 closed

[2018-04-04 10:07] Dapid commented on #839
Thanks!

[2018-04-04 11:34] Dapid opened #842 ""Invalid call to pythranized function" on valid call"
I have defined a function and annotated it as:
[code]
When calling it, I get:

[code]

The array is of shape (480, 480), and dtype is float64. Strangely, when I cut the function out to provide an example, it works.

Any idea what is going on here? Any tips to debug? Is my annotation wrong?

[2018-04-04 12:51] Dapid commented on #842
That didn't work. Neither does making an explicit copy.

The mJ array comes from scipy.linalg

[code]

Gives:

[code]

Copy or not, it fails with:
[code]

[2018-04-04 15:25] jeanlaroche commented on #827
I tried again with the latest version pulled from git. Still getting the issue:
Log is attached.
[code]
[log.txt](https://github.com/serge-sans-paille/pythran/files/1876431/log.txt)

[2018-04-04 17:15] serge-sans-paille commented on #842
I fail to reproduce... even when getting the function input with same falgs are yours; Are you on master?

[2018-04-04 17:16] #837 closed

[2018-04-04 18:09] Dapid commented on #842
I am on master, yes. The strange thing is that it only fails when running as a part of the big program, not when I isolate it.

Is there any way I can make the error message more verbose?

[2018-04-04 19:32] serge-sans-paille commented on #827
note:

[code]
This one does not make sense (the result of np.round is a scalar, it does not have an ``astype`` member

[2018-04-04 20:10] serge-sans-paille commented on #827
branch fix/nearbyint may solve your issue, can you check?

[2018-04-04 20:15] jeanlaroche commented on #827
Well, apparently yes:
[code]

[2018-04-04 21:36] jeanlaroche commented on #827
branch fix/nearbyint does not solve my problem.
[log.txt](https://github.com/serge-sans-paille/pythran/files/1877792/log.txt)

[2018-04-04 22:21] jeanlaroche opened #843 "Compile error on 2-dim and 3-dim arrays"
I'm running into this compilation error

[code]
NOTE: The error does not occur if I return R instead of Y, so the error is in XX * R[:,None]

[log.txt](https://github.com/serge-sans-paille/pythran/files/1877944/log.txt)

[2018-04-05 08:14] Dapid commented on #842
You can find the full example here:

https://github.com/ElofssonLab/pyGaussDCA/tree/

Go to src and run _test.py. It fails on Pythran master.

[2018-04-05 13:17] nbecker opened #844 "np.bitwise_xor.reduce gives error"
This line:

            if np.bitwise_xor.reduce([x[b] for b in Bits[i]]) != 0:

gives:
Traceback (most recent call last):
  File "/home/nbecker/.local/bin/pythran", line 11, in <module>
    load_entry_point('pythran==0.8.4.post0', 'console_scripts', 'pythran')()
  File "/home/nbecker/.local/lib/python3.6/site-packages/pythran-0.8.4.post0-py3.6.egg/pythran/run.py", line 150, in run
    **compile_f

[2018-04-05 18:12] serge-sans-paille commented on #843
#846 should do the trick :-)

[2018-04-05 18:41] nbecker opened #847 "alternative implementations for python dict?"
In my current iteration of ldpc decoder, pprof shows the dominant operation is due to use of a python dict, which is converted to std::map (I believe).

Is there any chance to experiment with alternative implementations?  It might be nice to compare with hash table for example.

[2018-04-05 19:07] jeanlaroche commented on #843
I confirm that 846 fixes the issue...

[2018-04-05 19:18] jeanlaroche opened #848 "long64 vs long"
I ran into an issue where a pythraned function was declared as
[code]
But was called from python with a numpy int which by default is an int64 whereas the default python int is a regular int. Is there a way to fix that automatically without having to either:
- transform the input param upon calling: int(value)
- declare the function as `pythran export myFunc(int or int64)`

This is especially prob

[2018-04-05 19:57] serge-sans-paille commented on #847
It's converted to std::unordered_map. The conversion is mandatory
(there's not a single drop of Python C API in pythran kernels), but
there's probably room for improvment, that's not a code area I've
benchamrked a lot :-)

[2018-04-05 19:59] serge-sans-paille commented on #848
I'm puzzled, int (in pythran signature) defaults to a native long, which
can be int32 or int64 depending on the plaform.

Why don't you just force int64 in the pythran export? It should work for
python int and numpy int.

[2018-04-05 19:59] serge-sans-paille commented on #843
On Thu, Apr 05, 2018 at 07:07:13PM +0000, jeanlaroche wrote:

Cool \o/

[2018-04-05 21:03] jeanlaroche commented on #848
I hadn't thought of that! I tried it, but that breaks something else in pythran.
`error: no matching function for call to object of type '(anonymous namespace)::pythonic::numpy::functor::empty'
    typedef typename pythonic::assignable<decltype(std::declval<__type44>()(std::declval<__type51>(), std::declval<__type52>()))>::type __type53;
                                                   ^~~~~~~~~

[2018-04-05 21:37] jeanlaroche commented on #827
BTW, j’ai fini de compiler ma grosse fonction avec pythran, et au final ca marche! J’ai maintenant une bonne implementation en C++. Elle est un peu plus lente que ce que j’avais avec python+numba, mais j’ai pas du tout cherche a optimizer pour l’instant.
Mais ca n’a pas ete de tout repos. Pleins de problemes et toujours tres difficile de trouver quelle est l’origine de l’erreur. Il faudrait trouve

[2018-04-06 06:57] serge-sans-paille commented on #794
Fixed by @paugier in 1c64ee3c57f64b23611fe01d14db60ee45f2cf04

[2018-04-06 06:57] #794 closed

[2018-04-06 06:58] serge-sans-paille commented on #848
If you can provide me with the full.py that's ok :-)

[2018-04-06 15:13] jeanlaroche opened #849 "Can't pass int64 to numpy.zeros()"
This fails to compile, unless you change the declaration from int64 to int. The same occurs for empty() (I'm sure many other function that normally take ints).
[code]

[2018-04-06 16:51] jeanlaroche opened #850 "numpy.inf is needed"
numpy.inf isn't supported by pythran, yet it's a very useful thing to have.
[code]

[2018-04-06 17:02] jeanlaroche opened #851 "Compilation error on slice assignment"
Compilation error on this code. It's a simple slice assignment. Not sure why this breaks.

[code]

[2018-04-09 23:38] jeanlaroche opened #852 "Compilation error on redeclaration of variable"
Admittedly the code below is bad (either declaring A at the start of a loop or giving it the wrong declaration), but it does work in python because the first declaration is simply ignored.
In any case, this triggers a compilation error.
[code]

[2018-04-11 21:21] jeanlaroche opened #853 "Provide better debug info for "wrong type of input argument""
I often spend a lot of time trying to determine which of my input argument does not match the pythran declaration. That's because during execution, there's no hint provided as to which argument is violating the requirements, and some violation are not easy to find.
For example, passing a view instead of an ndarray creates an error, but nothing in the error indicates where it could come from (the i

[2018-04-12 23:56] jeanlaroche opened #854 "Compilation error on round().astype(int)"
The code below does not compile
[code]

The error is:

      return _mm_cvtsd_si64(_mm_set_sd(a0));
NOTE:
This is on a mac, on linux, the code compiles just fine :(

[2018-04-18 13:12] diorcety commented on #814
[code]
produce an other issue

[2018-04-19 08:33] diorcety opened #857 "copy of slice doesn't compile"
This works
[code]

This doesn't
[code]

[2018-04-19 14:14] diorcety opened #858 "expression is not assignable"
[code]

Seems fixed with https://github.com/diorcety/pythran/commit/3bd3735502791a0157b29d3b92698a35ef22d1f9

[2018-04-19 14:32] diorcety opened #859 "if body order change make the code not compilable"
[code]

[2018-04-19 16:05] diorcety opened #861 "crash with gexpr"
[code]

[code]

[2018-04-19 17:10] serge-sans-paille commented on #854
looks like a boost simd issue... @jfalcou ?

[2018-04-19 21:20] jeanlaroche opened #862 "list->array conversion does not compile on macos"
This simple function
[code]
Does not compile on macos (but it does in linux).

[2018-04-20 10:11] serge-sans-paille commented on #851
@jeanlaroche: both examples compile fine with current master on linux, can you confirm?

[2018-04-20 10:13] serge-sans-paille commented on #849
I fail to reproduce with master version. Can you confirm it's fixed?

[2018-04-20 15:34] jeanlaroche commented on #849
Yes it looks like it's fixed.

[2018-04-20 15:42] #849 closed

[2018-04-20 15:45] jeanlaroche commented on #851
Still fails, but only on MacOS :( ...
Here's the pruned down test:
[code]
And the error:

        {static_assert(__can_bind_reference<_Tp>(),
         ^             ~~~~~~~~~~~~~~~~~~~~~~~~~~~
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/tuple:411:15: note: in instantiation of function template specialization 'std::__1::__tuple_leaf<0, const (an

[2018-04-20 16:00] jeanlaroche commented on #827
This still fails with master, on macos.

      return _mm_cvtsd_si64(_mm_set_sd(a0));
             ^

[2018-04-20 16:03] jeanlaroche commented on #851
My bad, this is now fixed on master. Sorry about the confusion.

[2018-04-20 16:06] #851 closed

[2018-04-20 19:06] jeanlaroche commented on #827
Update: this is now fixed if removing the -arch i386 flags (repeated twice apparently) during the compilation.

[2018-04-21 16:38] #859 closed

[2018-04-23 23:03] jeanlaroche commented on #843
Release 0.8.5 does not solve this issue.

[2018-04-23 23:04] jeanlaroche commented on #862
Version 0.8.5 does not fix this issue.

[2018-04-24 11:40] diorcety commented on #861
This ugly patch seems to work: https://pastebin.com/r3p3VcnY

[2018-04-24 16:57] jeanlaroche opened #870 "Array multiply-add not compiling"
This code no longer compiles in MacOS. It does compile in linux.
[code]

The error is:

In file included from /Users/jlaroche/temp/JeanPythran/pythran/pythonic/include/types/numpy_texpr.hpp:4:
In file included from /Users/jlaroche/temp/JeanPythran/pythran/pythonic/include/types/ndarray.hpp:39:
/Users/jlaroche/temp/JeanPythran/pythran/pythonic/include/types/numpy_gexpr.hpp:205:47: error: invalid op

[2018-04-25 00:10] cclauss opened #872 "Use flake8 to find syntax errors & undefined names"
#871 generates the output: https://travis-ci.org/serge-sans-paille/pythran/builds/370834478

This shows that there are many syntax errors and undefined names to fix across this codebase.  Adding these [flake8](http://flake8.pycqa.org) tests to the current __.travis.yml__ (a task that is beyond my skills) would greatly accelerate the achievement of compatibility with both Python 2 and 3.

[2018-04-25 07:16] MichauGabriel opened #875 "numpy.dot compiling fails (python 3.6, IPython 6.1.0, Pythran 0.8.5, win10)"
Hi,
First of all, thanks for this awesome package.

I have an issue and a question:

1 - I am trying to compile a function with numpy.dot product and the compiling fails (but if I remove the part with the dot product and leave the rest it works, aleternatively, if I only leave the dot product it fails):
eg:
`%load_ext pythran.magic`
`%%pythran`
`#pythran export fun(float[][],float[][]) `
`import n

[2018-04-25 08:31] Akeraa commented on #875
Hi Serge-Sans-Paille,
Thanks a lot for your reply.
Here is the compile error:
[Compile_error.txt](https://github.com/serge-sans-paille/pythran/files/1946132/Compile_error.txt)

[2018-04-25 10:42] serge-sans-paille commented on #875
Thanks, it helps a lot ! Do you have openblas installed somewhere ?

[2018-04-25 11:14] Akeraa commented on #875
Hum, not that I am aware of. Should I install it?

[2018-04-25 13:28] serge-sans-paille commented on #875
not yet, I'll check how numpy handles that to make deployment easier. Keep in touch!

[2018-04-25 14:37] serge-sans-paille commented on #875
What happens if you change ``blas=blas`` into ``blas=openblas`` in your pythran-win32.cfg ?

[2018-04-25 14:51] Akeraa commented on #875
Thanks, I get quite a similar output but with some additional lines at the top:
[Compile_error_openblast.txt](https://github.com/serge-sans-paille/pythran/files/1947525/Compile_error_openblast.txt)
FYI, my pythran-win32.cfg is now:
[compiler]
defines=
undefs=
include_dirs=
libs=
library_dirs=
cflags=/std:c++14
ldflags=
blas=openblas
CC=
CXX=

[2018-04-25 14:57] serge-sans-paille commented on #870
I confirm it works fine on Linux :-/

[2018-04-25 18:20] PhilippeNoel1 opened #876 "Parallel with fopenmp, compilation error"
Hi,

I tried the example in the documentation for the [Pythran 0.8.5](http://pythran.readthedocs.io/en/latest/MANUAL.html) :

[code]

After compiling with the command
`$ pythran -fopenmp -march=avx test.py`

I got the following error

[code]

[2018-04-25 18:50] serge-sans-paille commented on #872
Indeed, some of the flake8 warnings are relevant, I'll check that.

[2018-04-25 18:52] serge-sans-paille commented on #876
Try ``-march=native`` ?

[2018-04-25 19:01] serge-sans-paille commented on #870
@jeanlaroche what's the output when using branch ``pythran/fix/remove-universal-reference`` ?

[2018-04-25 19:15] cclauss commented on #872
Interesting question if flake8 should be run on Travis (#871) or Appveyor (#873) or yet another CI like Circle.  Travis seem way overloaded.

[2018-04-26 08:41] PhilippeNoel1 commented on #876
Solved !

[2018-04-26 08:41] #876 closed

[2018-04-26 16:03] jeanlaroche commented on #870
The assert you added fails:

    static_assert(
    ^
/Users/jlaroche/temp/pythran/pythran/pythonic/operator_/mul.hpp:15:48: note: in instantiation of template class '(anonymous namespace)::pythonic::types::numpy_gexpr<(anonymous namespace)::pythonic::types::ndarray<double, 2>, (anonymous namespace)::pythonic::types::slice, const long>' requested here
  auto mul(A const &a, B const &b) -> decltype

[2018-04-26 16:37] serge-sans-paille commented on #870
Can you tracj the origin of this const long then?

[2018-04-26 17:10] jeanlaroche commented on #870
BTW I'm using this simplified version of the bug:
[code]

[2018-04-27 05:56] serge-sans-paille commented on #872
@cclauss : #877 is green, does that looks ok to you?

[2018-04-27 05:57] serge-sans-paille commented on #870
Fixed by #879 , as confirmed by @jeanlaroche on IRC #pythran

[2018-04-27 09:59] serge-sans-paille commented on #872
Closed by #877

[2018-04-27 09:59] #872 closed

[2018-04-27 11:36] cclauss opened #880 "Where are vmap() and vsum() defined?"
[code]

[2018-04-27 13:51] Akeraa commented on #875
Interestingly I tried to run my code on Google collab (colab.research.google.com/) on an online kernel, online ipynb. I don't know if it helps:

`%%pythran
#pythran export fun(float[][],float[][])
import numpy as np
def fun(A,B):
    return np.add(A,B)`
seems to work. But

`%%pythran
#pythran export fun(float[][],float[][])
import numpy as np
def fun(A,B):
    return np.dot(A,B)`

gives:
---------

[2018-04-27 17:06] svretina opened #882 "cannot convert to 'bool'"
First of all, congratulations for this really awesome software. I am currently trying to implement some ODE's solving algorithms with pythran to benchmark the performance and to learn this tool for my research.
This code is for solving the wave equation in time:

#pythran export wave(int)

import numpy as np

def wave(n):

    Nx = n
    number_of_threads = 4
    t0 = 0
    x0 = 0
    alpha = np.s

[2018-04-27 21:11] serge-sans-paille commented on #882
Looks cool! I'll check your issue, thanks for reporting o/

[2018-04-28 07:34] serge-sans-paille commented on #882
Should be fixed by #884 , I have good speedups on your test case :-)

[2018-04-28 13:07] svretina commented on #882
So, I should just update my pythran version and it will be fixed? I am new to github, and more thorough explanations will be appreciated. Thanks for taking the time to answer me!

[2018-04-28 15:30] serge-sans-paille commented on #882
On Sat, Apr 28, 2018 at 06:07:30AM -0700, Stamatis Vretinaris wrote:

In that case you can either:

- wait for next pythran release (typically a few months)

- install from source, which basically mean:

[code]

[2018-04-28 15:42] svretina commented on #882
Thank you very much ! I will upload my results on my github with further tests if anyone is interested for pythran applications on astrophysics/physics codes. Thank you again!

[2018-04-28 16:10] serge-sans-paille commented on #882
You can also submit a blogpost to https://github.com/serge-sans-paille/pythran-stories, It will get published to http://serge-sans-paille.github.io/pythran-stories/

[2018-04-29 06:38] serge-sans-paille commented on #882
I just pushed --force a new version that fixes a compilation issue, so if you cloned the repo, the easier for you is to remove it then repeat the process above.

[2018-04-29 10:39] svretina commented on #882
Alright, I just cloned the repo and installed it. And the 'bool' error is gone! But...

/tmp/tmpejhhh0pg.cpp: In instantiation of ‘typename __pythran_wave::wave::type<argument_type0>::result_
type __pythran_wave::wave::operator()(argument_type0&&) const [with argument_type0 = long int&; typenam
e __pythran_wave::wave::type<argument_type0>::result_type = {anonymous}::pythonic::types::ndarray<doubl

[2018-04-29 10:51] svretina commented on #882
Changing the above line to u[i][0] = x[i] ( because the u[i][0] = np.sin(np.pi *i) for example worked )
i get this message if it helps more:

/tmp/tmph9_pgsdd.cpp: In instantiation of ‘typename __pythran_wave::wave::type<argument_type0>::result_
type __pythran_wave::wave::operator()(argument_type0&&) const [with argument_type0 = long int&; typenam
e __pythran_wave::wave::type<argument_type0>::resu

[2018-04-29 17:26] svretina opened #885 "wrong (numpy) calculations"
I start a new thread, since the ndarray.bool solved the previous problem and the code compiles!

I will repost the code:

#pythran export wave(int)
import numpy as np

def wave(n):

    Nx = n
    number_of_threads = 4
    t0 = 0
    x0 = 0
    alpha = np.sqrt(2.)/np.pi
    dx = 12./Nx
    dt = 0.5*dx/alpha
    Nt = int(5.*np.pi/dt)
    c = alpha*dt/dx
    u = np.zeros((Nx,Nt))
    x = np.zeros(Nx

[2018-04-29 18:22] nbecker opened #886 "pythran with gcc 8.0.1"
Looks like an issue after upgrading to fedora 28, which includes gcc-8.0.1 (this code was working on fedora 27 with gcc-7.3.1)

~/.local/bin/pythran G.py
WARNING: Disabling color, you really want to install colorlog.
In file included from /usr/include/c++/8/unordered_map:46,
                 from /home/nbecker/.local/lib/python3.6/site-packages/pythran-0.8.5-py3.6.egg/pythran/pythonic/include/util

[2018-04-29 18:28] nbecker commented on #886
clang++ gives the same error (uses the same header)

[2018-04-29 22:38] #882 closed

[2018-04-29 22:40] serge-sans-paille commented on #886
Ma doué... what's the content of ``G.py`` ?

[2018-04-29 22:44] serge-sans-paille commented on #885
The following sessions looks ok to me:

[code]

How are you compiling? Which compiler options?

[2018-04-29 22:44] nbecker commented on #886
You'll probably find this code is familiar:
https://gist.github.com/nbecker/290beaa74491b3c105a3ac9683203b36

[2018-04-29 22:52] serge-sans-paille commented on #886
Yeah, I remember that one. It compiles correctly with
[code]
I'll try to reproduce

[2018-04-30 06:40] serge-sans-paille commented on #875
That's still the same issue: Pythran needs to find a working version of blas on the system. The good point is that there's one in the official numpy wheel, I'll try to find a way to have Pythran use it. Keep in touch!

[2018-04-30 06:55] serge-sans-paille commented on #886
Issue with gcc *8* should be fixed by #888. It's all about the 8 digit :-)

[2018-04-30 07:53] serge-sans-paille commented on #880
It's because it should be piped through ``wpmvp14/experiments/run_xp_euler06b.sh`` and such. But don't bother too uch with that :-)

[2018-04-30 07:53] #880 closed

[2018-04-30 10:54] nbecker commented on #886
Yes, that seems to fix it for me, thanks!

[2018-04-30 11:55] serge-sans-paille commented on #875
If you installed numpy from the wheels, there should be an openblas file somewhere in the numpy source. What's its path?

[2018-04-30 12:51] nbecker opened #889 "setting for python library"
To build on pypy, I need to link to libpypy3-c.so, which is installed in a strange location.  I need a way to specify this to the link step.

[2018-04-30 13:09] nbecker commented on #889
My report is incorrect, the problem is not linking to libpypy3-c.so.
I'm trying to debug a segfault:
(gdb) where
#0  0x00007fffd7440088 in (anonymous namespace)::pythonic::from_python<(anonymous namespace)::pythonic::types::list<(anonymous namespace)::pythonic::types::list<long> > >::convert(_object*) () from /home/nbecker/pypy3-env/site-packages/scma-ofdm-nr/G.pypy3-60-x86_64-linux-gnu.so
#1  0x0

[2018-04-30 13:24] Akeraa commented on #875
Sorry, I am not sur what you mean. I installed everything with Anaconda. I don't have any openblast file in my anaconda folder by default. All I could find are:
![capture - copy](https://user-images.githubusercontent.com/35995408/39429255-9f1678de-4c8a-11e8-9502-636d4083fa00.PNG)

[2018-04-30 13:33] serge-sans-paille commented on #889
That looks like an issue at the C-APi level. Don't know if it commes
from pythran or Pypy though.

To help you in your debug, add that to you ~/.pythranrc

[code]

This avoids the stripping step

[2018-04-30 16:43] slel commented on #875
@embray

[2018-05-01 08:11] serge-sans-paille commented on #886
Fixed in #888

[2018-05-01 08:11] #886 closed

[2018-05-02 21:59] jeanlaroche opened #891 "Error on MacOS with calling function on sliced arrays"
I'm getting a compilation error on MacOS on this function. It compiles just fine in linux :(
I have attached the error output.
[error.txt](https://github.com/serge-sans-paille/pythran/files/1969031/error.txt)

[code]

[2018-05-03 12:52] svretina opened #892 "icc compiler"
Hello, is there a way to have instead of gcc or g++ , the icc compiler for faster code? I didn't find anything in your doc. Thanks in advance.

[2018-05-03 13:31] serge-sans-paille commented on #892
Unfortunately, although they claim the opposite, icc does not support C++11 correctly. An easy way to test would be to set ``CXX=icpc pythran test.py``, maybe they released a new version since my last test?

[2018-05-03 21:38] jeanlaroche opened #894 "np.arange does not like int parameter on macos"
On MacOs, the following code does not compile. It compiles fine in linux.
Error log:
[error.txt](https://github.com/serge-sans-paille/pythran/files/1972721/error.txt)

[code]

[2018-05-07 18:05] svretina opened #895 "Numpy functions like trapz"
Hello again, I am trying to implement a simple function that needs integration. Is calling functions like
trapz supported by pythran? I get this:

[code]

[2018-05-07 18:31] jeanlaroche commented on #895
Typically this means it hasn't been implemented. What I do in such case is either:
- Write my own version in standard numpy then pythranize that (works quite well)
- Add it to pythran (there's a learning curve, it has to be in C++, but it's not that bad).

[2018-05-07 18:33] svretina commented on #895
ok understood! If I have the time and write something in C++ I will share it. Thanks.

[2018-05-07 18:33] #895 closed

[2018-05-07 18:34] jeanlaroche commented on #895
BTW you can find the source code of trapz here:
https://github.com/numpy/numpy/blob/master/numpy/lib/function_base.py

That would be easy to simply pythranize...

[2018-05-07 18:50] serge-sans-paille commented on #895
It's just not implemented :-)

The code source i need to port is here:

    https://github.com/numpy/numpy/blob/d1a661df48625ce5544d83dc022c96cf8c5d41c7/numpy/lib/function_base.py#L3016

[2018-05-09 16:39] jeanlaroche commented on #854
I confirm this is now fixed on master @ b966fe6c6aba34474880e2a086373cf6ee91345e

[2018-05-09 16:39] #854 closed

[2018-05-09 16:41] jeanlaroche commented on #827
Fixed with b966fe6c6aba34474880e2a086373cf6ee91345e

[2018-05-09 16:41] #827 closed

[2018-05-09 16:46] #870 closed

[2018-05-09 17:39] jeanlaroche commented on #862
If this is useful:
[code]
In other words, if the returned array is float  things are OK.
Error log:
[error.txt](https://github.com/serge-sans-paille/pythran/files/1988854/error.txt)

[2018-05-10 16:36] jeanlaroche opened #896 "Compilation error in linux on array[array > long]"
The following code does not compile in pythran 0.8.5 (linux)
[code]
Error log attached
[error.txt](https://github.com/serge-sans-paille/pythran/files/1992441/error.txt)

[2018-05-10 16:54] serge-sans-paille commented on #889
@nbecker can you provide the .py to reproduce the error?

[2018-05-10 16:55] serge-sans-paille commented on #889
ok, that's you're usual test case, I'll try to reproduce

[2018-05-10 19:31] nbecker opened #897 "strange function docstring"
This pythran code:

``
#pythran export Decoding_logBP(int[:,:], int list list, int list list, float[:,:], float[:], int)
def Decoding_logBP(H,Bits,Nodes,Lq,Lc,max_iter=1):
``

Gives:
[code]
What's with the int[][].T, etc?

[2018-05-10 21:05] serge-sans-paille commented on #897
Hi nbecker. int[][] <> int[:,:,]. I'll update the generated docstring to use numpy-style notation!

[2018-05-10 21:09] serge-sans-paille commented on #897
Should be fixed in #898

[2018-05-10 21:27] serge-sans-paille commented on #896
Should be fixed by #899

[2018-05-10 21:28] serge-sans-paille commented on #885
Great, closing the issue :-)

[2018-05-10 21:28] #885 closed

[2018-05-10 21:41] jeanlaroche commented on #896
Confirmed fixed by #899 both in linux _**and**_ MacOS! Yepee!!!

[2018-05-10 22:56] jeanlaroche opened #900 "Compilation failing early on calling function with override of default value (linux and macos)"
This does not compile apparently because of the default value for test2. Am I doing something wrong?
[code]

[2018-05-11 00:08] nbecker commented on #897
No, I mean why are there 4 prototypes?  Why do 2 of them say blah[][].T?  What is the significance of the ".T"?

[2018-05-11 06:11] serge-sans-paille commented on #897
it means it accepts the transposed version :-)

[2018-05-11 06:55] #896 closed

[2018-05-11 06:58] serge-sans-paille commented on #900
Nothing wrong except pythran, I'll check that (I can reproduce)

[2018-05-11 07:55] serge-sans-paille commented on #900
Should be fixed by #901

[2018-05-11 15:56] jeanlaroche commented on #900
Confirmed fixed on MacOS as well...

[2018-05-11 17:11] jeanlaroche opened #904 "Compilation issue with default argument set to None, linux macos."
The following code does not compile in linux or mac os due to the default value being None I believe.
Note: fails on master and on fix/default-arguments-aliasing
[code]

[2018-05-11 18:37] jeanlaroche opened #905 "Compilation error on B[:,None] if B is a slice, linux macos"
This does not compile, because of the np.newaxis "None" where B is already a slice.
Tested on master, linux and macos although the errors are different.
[code]

[2018-05-13 12:54] fdabaghi commented on #905
I have the same problem
#pythran export ls_frac_triangle(float64[][][],float64[][],float64[][],float64[][],float64[])
def is_intersect_triangle(p, P1, P2, P3, N0):
	N_unit= ps.Normal_of_triangle_v2(P1,P2,P3)
	ind=np.where(np.inner(N0,N_unit)<0)[0]
	N_unit[ind,:]*=-1
...

error in compilation !!!
generally, when I looking for some indices by using  index=np.where() or index=np.nonzeros(),
pythran c

[2018-05-13 21:45] cycomanic opened #906 "Compile error when broadcasting"
I'm running into an issue when broadcasting inside a pythran function a minimal example is below:

[code]

this results in a compile error with both gcc and clang.
[gcc.log](https://github.com/serge-sans-paille/pythran/files/1998960/gcc.log)
[clang.log](https://github.com/serge-sans-paille/pythran/files/1998961/clang.log)

I can work around the error by putting the second newaxis subtraction into

[2018-05-14 05:13] serge-sans-paille commented on #906
Thanks for the report! I'm busy improving the test suite right now, but I'll check that afterward. From the error log it looks like the new axis is not taken into account where it should, and then... boom :-)

[2018-05-14 05:14] serge-sans-paille commented on #844
I though we were supporting that. I'll check as soon as possible, which does not mean today :-)

[2018-05-15 14:38] saraedum opened #907 "pythran in conda-forge"
Currently pythran does not seem to be in conda-forge. Is that because the GCC there is not sufficiently recent? Would you mind me giving a try at packaging it there?

[2018-05-15 14:38] saraedum opened #908 "pythran in Debian"
Currently pythran does not seem to be packaged for Debian. Would you mind me trying to package it for Debian?

[2018-05-15 15:08] serge-sans-paille commented on #907
That's a great proposal. I maintain my own conda channel (https://anaconda.org/serge-sans-paille/pythran) but I'm okay to switch to conda-forge. The only trick i use is the following:

[code]

in the build.sh

Concerning the releases, what is the process when using conda forge? i usually

1. upload the new version on pypi
2. update my build recipe on my conda setup
3. build the conda packages and

[2018-05-15 15:09] serge-sans-paille commented on #908
I 100% don't mind! I used to maintain a private debian repo but lack time, so go ahead :-)
I'd be curious of the package rules, do no hesitate to share them!

[2018-05-15 18:41] serge-sans-paille commented on #900
#903 merged, closing

[2018-05-15 18:41] #900 closed

[2018-05-15 21:49] serge-sans-paille commented on #906
Can you confirm #910 fixes your issue?

[2018-05-15 21:55] jeanlaroche commented on #906
Miraculously (or perhaps not so miraculously) this fixes B905 in both linux and macos!

[2018-05-15 21:56] jeanlaroche commented on #905
Appears to be fixed by https://github.com/serge-sans-paille/pythran/pull/910 both in linux and mac os

[2018-05-16 04:16] cycomanic commented on #906
It fixes the test case above, however if I change the test case to:

[code]
It fails again with the following error:
[log.txt](https://github.com/serge-sans-paille/pythran/files/2007493/log.txt)

Also in my tests this is orders of magnitude slower than unwrapping the loops. I will create a new bug for this.

[2018-05-16 04:22] cycomanic commented on #906
It seems like pythran gets confused by the use of newaxis and real/imag in the same line, I can work around the above with the following code:
[code]

[2018-05-16 13:10] serge-sans-paille commented on #904
I already tried to solve that kind of code, but failed... i'll try again :-)

[2018-05-16 14:50] jeanlaroche commented on #904
Thanks! The main issue is that it's not really hard to work around the problem, what's hard is finding out where it comes from in a long function. As you know, the compilation errors are very hard to relate to the code being pythranized, so in my case, it takes a lot of investigation time to pinpoint the origin. After that, finding a workaround isn't usually too hard.

[2018-05-17 08:07] serge-sans-paille commented on #905
@jeanlaroche I updated #910, can you confirm it's okay for you now?

[2018-05-17 12:38] Dapid commented on #842
So, it seems I managed to mess up the example. Here it is now, failing as before:

https://github.com/ElofssonLab/pyGaussDCA/tree/invalid_call/gaussdca/test

[2018-05-17 14:36] jeanlaroche commented on #905
Confirmed on both linux and macos. Thanks!

[2018-05-18 15:00] fdabaghi opened #912 "reshape with adding an axis"
The following functions does not compile
#V, a vector of shape (3, 20644)
p=np.reshape(V,(3,4,-1), order="F")
it's ok for reshape and order="F" but there is a problem in reshape with adding an axis.

[2018-05-18 15:52] serge-sans-paille commented on #912
On Fri, May 18, 2018 at 08:00:12AM -0700, fdabaghi wrote:

reshape with adding an axis? Can you provide a full « non working »
example?

[2018-05-18 17:45] fdabaghi commented on #912
a simple example:
p=np.ones((3,20))
p=np.reshape(p,(3,4,-1), order="F")
a=test(p,2)

#pythran export test(float64[][][], int32)
def test(p,a):
	p*=a
	return p

[2018-05-19 05:40] serge-sans-paille commented on #912
ok, the problem is well known: pythran does not support fortran storage for array with more than two dimensions. I'll keep this issue open to remind me to find a way of implementing that :-)

[2018-05-19 05:41] #897 closed

[2018-05-21 02:08] saraedum commented on #907
With conda-forge you create a new release on pypi or github, and either wait for the @regro-cf-autotick-bot to pick it up automatically or just bump the version number in the recipe. Building and uploading is fully automatic.

[2018-05-21 02:16] saraedum commented on #907
This would probably also fix #747.

[2018-05-21 02:39] saraedum commented on #907
@serge-sans-paille is `third_party/boost` patched, or can I use standard boost headers here?

[2018-05-21 06:38] serge-sans-paille commented on #907
The standard header are ok, they just also include a copy of the non
official boost.simd package.

I can merge #733 if that's helpful for you.

[2018-05-21 11:06] saraedum commented on #907
No worries, I don't mind distributing the boost headers for a first version.

[2018-05-21 11:11] saraedum commented on #907
Is there a reason why setup.py asks for pytest-runner at build time?

[2018-05-21 12:17] serge-sans-paille commented on #907
for testing purpose, some users wanted to be able to run the tests and choke on the missing dep, so i included it.

[2018-05-21 17:11] serge-sans-paille commented on #908
Neither am I. But it is still a hard dependency and there is no short
term workaround...

[2018-05-21 19:03] serge-sans-paille commented on #908
So my guess is that you should probably bundle boost.simd within pythran
and not as an external dependency?

[2018-05-22 11:10] Dapid opened #914 "IndexError in compilation"
The following fails to compile due to the specification of dtype in arange:

[code]

The last bit of the traceback is:

[code]

Error present both on released and master.

[2018-05-22 13:59] serge-sans-paille commented on #914
I can reproduce, thanks for reporting o/

[2018-05-22 16:17] serge-sans-paille commented on #914
Can you confirm #915 fixes your issue?

[2018-05-23 10:14] #914 closed

[2018-05-23 11:25] serge-sans-paille commented on #850
This seems to be well supported, what makes you think it is not?

[2018-05-23 11:52] serge-sans-paille commented on #848
up

[2018-05-23 12:19] serge-sans-paille commented on #136
We no longer use boost python, and there is no reproducer -> closing

[2018-05-23 12:19] #136 closed

[2018-05-23 12:24] #320 closed, assigned to nobody

[2018-05-23 15:40] jeanlaroche commented on #848
Let me close this, I don't think it's relevant any longer

[2018-05-23 15:40] #848 closed

[2018-05-23 15:46] jeanlaroche commented on #850
The issues is that np accepts np.Inf (uppercase i) and np.inf, but not pythran. I hadn't realized that when I submitted the bug
[code]

[2018-05-24 07:40] Dapid commented on #914
Sorry for the delay. It works, thanks.

[2018-05-24 07:47] Dapid commented on #907
I think the correct way is to add tests_require=['pytest'] in the setup.py:setup call. This way, `python setup.py test` will install and run the tests, and `pip install pythran[test]` will pull it in too, but not by default.

[2018-05-24 07:52] Dapid commented on #853
Probably the same I am seeing in #842.

@serge-sans-paille, do you think this is a good place to start wading through the code? I would like to get this fixed.

[2018-05-24 09:14] serge-sans-paille commented on #853
@Dapid that would be a great contribution. The starting point is https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/python/core.hpp#L50 and more precisely https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/python/core.hpp#L71.

We need a better pretty-printer here.

[2018-05-24 09:37] serge-sans-paille opened #918 "Indexing issue"
The following code does not compile

[code]

but why? Related to https://linuxfr.org/nodes/114545/comments/1739776

[2018-05-24 09:55] serge-sans-paille commented on #918
Ok, the problem comes from the ``imgs[cs,ys]`` notation which is not supported yet.

[2018-05-24 10:17] #850 closed

[2018-05-24 16:32] Dapid commented on #853
I have been able to localise the problem to the strides. This patch prints it uglily before crashing:

[code]

Wading through Pythran guts is less daunting than I expected...

@jeanlaroche do you have a small failing example? Mine is kind of big, and takes a while to compile.

[2018-05-24 16:35] Dapid commented on #842
Investigating the strides with the [ugly patch](https://github.com/serge-sans-paille/pythran/issues/853#issuecomment-391778834) I get:

[code]
So it is expecting strides in the opposite direction. The relevant declarations are:

[code]

And the options:
[code]
So, are they perhaps the declarations not being parsed properly by Pythran? Maybe when the prettyprinter is finished it can shed more light

[2018-05-24 16:42] jeanlaroche commented on #852
I confirm that this is fixed by https://github.com/serge-sans-paille/pythran/commit/64e8cf43753fff18ddeac1f7d4ca808760164738 on both mac and linux

[2018-05-24 16:43] jeanlaroche commented on #853
Let me try to create one for you...

[2018-05-24 16:51] jeanlaroche commented on #853
Here's the function to pythranize
[code]
Here's the code to call it:
[code]
The first call works, but the second one craps out with:

Candidates are:
   test(float[:])

[2018-05-24 18:51] serge-sans-paille commented on #853
@Dapid That's a good start! Once you're satisfied, issue a PR and I'll happily review it :-)

[2018-05-25 05:12] #852 closed

[2018-05-25 16:07] jeanlaroche commented on #843
I confirm that this is fix in master https://github.com/serge-sans-paille/pythran/commit/c3dd1ef72aa7de51d84ab25ea4d936101d8a5802
Both in linux and mac ox. Closing.

[2018-05-25 16:07] #843 closed

[2018-05-25 16:14] jeanlaroche commented on #862
Confirmed this is fixed on mac os and linux at https://github.com/serge-sans-paille/pythran/commit/c3dd1ef72aa7de51d84ab25ea4d936101d8a5802

[2018-05-25 16:14] #862 closed

[2018-05-25 16:16] jeanlaroche commented on #891
Confirmed this is fixed at https://github.com/serge-sans-paille/pythran/commit/c3dd1ef72aa7de51d84ab25ea4d936101d8a5802 on both mac os and linux

[2018-05-25 16:16] #891 closed

[2018-05-25 16:18] jeanlaroche commented on #894
Still not fixed at https://github.com/serge-sans-paille/pythran/commit/c3dd1ef72aa7de51d84ab25ea4d936101d8a5802

[2018-05-28 14:41] Dapid opened #920 "Flags not being passed from setup.py"
I have written a module that works very well when compiling it with `pythran -fopenmp -ftree-vectorize _gdca.py`. I am not managing to get the same results when building through pip. This is what I have in the setup.py:

[code]

What  am I doing wrong here?

[2018-05-28 16:50] serge-sans-paille commented on #894
Does #921 fix the issue?

[2018-05-28 18:12] serge-sans-paille commented on #920
Thanks for the report! If I'm not mistaken #922 should fix the bug.

[2018-05-28 18:32] Dapid commented on #920
Thanks!
Can we get this in a release soon-ish? We are writing a paper where one of the points is that we have faster and easier to install and deploy reimplementation, thanks in no small part to Pythran. Almost 3 times faster than Julia, and skipping some ugly tricks!

[2018-05-28 18:56] serge-sans-paille commented on #920
great! I'd be happy to proof-read the paper if you want. I'll do a minor release next week if that's ok with you?

[2018-05-29 04:54] #920 closed

[2018-05-29 15:08] jeanlaroche commented on #894
Confirmed fixed with https://github.com/serge-sans-paille/pythran/pull/921 on macos! Yepee!

[2018-05-29 15:08] #894 closed

[2018-05-29 15:32] serge-sans-paille commented on #853
@Dapid any update on that? Need any help?

[2018-05-29 15:38] Dapid commented on #853
I am working on it, got a bunch of notes, and making my way forward. I hope to have something by the end of the week.

[2018-05-29 16:25] jeanlaroche opened #924 "Compilation error on matrix column selection (linux+mac)"
The following code does not compile on either mac or linux.
[code]

[2018-05-30 18:27] serge-sans-paille commented on #907
Thanks @saraedum for the good work: https://anaconda.org/conda-forge/pythran

[2018-05-30 18:27] #907 closed

[2018-05-31 19:01] jeanlaroche opened #926 "Compilation error on smart indexing (linux macos)"
This code does not compile which is too bad as that's a prime example of the type of smart indexing that's so powerful in numpy.
[code]

[2018-06-01 08:13] diorcety opened #927 "string literal comparison"
The i variable is here to avoid pythran static evaluation

[code]

Here one of the warnings from gcc

[2018-06-05 19:30] serge-sans-paille commented on #926
This requires fusion of ``fexpr``, ``vexpr`` and ``gexpr``. i already merged ``fexpr`` and ``vexpr`` in #929

[2018-06-05 19:30] serge-sans-paille commented on #924
Probrably related to #926

[2018-06-05 19:31] serge-sans-paille commented on #918
And again, it's related to #926

[2018-06-05 19:53] serge-sans-paille commented on #861
The crash is fixed but the initialization problem remains

[2018-06-05 19:55] serge-sans-paille commented on #844
ok, we're actually supporting accumulate, but not reduce...

[2018-06-05 19:59] serge-sans-paille commented on #814
I believe this is fixed by #929, can you confirm?

[2018-06-05 20:00] serge-sans-paille commented on #747
Closed by #907 \o/

[2018-06-05 20:00] #747 closed

[2018-06-05 20:00] serge-sans-paille commented on #904
Similar to #648

[2018-06-06 11:28] serge-sans-paille commented on #853
@Dapid I'll do a release today or tomorrow, your patch will go in next release!

[2018-06-07 18:30] ashwinvis opened #933 "Configuring os.environ to set CC and CXX variables affects compilation of Cython extensions."
Function `pythran.config.init_cfg` sets `os.environ` which can be a mess when using Pythran and Cython extensions in tandem. Esp. when you want to use different compilers for pythran (say clang) and for cython (say intel, gcc etc). Simply `import pythran` messes the environment variables.

The trouble is I see `pythran.config.cfg` being imported into `pythran.toolchain`, `pythran.types.types` and

[2018-06-11 11:14] gouarin opened #937 "Assignment of the real part of a complex"
Here is a simple example to reproduce

[code]

The final error message is

[code]

[2018-06-11 15:16] ashwinvis commented on #937
Seems like a bug as your example works with NumPy. This works with Pythran though:

[code]

[2018-06-11 16:19] serge-sans-paille commented on #908
yes

agreed. I could remove that dependency and use xsimd instead from @quantstack, but that would delay the packaging 'tll the end of year.

My boost.simd version is patched, why cannot you consider it as an implementation detail of pythran?

[2018-06-11 16:28] saraedum commented on #908
I don't think Debian is going to accept this. From https://wiki.debian.org/UpstreamGuide#No_inclusion_of_third_party_code

Is there a chance to disable `boost.simd` or would that render `pythran` virtually pointless?

[2018-06-13 16:25] diorcety opened #938 "Crash with MSVC"
[code]

[2018-06-14 07:53] diorcety commented on #938
from DrMemory

[2018-06-14 20:52] serge-sans-paille commented on #904
Should be fixed by #939

[2018-06-14 20:52] serge-sans-paille commented on #648
Should be fixed by #939, can you confirm?

[2018-06-15 10:22] #648 closed

[2018-06-15 11:02] diorcety commented on #927
Regardings < and > ? https://stackoverflow.com/questions/34710483/string-comparison-less-than-sign

[2018-06-15 12:53] serge-sans-paille commented on #853
@Dapid release done, any update on your side?

[2018-06-15 14:21] Dapid commented on #853
Sorry! Deadlines galore, I haven't had much time to work on it yet. But I will be putting something out as soon as I can.

[2018-06-19 11:54] serge-sans-paille commented on #927
Yeah, I need to implement that too, thanks for reminding :-)

[2018-06-19 11:57] ashwinvis commented on #933
#941 fixes this.

[2018-06-19 11:57] #933 closed

[2018-06-19 20:45] serge-sans-paille commented on #927
@diorcety what about #942 ?

[2018-06-19 20:48] serge-sans-paille commented on #927
my bad, this PR is buggy, keep in touch :-)

[2018-06-19 21:01] serge-sans-paille commented on #927
should be better now :-)

[2018-06-21 05:05] serge-sans-paille commented on #927
@diorcety PR #942 is up and ready, can you confirm it's ok for you?

[2018-06-21 07:15] diorcety commented on #927
:+1:

[2018-06-25 09:22] diorcety commented on #938
The issue seems come from here: https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/types/numpy_gexpr.hpp#L394

[2018-06-29 15:44] diorcety commented on #938
https://github.com/diorcety/pythran/commit/b44123203c3827978f7f1f6613b3c121196faa36
Seems to work with msvc, but crashs with clang on Linux....

[2018-07-03 14:08] diorcety opened #951 "Lambda issue"
I can't compile the following code using pythran:
`TypeError: 'ReturnType' object does not support indexing`

[code]

[2018-07-11 18:31] serge-sans-paille commented on #951
Thanks for reporting! I can reproduce the issue, working on it :-)

[2018-07-12 05:14] #951 closed

[2018-07-13 13:25] diorcety opened #956 "CXX from pythranrc"
When compiling directly using pythran command line doesn't use CXX and CC from pythranrc file

[2018-07-16 06:49] serge-sans-paille commented on #956
Thanks @ashwinvis for the feedback. Looks like you're not using PythranBuildExt in  your setup.py, so the CXX override behavior is not activated. Funny enough, if I recall correctly, you were the one to advocate for that feature :-/

Am I missing something?

[2018-07-16 06:51] serge-sans-paille commented on #956
Adding ``cmdclass={"build_ext": PythranBuildExt},`` to your setup.py instead fixes the issue.

[2018-07-16 06:56] ashwinvis commented on #956
I am certainly missing something... Need some more time to track it down. My reply above was when I used PythranBuildExt.

I guess the catch i Pythran extensions arr built after C++ Cython extensions in fluidfft.

Sent from ProtonMail mobile

-------- Original Message --------
On 16 Jul 2018 8:49 am, serge-sans-paille wrote:

[2018-07-16 06:59] serge-sans-paille commented on #956
And anyway, we should not *ignore* CXX if ``PythranBuildExt`` is not used, I'll check that too.

[2018-07-16 07:01] ashwinvis commented on #956
No you are right.... It was my mistake. I was subclassing PythranBuildExt like:

[code]

Certainly didn't work as intended. Worked when I tried `PythranBuildExt` explicitly.

[2018-07-16 08:12] diorcety opened #960 "Regression with fast"
I can't compile this code anymore

[code]

[2018-07-16 09:08] paugier opened #961 "Performance issue: nearly twice slower than gfortran"
Serge, you wrote that you are happy with performance issues :relaxed: It is not a big issue, but still... Fortran is faster here... And nearly twice faster is a little bit too much, isn't it?

I think these two functions are approximately equivalent:
[code]

[code]
However,  it is nearly twice faster with Fortran:

[code]

- Note the numerical difference between (python, pythran) and fortran.

- T

[2018-07-16 09:54] serge-sans-paille commented on #956
And CXX is not ignored, I just forgot to set CC too, merging in that case

[2018-07-16 09:57] serge-sans-paille commented on #960
looks related to your texpr / shape issue ?

[2018-07-16 10:10] diorcety commented on #960
What do you mean?

[2018-07-16 10:13] serge-sans-paille commented on #960
Does #957 solves the issue?

[2018-07-16 10:39] diorcety commented on #960
No no. I have already apply it on my branch

[2018-07-16 12:03] serge-sans-paille commented on #960
ok, I'll check this, thanks!

[2018-07-16 14:50] serge-sans-paille commented on #961
Thanks @paugier, I should be carefull when speaking my mind out loud with you :-)
I'll have a look at this issue, and let the assembly speak!

[2018-07-16 21:24] jeanlaroche commented on #904
I missed your comment. It is now fixed on master at 5646f43553e4e785635dbec9f689e3bec0aa2570

[2018-07-16 21:24] #904 closed

[2018-07-17 07:59] diorcety opened #965 "Regression: ndarray on a shape"
The following code doesn't compile anymore

[code]

[2018-07-17 08:00] diorcety commented on #960
Seems to compile now. I have still other compilation issue, after that I run my test suite again.

[2018-07-17 11:24] #960 closed

[2018-07-17 14:10] serge-sans-paille commented on #961
After first inspection: the fortran code ends up with an unrolled loop calling https://github.com/llvm-mirror/compiler-rt/blob/master/lib/builtins/powisf2.c

The Pythran code ends up with an unrolled loop calling boost::simd::pow. So that's likely to be a pow specialization issue, I'll check that.

[2018-07-17 15:15] serge-sans-paille commented on #961
Confirmed, specializing the pow operator leads to better speedup!

[2018-07-17 17:53] serge-sans-paille commented on #961
(side note: unlike Python's range, Fortran do loop iterate until the upper bound, included, so the two codes are not exactly the same).

[2018-07-17 20:40] serge-sans-paille commented on #956
Fixed by #958

[2018-07-17 20:40] #956 closed

[2018-07-19 09:44] diorcety opened #969 "Regression: The truth value of an array with more than one element is ambiguous"
[code]

[code]

[2018-07-23 06:57] #965 closed

[2018-07-23 08:04] serge-sans-paille commented on #969
okay, that's actually due to tramsposed expression now using view expression when sliced by an array of boolean. Unfortunately we don't support slicing by a matrix yet...

[2018-07-23 21:12] serge-sans-paille commented on #814
@diorcety can you confirm it's ok on master?

[2018-07-26 05:53] serge-sans-paille commented on #801
Thread resurection, but for the greater good: #971 improves the situation *a lot* (without OpenMP) for the original algorithm that uses ``np.argmin``. @cycomanic can you confirm?

[2018-07-28 06:48] serge-sans-paille commented on #842
@Dapid I fixed an issue with the ``float64[::,::]`` notation in 2277853430de9d35b6cc5b24e1039304664c55b3 , there is a chance it fixes your issue too.

[2018-07-28 06:49] serge-sans-paille commented on #853
Hi @Dapid any update on that dev? Release is coming!

[2018-07-28 06:51] #842 closed

[2018-07-29 20:20] serge-sans-paille commented on #801
#971 has been merged, closing.

[2018-07-29 20:20] #801 closed

[2018-07-29 20:21] serge-sans-paille commented on #68
has of #972, I'll be closing that issue as won't fix :-/

[2018-08-01 18:54] cycomanic commented on #801
Sorry for the late reply, I can confirm that #971 makes the original algorithm (`make_decision`) significantly faster. New test values:

[code]

Note that this is on a different computer so not absolutely comparable, however you can see that the method using `np.argmin` is now 1.3 times faster than the other methods compared to 3 times slower previously.

[2018-08-01 21:55] serge-sans-paille commented on #801
cool, thanks for the feedback and the great benchmark!

[2018-08-09 15:03] ashwinvis commented on #906
I am reporting this while using version `0.8.6` release. I would like to reopen this issue. This is an application of a pythran kernel for [`scipy.interpolate.Rbf`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.Rbf.html#scipy.interpolate.Rbf). It allows to replace a `norm` function as a parameter.

[code]

And if I do
[code]
I get

[code]

Now I did more digging, and turns

[2018-08-09 15:29] serge-sans-paille commented on #906
@ashwinvis your test case fail because you need to tell pythran to accept array view, through ``pythran export bla(float[::,::,::], float[::,::,::])`` can you try this export with master version?

[2018-08-09 15:34] ashwinvis commented on #906
On master version:

[code]

[2018-08-09 15:38] ashwinvis commented on #906
Some flags of the input array compared to the working input:

[code]

[2018-08-09 15:47] diorcety opened #982 "2 and: too many values to unpack (expected 2)"
[code]

[2018-08-09 16:10] ashwinvis commented on #906
Also a comparison of the strides:

[code]

[2018-08-09 16:12] diorcety opened #983 "Missing symbols"
I have some missing symbols:
[code]

[2018-08-10 11:47] diorcety opened #985 "Float conversion issue"
This following example fails with pythran

hh.py:
[code]

ii.py:
[code]

[2018-08-10 12:57] diorcety opened #987 "Is None issue"
The following code fails with pythran
oo.py
[code]
jj.py
[code]

[2018-08-14 15:07] #983 closed

[2018-08-14 15:09] serge-sans-paille commented on #969
@diorcety can you confirm the problem has been fixed in master?

[2018-08-14 15:19] diorcety commented on #969
Yes, I confirm

[2018-08-14 17:04] #969 closed

[2018-08-16 06:01] serge-sans-paille commented on #908
And the answer is... yes :-)

[2018-08-17 10:44] diorcety opened #990 "operator __surrogate_func"
With MSVC (last version) the following example doesn't compile.
If the struct template is removed, the code compiles
[code]

[code]

[2018-08-18 12:58] diorcety commented on #990
Seems a regression with last msvc...

[2018-08-26 04:25] Chronum94 opened #994 "Scipy.special backend for Bessel functions"
How difficult would it be to implement this? They're very commonly used in a lot of physics problems in spherical coordinates, and Boost has them, so they can be used from there. It would be really nice to have these functions supported.

On a related note, fantastic package. Much appreciated.

[2018-08-26 07:10] serge-sans-paille commented on #994
That sounds feasible. Can you list the exact name of the functions you need?

[2018-08-26 07:44] Chronum94 commented on #994
From https://docs.scipy.org/doc/scipy-0.19.1/reference/special.html

`jv`, `yv`, `kv`, `iv`, and their derivatives, which have are `jvp`, `yvp`, etc. Optionally, `hankel1`, `hankel2` would also be great to have, and also exist in Boost special functions.

[2018-08-26 08:29] serge-sans-paille commented on #994
ok! Will have a look at it :-)

[2018-08-28 05:54] #985 closed

[2018-08-28 07:29] ucyo opened #996 "Python build-in slice function"
Hi there,

support for the build-in slice function of Python would be nice...

[code]

[2018-08-28 08:09] serge-sans-paille commented on #996
Hi ucyo, thanks for the report! This looks perfectly feasible.

[2018-08-29 15:23] diorcety opened #998 "Clang PI definition"
atan doesn't seem to be a constexpr

[code]

[2018-08-30 09:01] serge-sans-paille commented on #996
@ucyo can you confirm #999 fixes your issue?

[2018-08-30 09:39] ucyo commented on #996
Thank you. The example above is compiling. My actual use case throws some C++ errors, but that might be another problem :+1:

[2018-08-30 09:39] #996 closed

[2018-08-30 14:47] h-vetinari commented on #875
Any update on this?

Getting a very similar error for `x * y` or `np.multiply(x, y)`:
[code]

I'm on Python 3.6, IPython 6.5.0, Pythran 0.8.6, Win10 64bit, and the `dprod`-example from the docs compiles.

@serge-sans-paille

I installed from wheel and get the following for `np.show_config()`:
[code]

Side note: "pythran" is the name of my `conda` environment for testing pythran, which might be con

[2018-08-30 15:52] h-vetinari opened #1000 "pythran breaks by updating Visual Studio 2017"
I had a problem with compiling `np.multiply`, and before I found issue #875, I already initiated an install of the newest Visual Studio 2017 Community (15.8.2, apparently released 2 days ago: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes), to see if that solves the problem.

Part of the testing I did *before* was that the `dprod` example from the docs was working, whic

[2018-08-30 18:03] serge-sans-paille commented on #1000
It is possible that this is fixed in master branch. Can you confirm?

[2018-08-30 19:54] h-vetinari commented on #1000
@serge-sans-paille
Not sure I installed it correctly (cloned the repository and used `python -m pip install -e .`), but it seems this is indeed fixed on master. :)

Now, (hopefully) on to #875? ;-)

[2018-08-31 06:32] serge-sans-paille commented on #1000
Great, closing the issue then.

[2018-08-31 06:32] #1000 closed

[2018-08-31 06:33] serge-sans-paille commented on #875
Can you list the content of ``C:/ProgramData/Miniconda3/envs/pythran\\Library\\lib`` and tell me if there is an openblas library there?

[2018-08-31 06:52] serge-sans-paille commented on #998
Should be finxed by #1001

[2018-08-31 07:15] h-vetinari commented on #875
@serge-sans-paille

All the `.lib` files without the ones starting with `Qt` or `qt`:
[code]

So no openblas, but (as far as I can tell) it's in the `mkl_` stuff.

[2018-08-31 14:02] h-vetinari opened #1002 "pythran does not know np.meshgrid"
`np.meshgrid` is an easy high-level function to create a grid of some (e.g.) x- & y-values (https://docs.scipy.org/doc/numpy/reference/generated/numpy.meshgrid.html), for example:

[code]

When trying to use this in pythran, I get:
[code]

I can write the loops for it of course, but it would be nice to have `meshgrid` supported. :)

[2018-08-31 18:25] serge-sans-paille commented on #875
Yeah, one needs to find where the blas functions are defined in those... any educated guess?

[2018-09-01 00:34] h-vetinari commented on #875
I'd say `mkl_intel_ilp64_dll.lib` or `mkl_intel_lp64_dll.lib` (guessing based on size and trying to find some strings in the lib). I found a description of the differences between `ilp` and `lp` here, not sure how useful:
https://software.intel.com/en-us/mkl-macos-developer-guide-using-the-ilp64-interface-vs-lp64-interface

[2018-09-01 11:00] DerWeh opened #1003 "Support quad precision"
Thank you for your great project.

I would appreciate if you could add support for `float128` and `complex256`. I often need higher precision, and as the libraries are often non-standard for this, I would appreciate the speed-up of `pythran` especially here.

[2018-09-01 11:12] DerWeh opened #1004 "Error with -march=avx"
Admittedly I have no idea what I am really doing, I copied the instructions from your documentation. Using
[code]
gives me
[code]
Somewhere I found to use
[code]
Which works without problem. What is the difference and what is my issue?

[2018-09-02 17:37] DerWeh commented on #1004
I see, thank you very much. I would appreciate if you could include this in the manual. I am not familiar with all that stuff.

[2018-09-02 20:43] #998 closed

[2018-09-03 10:45] serge-sans-paille commented on #1003
https://docs.scipy.org/doc/numpy/user/basics.types.html#extended-precision so ``long double`` is the way to go. I wonder how it's supported by standard math operations...

[2018-09-03 22:15] vgroff opened #1006 "KeyError when using numpy"
Hi,

Ive been trying to optimize a breadth-first-search type algorithm by compiling it with Pythran, and I get an error message, first I get the warning

[code]
then eventually

`KeyError: <gast.gast.Tuple object at 0x7f388ed31f60>`

I was using the queue class in the Python but Ive re-written this as a numpy array, so as far as I can tell this is all just numpy and python - although it is Python

[2018-09-04 05:45] serge-sans-paille commented on #1006
Issues spotted. As a quick workaround, you can declare ``qs`` as ``qs = np.zeros((2, maxSize, 3), dtype=int)``

[2018-09-04 12:31] vgroff commented on #1006
Thanks for the help! Brilliant, that has seem to fix the original error - did you manage to get it to compile though?

Was the line meant to be
`qs = np.zeros((2, maxSize, 3), dtype=int)`
or
`qs = np.zeros((2, maxSize, 3), dtype=np.int8)`

I now get a bunch of C compilation error depending on which I use. If I use int, I get

[code]

and with np.int8

[code]

[2018-09-05 05:11] serge-sans-paille commented on #1006
I don"t have the same issue as you have, but I'm living on the master branch. I won't close this Issue right now as I still need to support indexing through tuples of int8 indices. Glad you managed to compile your code!

[2018-09-05 06:55] serge-sans-paille commented on #1006
#1007 solves the ``[2] + [maxSize] + [3]`` issue.

[2018-09-06 19:30] serge-sans-paille commented on #994
Fixed by #1005 !

[2018-09-06 19:30] #994 closed

[2018-09-08 14:08] serge-sans-paille commented on #1006
#1009 should definitively fix your code. @vgroff Can you confirm that's ok?

[2018-09-10 14:26] h-vetinari commented on #842
This does not seem fully fixed, unfortunately...

I'm on the latest available commit from master (https://github.com/serge-sans-paille/pythran/commit/bb977467e42a36d393df6bad4d3a459d86defbb9), Windows 10, Python 3.6.6, MSVC 2017 Community 15.8.2, IPython 6.5.0, and I get the same errors no matter what I've tried:

[code]

compiles without problems, but then:

[code]

[2018-09-10 14:57] serge-sans-paille commented on #1006
@vgroff : up!

[2018-09-11 08:57] #1006 closed

[2018-09-11 08:58] serge-sans-paille commented on #842
ok, as suggested by @Dapid a while ago, I'll improve the pretty printer so that we now why this type is not accepted. ndarray is not sufficient :-)

[2018-09-11 09:33] h-vetinari commented on #842
@serge-sans-paille
That's great! I deleted my previous comment because I had an embarassing error in there (int vs float), but the problem persists for copy vs. no-copy, and in another case, I still haven't gotten it to work at all. (same for the "ugly patch" from @Dapid, so still don't know why).

[2018-09-11 11:38] h-vetinari opened #1011 "Crash/hang for some numpy arrays?"
I'm struggling with problems related to #842 and was working on test-cases to isolate the behaviour, when I stumbled across a bug that seems very weird to me.

Two almost identical arrays - one runs without problems, the other crashes. The difference must be very subtle, because every aspect I could think of checking is exactly equal.

I'm on latest commit as of yesterday (https://github.com/serge

[2018-09-11 13:50] vgroff commented on #1006
Yes, it all works perfectly
Thanks

[2018-09-12 14:37] h-vetinari commented on #853
@serge-sans-paille

May I ask what the current timeline for 0.8.7 is? That comment I quoted is now 6 weeks old...

[2018-09-12 15:32] Dapid commented on #853
Sorry! I have been bad at keeping this, but I am kinda swamped.

But, I mentioned you in the paper: https://www.biorxiv.org/content/early/2018/08/02/383133 (real publication in progress).

[2018-09-12 19:47] serge-sans-paille commented on #853
and thanks @Dapid for the motivation and the citation ;-)

[2018-09-12 22:46] h-vetinari commented on #853
@serge-sans-paille Thanks for the info!

[2018-09-13 12:25] #853 closed, assigned to nobody

[2018-09-13 22:55] h-vetinari commented on #1011
@serge-sans-paille Has this been reproducible for you, or did I manage to make a mistake somewhere?

[2018-09-14 13:09] #982 closed

[2018-09-14 13:09] #987 closed

[2018-09-14 18:04] serge-sans-paille commented on #1011
I just checked and saw a nice message on stdout:

[code]

and I get a crash on the second one. So yes! I can reproduce

[2018-09-15 11:49] serge-sans-paille commented on #1011
@h-vetinari please confirm #1014 fixes your issue. If so I'm releasing after the merge.

[2018-09-15 14:28] h-vetinari commented on #1011
@serge-sans-paille Can confirm that #1014 fixes this. Thanks a lot for the quick response!

[2018-09-16 06:16] #1011 closed

[2018-09-17 16:29] jeanlaroche opened #1015 "Compilation fails on np.diff() (Linux and macOS)"
I'm getting a compilation failure on this simple code:
[code]
Using the current head (99d8234f) of master on both Linux and MacOS.

[2018-09-17 19:09] serge-sans-paille commented on #1015
thanks @jeanlaroche. I can reproduce the problem, which is fairly easy: we d'ont support the axis argument for ``np.diff``. i'll fix that.

[2018-09-17 20:17] jeanlaroche commented on #1015
Awesome thank!
J.

[2018-09-18 18:15] jeanlaroche opened #1017 "Compilation bug on selection of return values"
This is a minor bug as it's very easy to work around it, but nonetheless it would be good if this didn't crash....
[code]

[2018-09-18 20:12] serge-sans-paille commented on #1017
Fixed by #1019 (?)

[2018-09-18 21:13] jeanlaroche commented on #1017
Alas no:
`E: Invalid subscripting of `Tuple[int, T0, T1]` by `slice` (B1017.py, line 12)`

[2018-09-19 17:32] jeanlaroche opened #1020 "KeyError: <gast.gast.Num object... when declaring function with default arguments"
I'm getting a "KeyError: <gast.gast.Num object at 0x112b02510>" error on the following code.
[code]

[2018-09-19 19:07] serge-sans-paille commented on #1020
I can reproduce, keep in touch :-)

[2018-09-20 06:53] #1015 closed

[2018-09-20 08:06] serge-sans-paille commented on #1020
Fixed by #1021

[2018-09-20 16:18] jeanlaroche commented on #1020
Confirmed fixed.

[2018-09-20 17:07] #1020 closed

[2018-09-20 18:55] jeanlaroche opened #1023 "Compilation error on zero loop range"
This is silly and easy to avoid, but it took me a while to pinpoint the error. The issue below is that N is fixed to 0 so pythran uses its real value in range(N) but apparently not in "if N"...
[code]

[2018-09-20 20:02] serge-sans-paille commented on #1023
Fixed by #1024

[2018-09-20 21:10] jeanlaroche opened #1025 "TypeError: Invalid call to pythranized function when calling with param x[:,None]"
Consider the function below.
[code]
If you call `test(np.zeros(2000,2))` everything's fine, but if you call with `test(np.zeros(2000)[:,None])` you get the usual error:
[code]
This despite the fact that np.zeros(2000)[:,None] has a shape of (2000,1). The problem is that np.zeros(2000)[:,None].strides is (8,0) and that trips up the verification code. Artificially setting the strides to (8,8) fixes

[2018-09-20 22:00] jeanlaroche opened #1026 "np.log2(int value) is wrong when pythranized"
This is a nasty one:
[code]
returns two different values! The first one is int(log2(N))...

[2018-09-20 23:08] jeanlaroche commented on #1026
As expected, this is also true of many other math functions, like np.sqrt(). I'm guessing you're casting the output to the input type, so you get float32 for a float32 input etc, but this clearly does not work when the input is an int!

[2018-09-20 23:48] jeanlaroche opened #1027 "Compilation error on np array that's actually a scalar"
This does not compile in pythran, but does work in numpy as np.array(4) is a simple scalar with an empty shape.
[code]

[2018-09-23 19:01] #1023 closed

[2018-09-25 13:46] serge-sans-paille commented on #1017
Should be now fixed, thanks for reporting!

[2018-09-25 13:46] #1017 closed

[2018-09-26 01:30] serge-sans-paille commented on #1026
This is a real issue. I'll investigate that right now.

[2018-09-26 01:35] serge-sans-paille commented on #1026
mmmmh I cannot reproduce, can you check on master version?

[2018-09-26 08:34] jeanlaroche commented on #1026
I will when I get back... Traveling at this time...

[2018-09-28 16:07] jeanlaroche commented on #1026
If I force include the directory myself, I get the following error:
[code]

[2018-09-28 16:54] serge-sans-paille commented on #1026
(fixed on IRC, but for the record)

xsimd is now a vendored dependency of Pythran. You just need to ``python setup.py build`` or ``python setup.py develop`` to fix that issue.

[2018-09-28 16:55] jeanlaroche commented on #1026
OK My bad. I failed to run setup.py build. Once that's done, I can confirm that:
- In Linux, compilation succeeds and there's no bug (log2(N) is correct whether N is an int or not)
- In MacOS: I now get the following compilation error:
[code]

[2018-09-28 20:32] serge-sans-paille commented on #1026
ok, #1029 should fix the simd issue.

[2018-09-28 20:47] jeanlaroche commented on #1026
Indeed it does on mac os. Great!

[2018-09-29 19:13] #1026 closed

[2018-09-29 19:13] serge-sans-paille commented on #1026
thanks o/

[2018-09-30 15:30] serge-sans-paille commented on #807
@paugier : #1030 should definitively close the issue... or so I hope! Can you confirm?

[2018-10-01 10:03] ashwinvis commented on #807
The following are the results, in my laptop after a `sudo python -m perf system tune`.

### branch master (6f2a8f6)

[code]

### branch fix/complex-scalar-broadcast-perf (9d18ec6)

[code]

[2018-10-01 10:18] ashwinvis commented on #807
It seems that there **is** some improvement using the **default options** and using numpy like broadcasting, from ~18ms to ~14ms. However the benchmarks also suggest it **is still ~ 20% to 40% slower** with explicit loops. It is maybe too early to close this issue?

[2018-10-01 13:32] paugier commented on #807
Hi @serge-sans-paille

For me with clang 6.0 it is much better now! Impressive! Thank you for your work on this issue and glad that you managed to make the transition towards xsimd.

# branch master
[code]

# branch fix/complex-scalar-broadcast-perf
[code]

[2018-10-01 16:29] ashwinvis opened #1031 "Remove LTO flags to prevent errors with clang?"
Error in question:

[code]

I had to patch as follows to allow pythran to use clang.

[code]

The reason was my `python-config` supplied those flags
[code]

I understand this is system specific (Arch Linux), and it does not happen for eg. with python provided by Anaconda.

Also see: https://stackoverflow.com/questions/32237647/how-can-i-link-files-compiled-with-clang-flto-using-lld

[2018-10-02 09:18] serge-sans-paille commented on #807
@paugier : thanks for the positive feedback. I just pushed an update in the same branch, on my laptop this leads to significant improvments with gcc, can you confirm?

[2018-10-02 11:17] paugier opened #1032 "AttributeError: /usr/lib/x86_64-linux-gnu/libgomp.so.1: undefined symbol: omp_VERSION"
[code]

A quick fix is of course to change `except ImportError:` to `except (ImportError, AttributeError):` in https://github.com/serge-sans-paille/pythran/blob/master/pythran/tables.py#L4488

[2018-10-02 16:46] paugier commented on #807
I'm sorry but I cannot confirm. Your last commit does not change anything for me...

[2018-10-02 19:18] serge-sans-paille commented on #807
On Tue, Oct 02, 2018 at 09:46:53AM -0700, Pierre Augier wrote:

That's surprising, because it does on my laptop. I'll run your benchmark
instead of mine tomorrow. Thanks for the feedback anyway!

[2018-10-02 19:20] serge-sans-paille commented on #1032
Your fix looks correct, feel free to propose a patch!

[2018-10-02 20:42] serge-sans-paille commented on #807
Only partially fixed by #1030, keeping this one open.

[2018-10-03 12:34] serge-sans-paille commented on #1031
Would it make sense to add a rmflags or something similar in the pythranrc so that one could customize the flags to prune? Cannotcome with a good name though... filter_flags? prune-flags?

[2018-10-03 19:39] serge-sans-paille commented on #1003
@DerWeh #1003 is a tentative to implement support for long double (and long double complex) can youch check it fits your needs? Thanks!

[2018-10-04 05:57] serge-sans-paille commented on #1025
Yeah, as noted in the comment, this has been reshaped and is currently not supported. I should be able to workaround that.

[2018-10-05 21:31] jeanlaroche opened #1039 "Compilation error when conditionally returning an input or a function of it (Linux, MacOS)"
I'm getting a compilation error on this:
The error seems to indicate that the input variable W is understood to be a list, but I'm not sure why that would be...
[code]

[2018-10-05 23:27] jeanlaroche opened #1040 "Nasty run-time error (MacOS) or seg fault (Linux) on concatenate"
The following code causes a seg fault in unix.
On macos, it runs, but does not do the right thing: whether flag A in test1 is true or not the concatenate does not seem to happen.
Note that it's important that X be 2D. if X is 1D and test1(X) is called, things work OK.
[code]

[2018-10-08 15:31] jeanlaroche commented on #1039
I confirm that it's now fixed! Thanks!

[2018-10-08 19:57] #1039 closed

[2018-10-08 20:05] serge-sans-paille commented on #1032
Thanks for the patch o/

[2018-10-08 20:05] #1032 closed

[2018-10-09 10:51] paugier opened #1042 "fatal error: xsimd_avx512_int_base.hpp: No such file or directory"
An error from [fluidfft CI](https://bitbucket.org/fluiddyn/fluidfft/addon/pipelines/home#!/results/240/steps/%7B500c4589-dcfb-42ca-8ba1-496e6febddc2%7D), which seems to be a Pythran (or xsimd) bug (?):
[code]

As you can guess I tried to compile with `-DUSE_XSIMD`.

[2018-10-09 15:21] serge-sans-paille commented on #1031
#1043 should do the trick, @ashwinvis can you confirm?

[2018-10-09 15:30] jeanlaroche commented on #1040
OK Cool!

[2018-10-09 15:44] ashwinvis commented on #1031
For the record, now my pythranrc looks like this:
[code]
It doesn't work with the PR and fails while generating the `.so` file. For me it only worked when I removed it from the linker as well, as you saw in the patch.

[code]

[2018-10-09 15:47] serge-sans-paille commented on #1031
@ashwinvis just pushed a new version!

[2018-10-09 15:50] paugier commented on #807
Unfortunately no. Still the same performance issue with gcc 6.3 on my desktop.

I'm going to try on another computer.

I'm also starting to think it could be an issue with our method of measurement (no idea why but...). @serge-sans-paille which benchmark do you use? How do you run it?

[2018-10-09 15:52] ashwinvis commented on #1031
Yes this should fix it :+1:

[2018-10-09 16:30] ashwinvis commented on #807
For me the timings look awesome with gcc 8.2.1.

* without `complex_hook`
[code]

* with `complex_hook=True`
[code]

[compared to what I reported before](https://github.com/serge-sans-paille/pythran/issues/807#issuecomment-425854037).

I believe most of the performance gains are from the improvements to the `numpy.square` function as indicated by the `pythran -P` output:

[code]

 I wonder if our

[2018-10-09 18:58] serge-sans-paille commented on #807
After a quick asm inspection, turns out pythran does not use XSIMD when mixing complex numpers and scalars, which is a performance bug. I'll fix that.

[2018-10-09 20:49] serge-sans-paille commented on #807
Thanks @paugier and @ashwinvis for the promising timing. I fixed a vectorization issue in fix/more-complex-vectorize branch #1044. And it's blazing fast on my laptop now. Same on your setup? -DXSIMD on.

[2018-10-10 05:01] #1031 closed

[2018-10-10 07:09] paugier commented on #807
Yes, finally I confirm! It's fast!

## branch fix/more-complex-vectorize

### gcc 6.3

[code]

### clang 6.0

Clang is still better for broadcasting, even without SIMD...

Strangely, with my setup, adding XSIMD slightly decreases the performance for clang. But it's a very small effect.

[code]

[2018-10-10 08:22] ashwinvis commented on #807
Noticeable improvement with SIMD here as well, with gcc 8.2.1!

* no `complex_hook`:

[code]

* with `complex_hook`
[code]
Seems like the original issue is resolved now. :confetti_ball:

As a side note @paugier, it might be worthwhile to compare the actual gcc commands executed. I will share mine for the :

[code]

[2018-10-10 13:30] RalphFS opened #1045 "Pythran openmp issue"
Installing Pythran via Conda-forge causes openmp to stop working for both Pythran and Cython.

When I create a new Conda environment via

at least Cython (0.28.5) seems to work correctly with fopenmp. But as soon as I add Pythran (0.8.5 / 0.8.7) via

something will break.

For example, if I compile the following lines of code:

[code]
[code]
[code]

...I get this error message:

[code]
The strange

[2018-10-10 16:38] serge-sans-paille commented on #1045
That's normal. It's a customization point, the vanilla pythran does not need one.

The OpenMP issue is both strange and critical. Can your reproduce it on Linux, or is that specific to OSX? It looks like you're no longer linking with the system OpenMP, or that you need to force the OpenMP rpath. The reason why you encounter this problem is *probably* that pythran depends on a c++ compiler that get

[2018-10-10 16:39] serge-sans-paille commented on #807
Great, let's close this issue then, now that #1044 is merged.

[2018-10-10 16:39] #807 closed

[2018-10-10 17:36] RalphFS commented on #1045
Thanks for your quick response. I will try to reproduce this with Linux.

Yes, that looks very familiar to me... that would also explain another problem I noticed:
The speed of a compiled Pythran program depends on the kernel used.  Let's say I have two anaconda environments:
- The anaconda base environment without Pythran.
- The new_env environment with Pythran 0.8.7 installed.

When I import Pyt

[2018-10-11 06:30] KOLANICH opened #1046 "Compare to cython and nuitka"

[2018-10-11 08:17] serge-sans-paille commented on #1046
Can you elaborate? Are you expecting a documentation entry that explains the difference between the approcahes, some benchmarks, anything else?

[2018-10-11 12:02] RalphFS commented on #1045
Okay that works in the terminal but it doesn't work in combination with the pythran magic,right?  unfortunately, that doesn't fix the issue. However, today i tested it on a linux machine and can confirm that on linux everything works as desired.

[2018-10-12 01:54] KOLANICH commented on #1046
Yes. Especially performance comparison.

[2018-10-12 14:51] paugier opened #1047 "CC, CXX: .pythranrc + env variables, who win?"
It seems to me that when both CC/CXX environment variables and .pythranrc are set, the content of the environment variables is used.

In the doc, it is not clear who win in this case:

On Intel environment, it seems to me that it would be good that

[code]

because CC and CXX can be used for other things (to use icc).

If we want to keep environment variables stronger than the values in .pythranrc

[2018-10-12 15:41] KOLANICH commented on #1046
Thank you for the answer.

[2018-10-12 21:02] serge-sans-paille commented on #1046
Great, feel free to close the issue then ;-)

[2018-10-12 21:03] serge-sans-paille commented on #1025
@ashwinvis & @jeanlaroche #1048 should be an improvment there.

[2018-10-13 05:49] #1046 closed

[2018-10-13 12:36] paugier opened #1049 "Error at runtime: TypeError and "reshaped""
I got this strange error on a cluster with a code which works on other computers:

[code]

It is normal ? What does it exactly mean? I didn't find anything in the doc...

[2018-10-13 15:57] serge-sans-paille commented on #1049
Yes, it's normal, altohough I'm trying to improve the situation. All the
magic lies in the ``(reshaped)`` which basically means that the
parameter as the good dimensions, but it's wrapping a reshpaed array, or
a sliced view...

Can you give me more info about the callsite?

Oh, and #1048 may solve your issue. If so, please tell me!

[2018-10-13 16:03] paugier commented on #892
When I try to use Pythran with a quite recent version of icpc, I get:
[code]
and other similar errors.

@serge-sans-paille, is it really a C++11 support problem? Do you know which C++11 features is no well supported enough by icpc to compile Pythran C++ code?

See https://software.intel.com/en-us/articles/c0x-features-supported-by-intel-c-compiler

On clusters, people usually use the intel compile

[2018-10-13 17:17] serge-sans-paille commented on #892
For the record, I already reported the issue: https://software.intel.com/en-us/forums/intel-c-compiler/topic/623633

[2018-10-13 19:19] serge-sans-paille commented on #1047
mmmh, while I understand your issue, the generally accepted rule is to have env variable take precedence over config file, as in:

- https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
- https://docs.docker.com/compose/env-file/

so we definitievely want

[code]

In addition to common practice, the rational seems to be: you can change an env variable per call, while you

[2018-10-13 19:28] serge-sans-paille commented on #1047
#1050 clarifies the situation.

[2018-10-13 20:19] paugier commented on #1047
Your proposed solutions would work when using the command line pythran but not when Pythran is used in a setup.py.  In this case, I don't see how one can build a package using Pythran if CC/CXX point towards the Intel compiler. That's why I proposed that Pythran would be sensible both to CC and PYTHRAN_CC with the following precedence:

```PYTHRAN_CC / PYTHRAN_CXX > .pythranrc > CC/CXX```

But any

[2018-10-14 07:47] serge-sans-paille commented on #1047
What about

[code]

would that solve yourt issue?

[2018-10-14 17:36] paugier commented on #1047
It would solve an issue but then if we introduce another env variable (PYTHRANCC), I don't understand the advantage of
```PYTHRANCC > CC > .pythranrc```
compare to
```PYTHRANCC > .pythranrc > CC```

I see one advantage of `PYTHRANCC > .pythranrc > CC`, which is that we avoid this strange behavior for people who correctly set .pythranrc and don't know about CC/CXX variables and still cannot install

[2018-10-15 12:17] ashwinvis commented on #906
With #1048, the function `euclidean_norm_pythran` seems to atleast run with the export annotation using `float[][][]` and not with `float[::][::][::]`. The latter results in
[code]

The pythran function using the former `float[][][]` works, so the issue can be closed.

[2018-10-15 12:19] ashwinvis commented on #1025
I confirm that @jeanlaroche 's test case works with #1048.

[2018-10-15 19:48] serge-sans-paille commented on #906
Great, I'll close it as soon as @jeanlaroche validates #1048. Two-bugs-in-a-row \o/

[2018-10-16 10:59] serge-sans-paille commented on #908
@saraedum xsimd is now vendrored with pythran, and we dropped the boost.simd dependency. It's now possible to install pythran without extra deps if boost.math and boost.format and xsimd are already installed, using the appropriate ``setup.py`` flags. (master version only, requires the latest version of xsimd)

[2018-10-16 12:11] paugier opened #1053 "Packaging bug on Fedora and packaging example?"
I went in Brest to work with fluidsim_ocean developers. We had many problems, and most of them were related to Pythran :-)

In particular, we didn't manage to compile Pythran extensions on a Fedora machine with this silly but annoying error: `g++: error: mypackage/mod_pythran.cpp: No such file or directory`. We tried with fluidfft and fluidsim and nothing worked.

The C++ files are created by Pyth

[2018-10-16 12:17] paugier opened #1054 "Pure Python package coupled with Pythran (as fluidpythran)"
After using Pythran in FluidDyn packages for a while, I am now convinced that Pythran needs a small pure Python package to help to use Pythran in packages.

I've experimented around this idea with [fluidpythran](https://bitbucket.org/fluiddyn/fluidpythran).

I don't rewrite here what is in [fluidpythran README](https://bitbucket.org/fluiddyn/fluidpythran). Fluidpythran is useful:

- first, to help

[2018-10-16 12:26] paugier opened #1055 "Examples of usages of Pythran in the documentation"
I propose that some words could be added in Pythran's documentation to list examples of usages of Pythran. When I encountered [a problem with building a package using Pythran](https://github.com/serge-sans-paille/pythran/issues/1053), I would have liked to try with another packages and I didn't find what to use.

### Which packages use Pythran?

On PyPI: https://pypi.org/search/?q=pythran

- fluid

[2018-10-16 15:39] serge-sans-paille commented on #1049
cc @ashwinvis #1048 has been merged in master, does that close this issue?

[2018-10-16 15:40] serge-sans-paille commented on #1047
The issue youmention makes sense. Still, CC > config is the defacto standard... I don't see any easy solution to this, apart from having pythran-genertaed code be icc compilant :-)

Documentation merged in #1050

[2018-10-16 15:40] #1025 closed

[2018-10-16 15:41] #906 closed

[2018-10-16 15:53] paugier commented on #1047
Sure it would be the best solution!

I close this issue since the doc is now explicit. Users just have to be careful. :-)

[2018-10-16 15:53] #1047 closed

[2018-10-16 17:05] serge-sans-paille commented on #1045
@RalphFS #1057 should make it possible to use ``-Wl,stuff`` in a pythran magic. Can you confirm it's okay for you?

[2018-10-16 17:16] RalphFS commented on #1045
I think this would be more convenient if you work a lot with Jupyter notebooks but I am also happy with the terminal solution. Unfortunately this does not fix the openmp error message.  I'm not familiar with c++, but if you have any other ideas, you're welcome to give me instructions that I can try under MacOS. I'm pretty sure it's related to Pythran or some package dependencies, since the problem

[2018-10-16 18:47] serge-sans-paille commented on #1045
@RalphFS can you try to just install gcc in a venv, and check if gcc is the not the origin of the problem?

[2018-10-16 21:05] jeanlaroche commented on #1025
Yes, I confirm it's now fixed.

[2018-10-17 17:43] serge-sans-paille commented on #1055
As extra information, I know that Pythran is used in a few private context too: @jeanlaroche and @diorcety both use Pythran extensively as part of their job. It is also used in several CNRS entities, internally.

The [scikit image PR](https://github.com/scikit-image/scikit-image/pull/3226) is on stand-by, I should probably focus on this. Astropy looks like a good candidate too, you're right.

[2018-10-17 19:56] paugier commented on #1053
Of course, I don't get the problem on my computers (on Ubuntu and Debian).

To reproduce (see [this issue for the error log](https://bitbucket.org/fluiddyn/example_package_fluidpythran/issues/1/bug-fedora-conda-pythran)):

[code]

I'm going to ask Sylvie if she gets the same problem with your test examples.

[2018-10-18 12:07] serge-sans-paille opened #1059 "Pythran fails to perform unchecked access on the following code:"

[2018-10-18 12:09] serge-sans-paille commented on #1059
[code]

[2018-10-18 15:25] serge-sans-paille opened #1060 "Pythran fails to avoid array creation in that context"
[code]

[2018-10-19 08:19] RalphFS commented on #1045
You are talking about a virtual conda environment, right? In the meantime I also tried anaconda gcc 4.8... unfortunately without success. However, I was able to solve the problem artificially in the meantime. Apparently different compilation dependencies cause these problems.

I used the terminal command otool -L example.so to examine the dependencies and found that once Pythran is installed, the

[2018-10-19 08:38] RalphFS opened #1063 "extend pythran (statistical distributions)"
Would it be possible to integrate statistical distributions into Pythran? In Cython, for example, you can use the GSL package or wrap the [Rmath-julia library](https://github.com/JuliaStats/Rmath-julia). It would be great to have access to these distributions from Pythran.

..to make the question more general: Is it theoretically possible to use Cython functions from within Pythran or to call Pyth

[2018-10-24 06:47] lw3259111 opened #1064 "compiler error"
[code]
[code]

The is my code to caluate w_distance. so how to edit code?

[2018-10-24 08:06] paugier commented on #1064
Dear @lw3259111 you could modify your bug report to put the code and the error log between 3 `. It would produce something much more readable...

[code]

[2018-10-24 08:15] lw3259111 commented on #1064
@paugier Thanks for your attention,Now , i has modified my code , and show in the new version.

[2018-10-26 12:35] paugier commented on #892
Good news: simple examples without numpy now compile with recent versions of icpc.

Bad news: as soon as Numpy is used, icpc fails with errors related to code in `pythran/pythonic/include/types/ndarray.hpp` and `pythran/pythonic/types/ndarray.hpp` (see the attached log file [bug_icpc_pythran.log](https://github.com/serge-sans-paille/pythran/files/2519117/bug_icpc_pythran.log)).

[code]

In order t

[2018-10-26 18:32] serge-sans-paille commented on #1064
This is indeeda very challenging code to support :-) Pythran chokes on 3 things:

1. The `kind` argument for `np.sort` is NIY
2. The `side` argument for `np.searchsorted` is NIY, and search sorted lacks support for non 1D array
3. You're hitting a small bug in some smart indexing ``u_values[u_sorter]``

So that's a very interesting example! I'll take some time on it and keep you in touch.

[2018-10-26 19:19] serge-sans-paille commented on #1063
hi RaphFS,
the only way to achieve that goal is through `capsule`. The documentation about its usage in pythran is not very verbose (see http://serge-sans-paille.github.io/pythran-stories/the-capsule-corporation.html) but that's a good opportunity to improve it :-)

[2018-10-27 05:11] lw3259111 commented on #1064
@serge-sans-paille Thanks for your attentaion, i modified my code, and it work only for 1d array.
[code]
but, i want use the code for 2d+ array. So ,can your give some suggestion?

[2018-10-27 05:41] serge-sans-paille commented on #1063
BTW please note that if the distribution is part of ``numpy.random``, we should just add support for it in Pythran. Please name them :-)

[2018-10-27 06:01] serge-sans-paille commented on #1063
As of capsule usage, here is an example with gsl:

[code]

And the pythran file:

[code]

[2018-10-27 06:01] serge-sans-paille commented on #1063
@paugier you might be interested in this one.

[2018-10-27 19:41] serge-sans-paille commented on #1064
@lw3259111 I'm trying to call your code as

[code]

unfortunaltey, I end up with

[code]

can you provide an example that makes sense for the 2D case?

[2018-10-27 19:42] serge-sans-paille commented on #1049
@ashwinvis up.

[2018-10-27 19:45] ashwinvis commented on #1049
I am unsure of this error, only @paugier knows exactly how to reproduce this.

Sent from ProtonMail mobile

-------- Original Message --------
On 27 Oct 2018 9:42 pm, serge-sans-paille wrote:

[2018-10-27 21:49] serge-sans-paille commented on #1053
yeah, that's how it's usually done. looks like for some reason, the `cwd` changes at some point... Maybe we could save the absolute path of the ``.cpp``? I'll prepare a branch with that patch.

[2018-10-27 22:11] serge-sans-paille commented on #1053
ok, that does not work, trying something else...

[2018-10-28 08:37] lw3259111 commented on #1064
@serge-sans-paille yes,it work for 1D, but i want to get 2D+ version, can you modify the code make the `np.searchsorted` support the 2D version with broadcast property?

[2018-10-28 09:13] serge-sans-paille commented on #1064
I have a potential solution, but I'm unsure of the validity, which is
why I need some inputs that make sense, and the expected result :-)

[2018-10-28 13:56] lw3259111 opened #1066 "np.random.multivariate_normal"
@serge-sans-paille I want use  `np.random.multivariate_normal` ,can you support the function?,Thanks.

[2018-10-29 10:11] serge-sans-paille commented on #892
@paugier: the following code does not compile with icpc 18

[code]

Not-compiling version

[code]

compiling version

[code]

[2018-10-29 10:13] serge-sans-paille commented on #1066
hi @lw3259111.
I had a look to numpy's implementation and yes we can implement it, but after next release.

[2018-10-29 13:48] serge-sans-paille commented on #1064
you're welcome! I keep the issue open for the extra ``np.sort`` argument though.

[2018-10-30 07:37] lw3259111 commented on #1066
@serge-sans-paille Thanks, look forward to your next release!

[2018-10-30 08:29] serge-sans-paille commented on #1053
I just tried a fresh fedora install and run the above command, everything compiles gracefully. Inside a virtual env (not a conda env).

[2018-10-30 09:44] serge-sans-paille commented on #1053
And tried through conda too: everything works fine. Maybe it's an issue related to the Ifremer environment?

[2018-10-30 13:54] serge-sans-paille commented on #1063
Everything explained in the doc associated to #1070

[2018-10-30 13:55] serge-sans-paille commented on #1055
@paugier some doc in #1070. This covers the basics.

[2018-10-31 07:50] #802 closed

[2018-10-31 07:50] #1055 closed

[2018-10-31 07:50] #1063 closed

[2018-10-31 12:00] lw3259111 commented on #1066
@serge-sans-paille `from numpy.linalg import inv` ,can you add the `inv` function in the next release?

[2018-10-31 12:11] serge-sans-paille commented on #1066
Next release is almost ready, so you'll have to wait a bit :-)

[2018-11-01 07:28] serge-sans-paille opened #1072 "invalid view conversion"
reproducer:

[code]

where

[code]

[2018-11-01 11:53] hmaarrfk commented on #1072
i only wrote it in numba. Cell magic wasnt working for pythran :/ but seems like you found a bug

[2018-11-01 13:12] serge-sans-paille commented on #1072
Simpler reproducer:

[code]

[2018-11-01 13:16] hmaarrfk commented on #1072
@serge-sans-paille there is a typo in the calculation of the `chunk_slice` I don't think it is what is causing the bug, but you will probably want to fix it.

I used `chunk_size[1] * i`, when it should be `chunk_size[1] * j`

[2018-11-01 20:30] hmaarrfk commented on #1072
So is the performance difference due to the fact that AVX instructions can't be called on these semi-strided arrays?

[2018-11-01 20:32] hmaarrfk commented on #1072
I guess more fundamentally, is this a hardware limitation when working with semistrided arrays, or a compiler limitations?

[2018-11-01 20:40] serge-sans-paille commented on #1072
I think not, but didn't investigate much either :-/ It probably solely
comes form looping on the native side.

[2018-11-01 20:44] serge-sans-paille commented on #1072
With more knowledge on the stride values (if it were static) loop tiling
could be a solution. In a dynamic fashion, it's still possible to do but
one would need to specialize the code for that.

So terrifically it's doable but I'm not aware of a compiler that does
this kind of transformation at runtime.

[2018-11-01 20:51] hmaarrfk commented on #1072
Cool, thanks for the information. Ultimately, it is this kind of stuff that I found that makes the biggest difference between "benchmarks" and actually running code in the wild.

I'll just want to take a numpy slice of the data, but unfortunately, all my "inplace" operations, which were once fast, now require much more overhead.

I guess this would be considered premature optimization, and likely

[2018-11-07 10:33] diorcety opened #1079 "Undefined symbol _ZN5xsimd5floorIlLm2EEENS_5batchIT_XT0_EEERKS3_"
Here the code to reproduce the issue
[code]

[2018-11-10 18:09] diorcety opened #1081 "Keyerror: self.node_to_functioneffect"
[code]

[2018-11-10 18:56] diorcety opened #1082 "Relative import and global constants issue"
Pythran doesn't support relative constant (or variable) import

c.py:
`A = 2`

d.py:
[code]

[2018-11-10 20:35] ashwinvis commented on #1031
I know this comes a bit a late, but I should have seen [this solution](https://stackoverflow.com/a/22322645), leaving it here for future reference. In retrospect this was enough:

[code]

Good to have a generic solution anyways.

[2018-11-11 09:41] #1079 closed

[2018-11-11 11:29] serge-sans-paille commented on #1081
Simpler reproducer

[code]

[2018-11-12 09:25] diorcety opened #1084 "Can't use imported variable inside relative imported module"
If you comment the first implementation of aa inside bb.py and use the second, the compilation works

aa.py
[code]

bb.py
[code]

[2018-11-12 09:28] diorcety opened #1085 "Can't init global variable using imported function"
If you use cc() instead of aa() inside XX variable, the compilation works

aa.py
[code]

bb.py
[code]

[2018-11-12 17:56] serge-sans-paille commented on #1085
I can reproduce that one... that's a bug :-)

[2018-11-12 21:04] dxm447 opened #1086 "Getting TypeError in Jupyter notebooks when running Pythran"
If I run the following on my Jupyter notebook
`import pythran`
`%load_ext pythran.magic`
`%%pythran`
`#pythran export pi_approximate_pythran(int)`
`import numpy as np`
`def pi_approximate_pythran(n):`
`    step = 1.0 / n`
`    result = 0`
`    for i in range(n):`
`        x = (i + 0.5) * step`
`        result += 4.0 / (1.0 + x * x)`
`    return step * result`
I get the following error (I am runnin

[2018-11-12 21:08] paugier commented on #1054
Note that FluidPythran is improving with new cool things (quickly) implemented:

- [defining functions and blocks with type hints](https://fluidpythran.readthedocs.io/en/latest/#pythran-using-type-annotations)
- [cachedjit](https://fluidpythran.readthedocs.io/en/latest/#cached-just-in-time-compilation ) ([first buggy implementation](https://bitbucket.org/fluiddyn/fluidpythran/src/default/fluidpyth

[2018-11-12 21:20] dxm447 commented on #1086
I am attaching the full error output

[ErrorOutput.txt](https://github.com/serge-sans-paille/pythran/files/2573650/ErrorOutput.txt)
 Also I am using Ubuntu 16.04

[2018-11-12 22:02] serge-sans-paille commented on #1086
can you try ``pip install -U  nextworkx`` ?

[2018-11-12 22:03] serge-sans-paille commented on #1086
How did you install pythran by the way? conda? pip? setup install?

[2018-11-12 22:09] dxm447 commented on #1086
Hi @serge-sans-paille thanks for getting back so quickly. I tried `pip install -U networkx` and I am trying it now. I installed Pythran through conda

[2018-11-12 23:03] dxm447 commented on #1086
Uninstalled Anaconda and did a clean install - and it's working great!

By the way, I was using the Intel channels previously - so most of my packagers were the Intel packages - I do not know whether it was the cause

[2018-11-13 06:49] serge-sans-paille commented on #1086
ok, nevermind. Closing the issue then!

[2018-11-13 06:49] #1086 closed

[2018-11-13 09:14] paugier opened #1087 "Raise PythranTypeError instead of TypeError ?"
It would be convenient if Pythran raise `PythranTypeError` instead of simply `TypeError`.

`PythranTypeError` should of course inherit from `TypeError`.

[2018-11-13 10:08] serge-sans-paille commented on #1087
Mmmmh, that would make the client application depend on an ``import pythran`` statement... what are you trying to achieve? Maybe we can find an other way?

[2018-11-13 12:43] serge-sans-paille commented on #1087
Some extra thoughts: that would mean adding pythran as a runtime dependency for any package using pythran, and we don't want that. One possible alternative:

[code]

[2018-11-13 13:58] paugier commented on #1087
It seems to me that Pythran users could still be able to catch a `PythranTypeError` without importing pythran.

[code]
would still work (since `PythranTypeError` would be a `TypeError`).

However, in some situations, we would to be able to distinguish between a standard TypeError and a PythranTypeError.

It's not very important. Here, https://bitbucket.org/fluiddyn/fluidpythran/src/ed37b22082e27e3

[2018-11-13 15:07] serge-sans-paille commented on #1087
Yeah, but that PythranTypeError would need to be defined somewhere in
the native module then, and be consistent across all modules, which
basically means some pythran runtime :/

[2018-11-13 16:10] paugier commented on #1087
Ok I may understand now...

I'm not used to think that we can use Pythran extensions without the Pythran package... but of course it's important!

So it was just a bad idea and I'll just keep the `except TypeError` :-)

[2018-11-13 16:10] #1087 closed

[2018-11-13 16:13] diorcety opened #1088 "Ellipsis: KeyError"
I can't compile the following example:

test.py
[code]
import numpy as np

#pythran export get_cross(float32[], float32[][][])
def get_cross(a, b):
    #return np.cross(far - center, coords - center)
    return a[..., 0] * b[..., 1] - a[..., 1] * b[..., 0]
[code]

[2018-11-13 16:24] paugier opened #1089 "Wheels for packages using Pythran (C++11)?"
To be quite universal, Python wheels for Linux have to (should) be built on manylinux (a very old OS, i.e. Centos 5).

This OS comes with an old version of gcc (I think 4.8) so it is not simple to use C++11.

I guess during your work on potentially using Pythran in Scipy, @serge-sans-paille  you thought about this issue.

Do you think it is possible (and not too difficult) to build a Linux wheel f

[2018-11-14 17:53] jeanlaroche opened #1091 "Multiple -arch flag issue is back"
Commit e79b0d8a on toolchain.py removed the code that checked for double specification of arch...
I think it should be put back.
Jean

[2018-11-14 18:04] serge-sans-paille commented on #1091
Correct! Do you feel like doing the PR for it?

[2018-11-14 18:04] serge-sans-paille commented on #1091
I cannot think of any test case for that to avoid regression... maybe
using doctest?

[2018-11-14 20:20] jeanlaroche commented on #1091
mmm, I tried fixed it myself by putting back the missing code but it appears to only partially fix it.
There are two successive compilations, one with cc (where -arch is fixed) and one with c++ where it's not. I don't know if that's normal or not.

[code]

[2018-11-14 21:56] #1091 closed

[2018-11-14 22:03] jeanlaroche opened #1092 "Compilation error on XX[uu,] * R[uu, None]"
The following code does not compile in MacOS
I suspect it's related to https://github.com/serge-sans-paille/pythran/issues/924
It's also similar to https://github.com/serge-sans-paille/pythran/issues/905 but that issue is fixed (still fixed with latest I can confirm).
[code]

[2018-11-15 16:41] diorcety opened #1093 "Missing symbol when using function in if body"
If you try to compile that code you have undefined symbol when running the library:
0000000000000000      D  *UND*	0000000000000000              _ZN12_GLOBAL__N_18pythonic11__builtin__4list6appendISt5tupleIJlNS0_5types4listINS5_3strEEEEEEENS5_9none_typeERNS5_10empty_listEOT_

[code]

[2018-11-15 18:06] jeanlaroche opened #1094 "Issue when calling pythranized function from c++ main (MacOS)"
I'm pythranizing a simple function:
[code]
Using pythran -e test.py so I get test.cpp and nothing more.
Then I call initState from a main.cpp file:
[code]
Compilation has no issue, but when running main.out I get this assertion error:
[code]
If I comment out the assert in tuple.hpp, things work fine (and the rest of my program works fine as well). I'm not sure why this assert is being triggered...

[2018-11-15 23:10] dxm447 opened #1095 "Pythran does not recognise fft2"
`%%pythran`
`#pythran export normalized_correlation(float64[:,:],float64[:,:],float64)`
`#pythran export normalized_correlation(float32[:,:],float32[:,:],float32)`
`import numpy as np`
`def normalized_correlation(im1,im2):`
`    im1_fft = np.fft.fft2(im1)`
`    im2_fft = np.fft.fft2(im2)`
`    im_mult = np.multiply(im1_fft,np.conj(im2_fft))`
`    return np.fft.ifft2(im_mult)`

Gives the error

[2018-11-15 23:12] jeanlaroche commented on #1095
Indeed, np.fft.ifft2 has not been implemented at this point... rfft and irfft are though...

[2018-11-15 23:20] dxm447 commented on #1095
@jeanlaroche thanks. Can I use general complex fft for 1d arrays?

[2018-11-15 23:30] jeanlaroche commented on #1095
So far, pythran only has np.fft.rfft and np.fft.irfft, i.e. 1D ffts with real inputs.

[2018-11-16 06:51] serge-sans-paille commented on #1095
@jeanlaroche I'll happily review your patch for complex number support and/or 2D support :-)  You did a great job with irfft and rfft

[2018-11-16 07:00] serge-sans-paille commented on #1094
I can reproduce on linux

[2018-11-16 07:06] serge-sans-paille commented on #1094
Simpler reproducer

[code]

[2018-11-16 08:52] diorcety opened #1096 "Crash when using twice int on variable"
I got the following error with the following code:
[code]
The int(value) is superfluous but it triggers this issue.

aa.py
[code]

bb.py
[code]

[2018-11-16 11:09] #1085 closed

[2018-11-16 11:09] #1084 closed

[2018-11-16 11:09] #1082 closed

[2018-11-16 11:57] serge-sans-paille commented on #1096
if `int(value)` is not in tuples, you return an int . If it is, you return a string :-)

[2018-11-16 12:06] #814 closed

[2018-11-16 16:42] jeanlaroche commented on #1095
ah ah ah ah! Flattery will get you nowhere! :D

[2018-11-16 16:59] serge-sans-paille commented on #1094
Fixed by #1097

[2018-11-16 16:59] serge-sans-paille commented on #1094
I'm waiting for the fft2 version now :-)

[2018-11-16 17:04] jeanlaroche commented on #1094
oh maaaan, it's a lot of work!

[2018-11-16 17:09] jeanlaroche commented on #1094
I confirm the problem is fixed in fix/pshape-type-inference... Thanks a bunch!

[2018-11-16 17:37] paugier opened #1098 "Bug -o option .cpython-36m-x86_64-linux-gnu.so"
[code]
does not work because of bad names containing ".cpython-36m-x86_64-linux-gnu" in C++ (Pythran only removes .so from the output name).

I need to do this for the decorator cachedjit.

`.cpython-36m-x86_64-linux-gnu` is obtained with
[code]

As a workaround, I had to put
[code]
in https://bitbucket.org/fluiddyn/fluidpythran/src/default/fluidpythran/cached_jit.py

[2018-11-16 18:15] serge-sans-paille commented on #1098
your patch looks good to me, can you submit a PR? It would be nice to have a test case too... maybe as a doctest?

[2018-11-16 18:29] serge-sans-paille commented on #1089
I never tried before, and have no experience with wheels :-/
It does not make sense to bundle pythran as a wheel (no binary) but it does make sense for package dependeing on pythran, we should test that.

See https://github.com/pypa/manylinux/issues/118

[2018-11-17 08:14] #1094 closed

[2018-11-17 09:33] paugier commented on #1089
In the issue you mention, it seems that the problem is with C++14 so C++11 may be less a problem.

Note that there is also manylinux2010 https://www.python.org/dev/peps/pep-0571/

Anyway, I guess we won't be able to use the system g++ so we would have to include the newer clib in the wheel. Not sure how we can do that.

CC @CyrilleBonamy

[2018-11-17 09:35] paugier commented on #1098
OK I think I can do it so I put that in my todo list... Anyway, the next Pythran release should not be for tomorrow.

[2018-11-19 11:06] serge-sans-paille commented on #1096
@diorcety #1099 should now reject your code.

[2018-11-19 13:16] diorcety commented on #1096
Here the error
[code]

[2018-11-19 14:13] serge-sans-paille commented on #1096
good, that's what I was expected!

Good ol' compile time error

[2018-11-19 14:57] diorcety commented on #1089
I'm using manylinux with pythran 0.8.7, I have no issue at all with the standard libraries

[2018-11-19 19:48] cycomanic opened #1100 "Some issues with complex and single and double precision"
I have some weird issues when I try to use single and double precision complex. The first issue is that if I try to compile a function for single and double precision alternatives like:

[code]

I get an error:
[code]

Interestingly if I make either the two complex or the two floats an array. The compile works.

However if I implement the function using arrays it like so:
[code]
everything compile

[2018-11-19 20:36] serge-sans-paille commented on #1100
Thanks for the reports and detailed example. This troublesome, I'll have
a look at it :-/

[2018-11-20 09:32] diorcety commented on #1093
And missing implementation in https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/__builtin__/list/append.hpp ?

[2018-11-20 13:10] diorcety commented on #938
Seems resolved since

[2018-11-20 13:10] #938 closed

[2018-11-20 13:10] #927 closed

[2018-11-20 13:10] #990 closed

[2018-11-20 16:31] nbecker opened #1101 "fails to compile"
Problem is:
E: Incompatible types from different branches for `@ret`: `Tuple[int, T0, T1]` and `Array[1d, int]` (ldpc.py, line 118)

https://gist.github.com/nbecker/077b8d7494d1364de515e62c8d98c10a

[2018-11-20 19:44] serge-sans-paille commented on #1100
ok, those all are conversion issues, I'll handle that shortly

[2018-11-20 20:04] #1096 closed

[2018-11-20 20:09] serge-sans-paille commented on #1101
[code]

two different types, that's not compatible with pythran :-)

[2018-11-20 20:13] jeanlaroche commented on #1101
I find that this type of issue is not easy to identify. Even if you *think* you're returning the same types, you may not, in a way that's not always visible to the naked eye...

[2018-11-20 20:20] nbecker commented on #1101
Could pythran provide a better error message for such cases?

Maybe also add something about this to the user manual.

[2018-11-21 00:28] jeanlaroche opened #1102 "Pythran points to the wrong line on silly error"
When compiling this:
[code]
Pythran reports

But the error is on line 7, not 5. On a much larger program this can be very confusing because the real error is nowhere near where pythran says it is.

[2018-11-21 02:04] jeanlaroche opened #1103 "Large discrepancy in np.remainder (MacOS and Unix)"
The following function returns different value in python and with pythran
[code]
in python: test(1.) return 1.0
But the pythran version returns -11.0 (which is erroneous)

[2018-11-21 15:22] paugier opened #1104 "Julia microbenchmarks"
I played again with Julia microbenchmarks (https://julialang.org/benchmarks/), Pythran 0.9 and FluidPythran.

The code and some results are here https://github.com/fluiddyn/BenchmarksPythonJuliaAndCo/tree/master/JuMicroBenchmarks

There is one big Pythran performance issue with matrix multiplication for which Pythran is ~ 10 times slower than Numpy...

Pythran is slower than Julia for random gener

[2018-11-21 16:12] jeanlaroche commented on #1103
Simpler repro:
[code]
Test with any negative x and positive y. The issue is that np.remainder(x,y) always has the sign of y because it's computed as x-floor(x/y)*y . Since floor(x/y)<x/y, if y>0 then floor(x/y)*y < x and x-floor(x/y)*y > 0. Similarly, if y<0 then x-floor(x/y)*y < 0.
I believe xsimd::remainder does not behave like that.

[2018-11-21 17:51] serge-sans-paille commented on #1101
It's a tremendous task , maybe try with mypy ? Numpy support does not seem satisfying though... https://github.com/numpy/numpy-stubs

[2018-11-21 18:31] serge-sans-paille commented on #1100
Should be fixed by #1105 ! Thanks for reporting this issue, pythran is in much better state with that!

Can you just confirm everything is ok with it?

[2018-11-21 19:31] jeanlaroche commented on #1103
ugh. This is all very weird but I suppose std and xsimd use a version that returns the same absolute value whether x and or y are positive or negative (you measure the remainder toward 0 and not toward -infinity). What do you suggest should be done?

[2018-11-21 19:34] jeanlaroche commented on #1103
In the meantime, I implemented my own workaround with x/y - y*np.round(x/y)

[2018-11-21 19:58] serge-sans-paille commented on #1103
I'm testing copysign(remainder(x, y), y)

[2018-11-21 20:02] jeanlaroche commented on #1103
Wait, that won't work. It's not just a question of sign...

[2018-11-21 20:07] dxm447 commented on #1095
Numpy RFFT is actually good enough for now :)
I am attaching two working code snippets for working with 1D FFT in Pythran, which I have been using in my own project in the past two-three days

[code]
and
[code]
Both work for real and complex inputs with identical results and times to `numpy.fft.fft`. If you think it's a good idea I can add the 2D support too and submit it.

[2018-11-21 20:11] jeanlaroche commented on #1103
I checked with std::remainder and std::fmod, neither can be used: std::remainder uses round(x/y) instead of floor(), and std::fmod uses int(x/y) (rounding toward 0) which again does not work.
What we need is really x - y*floor(x/y)

[2018-11-21 20:20] serge-sans-paille commented on #1103
#1106 with *your* proposal

[2018-11-21 20:44] jeanlaroche commented on #1103
It's working now. Thanks a bunch!

[2018-11-21 20:58] serge-sans-paille commented on #1104
For matrix multiply, the problem probably lies in the blas version you're using, I have that in my pythranrc:

[code]

[2018-11-21 20:59] serge-sans-paille commented on #1104
Don't know if you consider it fair to activate ``-march=native -DUSE_XSIMD`` ?

[2018-11-21 21:07] serge-sans-paille commented on #1095
This *is* a good idea! Please submit, even in Python form as a followup
of this issue

[2018-11-21 21:14] cycomanic commented on #1100
This has fixed the issue. I'm chasing down another issue that seems to be related, but I'm not sure if it was introduced by #1105. I'll try to make a test-case

[2018-11-22 13:42] paugier commented on #1104
Yes I consider it fair to activate `-march=native -DUSE_XSIMD`. I am comparing JIT and these are the default option for the cachedjit decorator.

[2018-11-22 13:52] paugier commented on #1104
The performance issue for matrix multiplication is indeed solved with blas=openblas or blas=mkl. I thought Pythran would be by default able to use the blas library used by Numpy.

The default value leads to slow result... It may be good to warn the user and stress that the parameter blas is very important?

[2018-11-22 13:52] paugier commented on #1104
I have a performance issue with random generation. It is much worth than before (#759) since now, Pythran is ~10 times slower than Numpy...

See the tables in https://github.com/fluiddyn/BenchmarksPythonJuliaAndCo/tree/master/JuMicroBenchmarks

[2018-11-22 17:30] #1103 closed

[2018-11-22 17:30] #1100 closed

[2018-11-22 17:51] serge-sans-paille commented on #1102
Thxs for the report! I can reproduce on my Linux box, some homework for tonight :-)

[2018-11-22 19:19] serge-sans-paille commented on #1102
Got it. The short story is: never trust a regular expression

[2018-11-22 20:13] serge-sans-paille commented on #1102
Should be fixed by #1107, thanks again for the bug report!

[2018-11-22 20:20] serge-sans-paille commented on #1093
It's a consequence of the type inference issue: pythran fails to infer the lis type, so it generates a call to empty_list::append, which does not exist. Indeed, if you append something to a list, then pythran should know its type because tehre's something appended to it :-)

[2018-11-22 22:09] cycomanic opened #1108 "multiplication of complex array and float results in zeros"
I'm getting another weird error using complex numbers. The below script gives 0s for E when compiled with pythran.

[code]

below is a test against the non-compiled version (_py)

[code]
If I remove the multiplication with mlloss in the loop I get the expected output.

[2018-11-23 03:18] jeanlaroche commented on #1102
Very untrustworthy they are!

[2018-11-23 08:39] cycomanic commented on #1108
OK I thought this was related to an error I was seeing somewhere else, but it's actually much simpler. It seems powers are confused:

[code]
Interestingly this works:
[code]

I still have to hunt down an issue were I see something similar but only with complex64. I'll post a testcase once I can isolate it.

[2018-11-23 08:52] serge-sans-paille commented on #1102
Fixed in #1107

[2018-11-23 08:52] #1102 closed

[2018-11-23 09:09] serge-sans-paille commented on #1108
Thanks a lot for tracking this bug, it makes my fixing job much easier
:-)

[2018-11-23 09:45] cycomanic opened #1109 "Complex64 is rounding to int"
I have tracked down the other bug I was seeing. It seems like there is a bug in complex64, it's essentially converting to int's I think. Below is the testcase:

[code]
running with complex128 all is fine:
[code]
however if I convert to complex64 it rounds to integers
[code]

Somehow when the complex is created it rounds to integers you can see that if you put some print statements in:
[code]

[cod

[2018-11-26 16:31] paugier opened #1111 "Pythran much slower than Numpy to generate random numbers"
### Pythran slower than Numpy...

We have a big performance issue with random number generation:

[code]
compiled with `pythran -march=native -DUSE_XSIMD tmp_rand.py -o tmp_rand_pythran.so`

With Numpy:
[code]

With Pythran:
[code]

Oups, Pythran is approximately 10 times slower than Numpy to generate random numbers...

Since many benchmarks involve random number generation, Pythran gets really ba

[2018-11-26 17:43] serge-sans-paille commented on #1111
pythran currently relies on libstdc++ for PRNG. It would make sens to use exactly the same PRNG as Numpy, that would help for reproducibility, I'll check that.

[2018-11-26 18:18] jeanlaroche opened #1113 "Compilation error using slice? MacOS"
I'm getting a compilation error on this code but I'm not entirely sure exactly where.
[code]
This is with the current latest (789bc705)

[2018-11-26 21:15] paugier commented on #1111
Indication: the problem seems to come from clang... With gcc, Pythran performances are very similar than Numpy. So no "regression" :slightly_smiling_face:

[code]

Anyway, there is a problem with clang...

[2018-11-27 07:07] serge-sans-paille opened #1114 "Optimize arange in temporary expression"
[code]

[2018-11-27 09:40] cycomanic commented on #1109
While it does not convert to int now, I'm still seeing an issue in my use-case. Essentially now my numbers grow to infinity. I'll try to come up with a test case.

[2018-11-27 10:41] serge-sans-paille commented on #1109
yeah, a test case would be helpful... thanks!

[2018-11-27 12:07] nbecker opened #1115 "Add support for broadcast_to"
subject says it all

[2018-11-27 13:38] nbecker opened #1116 "Support for simple classes"
Add support for (simple) classes.

Examples:

1. Data only classes (no inheritance).  This matches a paradigm where a system is composed of objects which hold some internal state (e.g., parameters)

    Here is a trivial example:
[code]

[2018-11-27 16:36] jeanlaroche commented on #1116
That would be truly awesome! I have had to work quite hard to work around the lack of class support (but it was worth it!). Simple classes with encapsulated data would already be super useful!

[2018-11-27 18:17] paugier commented on #1116
One question @nbecker and @jeanlaroche : do you want to use such classes in Python or in Pythran kernels?

If it is only to be used in Python, a pure python solution is good and simple. Something like
[code]
This could (will) be easily implemented in fluidpythran and it's going to be quite efficient from Python.

Remark: __call__ may not be a good example since I think it is really a special case

[2018-11-27 18:21] jeanlaroche commented on #1116
In my case I'm interested in both. I use pythran to speed up my python code, but I also use it to deploy my python code as a C++ module that's compiled and linked into a separate code base (i.e., I provide C++ modules to other teams, and they compile them into their executables)...
I realize it's truly not a trivial task to support classes (even de-featured classes)

[2018-11-28 12:00] nbecker commented on #1116
My main interest is using from python.  So case 1 above seems relevant.  Of course it is more convenient if code does not have to be rewritten.  I'm assuming to implement case 1 today would require rewriting class methods to call ordinary functions, which could then be pythran.

[2018-11-28 16:44] jeanlaroche commented on #1116
@paugier
Thanks for the suggestion, I had not thought of that. I'll have to look into it!

[2018-11-28 17:21] jeanlaroche commented on #1116
@paugier
Question, how is it possible to use pythran to implement a class method, as that method needs "self". How is self available to a pythran function? Unless you mean calling a non-class method from the class method (passing the right parameters) and using pythran on the non-class method. If that's what you mean, it's still a huge overhead (coding-wise). But maybe I don't understand what you'

[2018-11-28 17:39] ashwinvis opened #1117 "Need a sanity check for ~/.pythranrc"
There are no issues with the current implementation, but there are many ways the user (**cough cough me**) can make a trivial mistake.

# Case 1: wrong section

[code]
**Solution**: a command `pythran-config [--check/--verify/--lint]`  which simply checks if the sections and options are legal.

# Case 2: wrong path
I had my `~/.pythranrc`. But the config was not being parsed. Turns out I had an en

[2018-11-28 17:51] ashwinvis commented on #1117
If you need me to work on this, I would have some time to spare next week. Just decide on the command-line option names.

[2018-11-28 18:21] nbecker commented on #1116
Self is always passed as the 1st argument to a method, so it's always available, right?

[2018-11-28 19:19] nbecker commented on #1116
Well at least it's available as a python object which has attributes that can be accessed.  For my example, I can get the 'freq' attribute from the python object in my c++ code.  Is that what you want?

[2018-11-28 20:46] paugier commented on #1116
Let's start by the case 1. In this case, we want to define a class in Python and to use Pythran in methods. Since we cannot send an object of the class (self) in a Pythran function, we need to modify the code. But it can be done automatically for us by fluidpythran (so very small overhead, coding-wise and performance-wise). This is the principle of fluidpythran. The developer only writes code in P

[2018-11-29 06:00] serge-sans-paille commented on #1111
@paugier can you confirm that #1118 is okay to you, speed-wise? I get good results on my side.

[2018-11-29 12:05] nbecker commented on #1116
According to https://bitbucket.org/fluiddyn/fluidpythran, this Python classes: @pythran_def for methods is not yet implemented in fluidpythran, so you are speaking about some future version of fluidpythran, correct?

[2018-11-29 14:51] serge-sans-paille commented on #1117
Yeah, go ahead. Whabout a verbose mode to pythran-config that tells you
in the process where it has been looking for?

[2018-11-29 14:53] ashwinvis commented on #1117
So a simple `pythran-config -v` to do everything. Yes that could work :+1:

[2018-11-29 15:01] paugier commented on #1116
Correct. But `@pythran_def` and `@cachedjit` for simple methods is really doable in few days. It should not be so difficult now that we have fluidpythran as it is today.

[2018-11-29 15:45] paugier commented on #1111
Thank you!

The speed up compared to what we had before this commit is impressive! It is now a little bit faster than numpy.random.rand. For the record, Pythran rand is still 4.4 times slower than Julia and 1.6 times slower than the default RG used by randomgen. So it is not super fast but it is fast enough not to be a real problem for Julia's benchmarks.

Here with Python using randomgen:
[code]

[2018-11-29 16:33] jeanlaroche commented on #1116
i have to say I've never used fluidpythran... I have to give it a shot, I think it will simplify my work quite a bit...

[2018-11-29 19:20] jeanlaroche opened #1119 "Compilation error on A[0,:] caused by multiply by -1? MacOS"
This does not seem to compile with the latest (341818b2)
[code]
If the -1* is removed things are ok.

[2018-11-29 20:44] serge-sans-paille commented on #1111
yes, because

1. It's ultra simple to implement (no large library to redistribute)
2. The license is OK
3. From all the sources I gathered, it behaves better than MT

As long as the above constraints are respected, yes. But see below first, a vectorized version of PCG would be a great option too. I did check the two points (i) and (ii) you raised before making this choice :-)

for pcg, discard is

[2018-11-29 20:45] #1111 closed

[2018-11-29 20:46] serge-sans-paille commented on #1111
(closing the issue as the initial performance problem was fixed by  #1118

[2018-11-29 20:46] serge-sans-paille commented on #1117
yeah, and ``pythran -v`` would benefit from it if you do it right :-)

[2018-11-29 20:57] serge-sans-paille commented on #1113
ok, so the problem is

1. ``[slice(None,None,None)]*x.ndim`` << you're creating a list and then converting it to tuple. Pythran cannot do that
2. ``x[slice(None, None, None),]`` << that was not supported either

I have patches to have the code work that way:

[code]

but it requires some enhancment to pythran. Keep in touch!

[2018-11-29 22:06] jeanlaroche commented on #1113
Ah yes, that makes sense, the list->tuple. I hadn't thought of creating a tuple right off the bad, and only changing start/stop. Cool!

[2018-11-30 07:12] serge-sans-paille commented on #1108
bug spotted, fix proposed upstream https://github.com/QuantStack/xsimd/pull/222

[2018-11-30 14:39] serge-sans-paille commented on #1113
Well, my bad, slice attributes are immutable. hard to come up with a decent version...

[2018-12-01 08:44] serge-sans-paille commented on #1113
Ok, I've got the fix, it's in #1120

[2018-12-01 19:09] serge-sans-paille commented on #1108
And #1120 contains the fix!

[2018-12-01 21:21] cycomanic opened #1121 "compilation error with complex64"
When tracking down another error I'm encountering I get a compilation error for the following code:

[code]
the error is:
[code]

which is beyond my c++ skills unfortunately.

The code compiles fine with complex128 or if I remove the if clause.

[2018-12-02 07:58] #1108 closed

[2018-12-02 07:58] #1113 closed

[2018-12-02 10:02] serge-sans-paille commented on #1121
Thi is a typing error: when given a complex64 as input, mcma_error return a complex128 (because of the 1j); The following works with the patch from #1122. Unfortunately you loose polymorphism if you do it that way, but that was the easy fix :-)

[code]

[2018-12-02 11:30] cycomanic commented on #1119
I can confirm this on Linux (Ubuntu 18.10) as well

[2018-12-02 12:52] cycomanic opened #1123 "Complex grows to NaN"
I'm not sure if this is related to #1121 in the following test case err is becoming (nan+nanj) very quickly, even though is should never get bigger than 1.

[code]

[code]

This seems to be related to the adjustment of mu in the if clause (even though this is not called), because if I remove the whole if clause everything works fine.

This is also compiler option dependent. If I compile with g++ t

[2018-12-02 15:15] serge-sans-paille commented on #1121
[code]

would work as a polymorphic option, right? I can support that.

[2018-12-02 15:16] serge-sans-paille commented on #1121
Yes! provide a patch and mark the tests as ``unittest.skip``. Thanks a lot for your patience!

[2018-12-02 16:40] cycomanic commented on #1121
Yes using `Xest.dtype.type` would work, I didn't think about that. Will try to get you some patches.

[2018-12-02 18:32] serge-sans-paille commented on #1123
Gotcha, I spot the bug, and I am...pretty ashamed of it... It's surprising that id did not appear earlier. The commit has been added to #1122

[2018-12-02 20:19] serge-sans-paille commented on #1121
@cycomanic : dtype.type support added in the same PR!

[2018-12-03 14:32] talkaminker opened #1124 "fail to compile: adding subset of tuple to set"
the following fails to compile (with a bunch of c++ errors. version 0.9.0)
[code]

while just adding x directly to the set s will compile
this is fine:
[code]
also using `s.add((x[0],x[1],x[2],x[3]))` will compile.

tested on 64 bit python 3.6 windows
this is probably a bug. right?

[2018-12-03 14:37] serge-sans-paille commented on #1124
In Pythran tuples can only interact with constant expression, which basically means you cannot take a dynamic slice of it. But in your case, it's a static slice (all elements are known) so we should be able to handle that, although it's clearly not supported at the moment. Making the slice explicit indeed solves the issue - it's very close to unrolling :-)

[2018-12-03 14:59] talkaminker commented on #1124
Thank you.
Can you explain how come this works? (or was it not supposed to work and I am just lucky in this example)?
this works:
[code]
[code]
it seems the interaction with set is problematic here.
Great package btw!

[2018-12-03 16:57] #1123 closed

[2018-12-03 16:57] #1121 closed

[2018-12-03 17:41] jeanlaroche commented on #1113
I don't get it. What's the fix then? Slice attributes are still read only and pythran can't convert a list to a tuple...

[2018-12-03 17:48] serge-sans-paille commented on #1113
I made ndarray accept indexing of list of slices in addition to tuple of slices :-) The working code is there:

[code]

[2018-12-03 17:51] jeanlaroche commented on #1113
Ah great!!! Thanks! But you probably mean
S = [slice(None,None),]*x.ndim

[2018-12-03 17:58] jeanlaroche commented on #1113
I confirm that the bug is fixed with S = [slice(None,None),]*x.ndim
Thanks a bunch!

[2018-12-03 19:57] cycomanic opened #1126 "dtype.type does not work for scalars"
Not sure if this is intended but if I use the method you proposed in #1121 compilation fails, because x.dtype.type does not work for scalars. testcase:
[code]

[2018-12-03 20:05] serge-sans-paille commented on #1124
The code above work because we have a specialization for tuples when all the elements share the same type. In that case, the tuple behvaes roughly as an array and it's possible to slice it, to iterate over it etc.

Concerning the first case, I've dug a bit and the problem lies in the set builtin, I've got a patch for that, just validating locally before pushing it.

Thanks a lot for spotting that!

[2018-12-03 21:20] serge-sans-paille commented on #1126
Ahah I knew this would pop up, but I was lazy to fix this bug :-)

[2018-12-03 21:54] serge-sans-paille commented on #1124
#1127 should fix this issue.

[2018-12-04 20:22] #1119 closed

[2018-12-04 20:22] #1124 closed

[2018-12-04 20:23] serge-sans-paille commented on #1124
Fixed by #1127

[2018-12-06 06:37] #1126 closed

[2018-12-06 08:38] apatlpo opened #1130 "pip install fails with 'ascii' codec issue"
On linux, here is how it looks like:

[code]

Any idea where this is coming from?

Do you believe this [post](https://stackoverflow.com/questions/46046752/python-3-unicodedecodeerror-ascii-codec-cant-decode-byte-0xe2-in-position-0) may solve the issue ?

[2018-12-06 11:15] apatlpo commented on #1130
Adjusting the environment prior to running the pip install fixes the issue:
[code]

[2018-12-06 11:15] #1130 closed

[2018-12-07 17:01] paugier commented on #1116
I just released a new version of fluidpythran (0.1.4) which supports this:

[code]

- One needs to decorate the method and the class...
- It's only usable in Python (and of course it cannot be used as a new Pythran type!).

See https://fluidpythran.readthedocs.io

[2018-12-07 17:03] jeanlaroche commented on #1116
Nice!

[2018-12-07 19:32] nbecker commented on #1116
In the above Transmitter example, 'freq' was type 'float', which can use python annotation.  What if it was a list of float?

[2018-12-07 22:17] paugier commented on #1116
you can use strings (actually anything) in Python annotations, so you could write:
[code]

Of course, for performance with Pythran arrays are better...

[2018-12-08 16:43] cycomanic opened #1133 "regression on argmin/max"
Some time ago I reported a performance difference between a manual argmin and np.argmin (#801) this was fixed in #971. However, there seem to have been a regression recently, because the performance is now back to the same as it was before #971.

current master:
[code]

2a60b11f
[code]
I'm still trying to track what commit introduced the regression.

[2018-12-08 17:39] cycomanic commented on #1133
OK I've narrowed it down to between b72c2215 (last fast version) and 329a6ed1 (regressed version). I was trying to narrow it down further but many of the revisions between would not build the script for me.

[2018-12-08 20:58] cycomanic opened #1134 "compiler error with fft described in #1095"
I was trying to use the complex fft functions described in #1095, however using them in my code gives me an error as soon as I try to do some more processing.
The below code fails with a long compiler message (too long to post here let me know if you need it).

[code]

[2018-12-09 11:49] cycomanic commented on #1133
OK the issue seems to come from the XSIMD transition. If I compile without -DUSE_XSIMD then make_decision and make_decision2 have the same time.

[2018-12-09 13:04] serge-sans-paille commented on #1115
#1135 implements this.

[2018-12-09 23:13] nbecker opened #1136 "tuple(some list) does nothing"
In the code (generated from fluidpythran):

https://gist.github.com/nbecker/73a391e42a4c4d50ce0a2e1b79c4015c

Running test1():
In [2]: h = test1()
xs: [1.76405, 0.400157] ind: [68, 54] w: 1

This tells me the 'print ('xs:',xs ,'ind:',indexes ,'w:',w )' is showing that adding tuple() to the list of indexes is doing nothing; the indexes is still a list (not a tuple).

[2018-12-10 08:44] cycomanic opened #1137 "pythran optimises variable assignement in loop away"
Took me a while to figure out what was going on, but it seems if we create a new variable inside an if statement in a loop it gets optimized away.
The following code:

[code]
gets optimized to (output of `pythran -P test.py`)
[code]
note the assignment to j has been optimized away thus will give wrong results. If we declare j before the loop works correctly.
[code]
becomes:
[code]

Also if I compi

[2018-12-10 12:00] nbecker commented on #1136
Any suggestions on how to fix this code?  If index is a list then numpy (and pythran) will interpret the index incorrectly.

[2018-12-10 14:31] nbecker commented on #1136
There has to be a way to get an item from an nd-array using pythran with the dimensionality unknown at compile time.  Seems pretty fundamental.

[2018-12-10 15:11] serge-sans-paille commented on #1133
On Sun, Dec 09, 2018 at 03:49:01AM -0800, Jochen Schröder wrote:

Thanks for sorting that out! I remember I changed the argmin/max vectorized version...

[2018-12-10 20:33] serge-sans-paille commented on #1136
I understand how frustrating it can be, but that's really a fundamental limitation of Pythran's backend: array have a fixed number of dimensions, so when indexing them with a tuple, we need to know the number of element at compile time, otherwise we don't know the *type* of the result.

The other way around is to have a dynamic number of dimensions, a dynamic tuple etc, but there's currently no su

[2018-12-10 20:35] serge-sans-paille commented on #1137
Thanks for analysing this bug down to a very simple test case. I'll have a look at it.

[2018-12-11 05:57] #1115 closed

[2018-12-11 07:21] serge-sans-paille commented on #1136
@nbecker after a good night, here is a possible path: if the constrution of the index depends on the array's `ndim`, then I think there's a way for Pythran to find its way, something like

[code]

could be made to work (it's currently not the case, but it's feasible. Think of it like some kind of constant expression that must be propagated.

[2018-12-12 09:55] paugier commented on #759
I close this old issue since Pythran has now a faster random number generator. See issue #1111 and PR #1118

[2018-12-12 09:55] #759 closed

[2018-12-12 16:34] nbecker opened #1138 "document use of 'or' in signature"
It seems a valid type of signature is
```argument_type or argument_type```
which does not seem to be documented
e.g. ```int or int[:]```

[2018-12-12 17:10] paugier commented on #1116
New release of FluidPythran (v. 0.1.5): `@cachedjit` can be used for methods...

[2018-12-12 17:11] jeanlaroche commented on #1116
I'm currently upgrading to python3, once that's finished, I'm sure to give fluidpythran a shot! Can't wait!

[2018-12-13 07:02] serge-sans-paille commented on #1138
To be fair, in https://pythran.readthedocs.io/en/latest/MANUAL.html#concerning-pythran-specifications we can read

With a great typo on alterna*t*ives. I'm open to improvements!

[2018-12-13 09:58] serge-sans-paille commented on #1137
I can reproduce the issue. Note however that the compiler has no way to guess that the condition will be true at least once, so you may end up with j being undefined. I'd rather have

[code]

be invalid and have pythran raise an error about it.

[code]

[2018-12-13 11:50] nbecker commented on #1138
OK, I didn't notice that.  I looked at the formal grammar definition above and didn't see it.

[2018-12-13 11:50] #1138 closed

[2018-12-13 18:48] cycomanic commented on #1137
Not sure I understood correctly, but you are saying that the second case should raise an error?

I don't have an issue initialising all variables before if statements, however I think this should be well documented and a clear error raised in the cases when they have not been initialised, because this is a bitch to debug (and somewhat unexpected) if it happens somewhere inside a large function.

[2018-12-13 18:50] cycomanic commented on #1137
BTW is the large timing difference expected?

[2018-12-13 19:03] jeanlaroche opened #1139 "Minor issue: with python3, under macos, pythran no longer ingnores imports it can't handle"
This compiles fine with python 2.7, or with pyton3 in linux, but not with python3 in macOS, which complains about logging.
[code]

[2018-12-13 19:17] jeanlaroche opened #1140 "import failure on macos, with python3"
In MacOS, python3, this compiles fine, but cannot be imported:
[code]
[code]

[2018-12-13 22:21] jeanlaroche commented on #1140
I'm going to close this as I'm not able to reliably reproduce the issue. I'll reopen if needed.

[2018-12-13 22:21] #1140 closed

[2018-12-13 22:39] jeanlaroche opened #1141 "Trouble with pythran with python3"
I'm upgrading my code to python3, and in doing so I have run pythran on files that compile and run with no issues in python2+pythran.
I'm having the following compilation problem on a file that's far too large to copy/paste.

There's a problem with not finding cblas.h so that needs to be fixed. I can't figure out how to do that as I've reinstalled pythran from scratch in a virtual env under python

[2018-12-13 23:31] jeanlaroche commented on #1141
It appears that the problem is solved if I place blas=atlas in my .pythranrc file...

[2018-12-14 16:12] jeanlaroche commented on #1141
I didn't realize that was an option. Uninstalling and re-installing openblas seems to have fixed the issue with the default blas option. Does pythran depend on openblas being installed? Asking for our build systems here...

[2018-12-14 16:43] jeanlaroche opened #1142 "Compilation error on np.ones(shape)"
I'm getting a compilation error on this:
[code]
Guessing the issue is np.ones(shape) where shape is a list instead of a tuple. Could this be fixed? I don't know how to work around this specific problem...

[2018-12-14 22:24] vargonis opened #1143 "Weird runtime behavior returning the shape of an ndarray"
So, I've been for a long while struggling with a runtime segmentation error, and I have finally spotted the probable cause. I pythranized a file `problem.py` containing:

    #pythran export f(float[][][])
    import numpy as np
    def f(x):
        a,b = x.shape[:2]
        return a,b

Then, when I execute the following script (on a gcloud virtual machine with debian and python version 3.5):

[2018-12-16 08:47] serge-sans-paille commented on #1143
Good news: I can reproduce on Linux. I'm investigating that, thanks a lot for reporting the issue!

[2018-12-16 08:53] serge-sans-paille commented on #1143
got it: the problem is that you're slicing a tuple, and this is not super-well supported in Pythran. However, as the slicing is only composed of compile-time constant, pythran should be able to unfold it at compile time. i'll try this optimization and report back to you!

[2018-12-17 17:11] diorcety opened #1148 "Transposed assignement"
There is an issue with the transposed assignement. It can easily seen in this example:

Results: https://imgur.com/a/pp1Goah

test.py
[code]

fct2.py
[code]

[2018-12-17 18:05] vargonis commented on #1143
Good to know! By the way, thanks for this amazing tool.

On Sun, Dec 16, 2018 at 9:53 AM serge-sans-paille <notifications@github.com>
wrote:

--
"Io sono giunto a credere che il mondo intero è un enigma, un enigma
innocuo che è reso terribile dalla nostra pessima idea di interpretarlo
come se avesse una verità fondamentale."
-Umberto Eco

[2018-12-17 18:31] serge-sans-paille commented on #1141
As discussed on IRC, pythran relies on blas for various numpy operation. Whether it's openblas, atlas or blas depends on the blas= parameter in the pythranrc file.

[2018-12-17 18:45] serge-sans-paille commented on #1142
Yeah, that's the problem. Yout code is very idiomatic, We should be able to support that...

[2018-12-17 21:20] serge-sans-paille commented on #1117
Thanks a lot for contributing to #1145 !

[2018-12-17 21:20] #1117 closed

[2018-12-17 21:21] serge-sans-paille commented on #1139
It should always complain when meeting an unsupported import :-)

[2018-12-18 06:57] #1143 closed

[2018-12-18 22:00] serge-sans-paille commented on #1133
@cycomanic does #1149 improve the situation?

[2018-12-19 06:17] serge-sans-paille commented on #1133
ok, with my test, it doesn't, I need to investigate some more.

[2018-12-19 07:48] serge-sans-paille commented on #1133
@cycomanic branch updated, performance should be back to normal, if not better.

[2018-12-19 11:04] diorcety commented on #1148
Simple reproducer in tests: https://github.com/diorcety/pythran/commit/efd48681f26a9136b98f849fcc5a8c0b24513a53
If i correctly understand the issue is that x.T can be a copy of x instead of the view. So the assign modify a temporary array.

[2018-12-20 09:35] #1133 closed

[2018-12-20 09:35] #1114 closed

[2018-12-20 09:58] serge-sans-paille commented on #1139
@jeanlaroche this does not compile on my Linux box, neither with python2 not python3... Which is the expected behavior.

[2018-12-20 19:34] #1139 closed

[2018-12-20 19:34] jeanlaroche commented on #1141
Closing this for now...

[2018-12-20 20:08] serge-sans-paille commented on #1095
This should be fixed with #1134, at least it now compiles o/

[2018-12-20 20:10] serge-sans-paille commented on #1093
OK, I've been investigating that one quite a bit, and from type inference perspective it's a nightmare, it combines interprocedural stuff with isNone, I'll do my best but that's relatively scary.

Don't expect a solution as christmas gift ;-)

[2018-12-21 19:04] #1134 closed

[2018-12-22 06:50] #1148 closed

[2018-12-25 18:25] oscar6echo opened #1152 "[BUG] test "tuple in set" always returns false"
I have the following test in Python code:
[code]
In Python this works as expected.
After compilation with Pythran, count is always 100 and greater than len(set).
So it seems that the test`mytuple not in myset` always returns false.

If I change the line as follows it works - but it slows down the loop considerably.
[code]
Is this bug known ? planned to be corrected ?
Any faster work around than th

[2018-12-30 13:37] serge-sans-paille commented on #1152
Thanks for reporting! Unfortunately, I'm unable to reproduce your issue. Can you provide the full test case? I tried the following:

[code]

and it works like a charm...

[2018-12-30 14:09] #68 closed

[2018-12-30 15:57] serge-sans-paille commented on #302
This has been fixed a while aho, using the notation ``int[::]``, see https://pythran.readthedocs.io/en/latest/MANUAL.html#concerning-pythran-specifications

[2018-12-30 15:57] #302 closed

[2018-12-30 18:34] oscar6echo commented on #1152
Indeed I ran you example and it works on my machine (macOS) too.

Here is my example - simplified but show the problem:

+ pythran compiled file:
[code]

+ wrapper Python file:

[code]

Run the compiled version:
[code]
Run the plain Python version:
[code]

Am i doing something obviously wrong ?
Is there a way to type the output of a function ? My feeling is that Pythran is getting confused between

[2018-12-30 19:52] serge-sans-paille commented on #1152
Great! I can reproduce your issue and will investigate. There is no reason why you shouldn't be able to return `myset` directly.

[2018-12-30 19:53] serge-sans-paille commented on #1152
And after a quick look at your code, the underlying reason is the same as in #1142. List to tuple conversion is not supported if pythran cannot statically guess the size of the list...

[2018-12-30 19:58] serge-sans-paille commented on #1152
The runtime error you encounter is also a direct consequence of the above issue: we maintain a set of list, which is unsupported by Python.

[2018-12-30 20:12] oscar6echo commented on #1152
Ok. Thx for your quick reply.

Do you see a workaround that would make Pythran able to 'statically guess' the tuple size. Because in this case, it is indeed of fixed size ?

Do you plan to improve the support for list to tuple size ?

[2018-12-30 21:19] serge-sans-paille commented on #1152
The only thing I can think of is a new internal type, ``frozen_list<T>`` that would behave like a tuple of elements of the same time. But then this type would not have a static size which prevents its use as a ndarray shape...

[2018-12-30 22:37] oscar6echo commented on #1152
Ok, so I understand that list to tuple conversion cannot be supported, right ?  even if tuple size is somehow defined ?

Then let me try to look at the pb from another angle: Is there a **fast** way to convert a list of int (or other numerical types supported by Pythran) into a hashable type that is valid in a set ? In my first comment I had converted it in a string but it's really slow. Is there

[2018-12-30 23:41] oscar6echo commented on #1152
Ok ! I will try it out as soon as available.
Thx in advance !!

[2018-12-31 07:43] #326 closed

[2018-12-31 07:55] #337 closed

[2018-12-31 16:55] oscar6echo opened #1156 "Compilation problem on Window - Wrong setup ?"
I know support for Windows is tentative and on going.

Context: I am trying to use Pythran in an enterprise context.

Here is my experience installing and compiling a working sample "project" on macOS and Linux. Same code as in issue #1152 .

My setup:
+ Windows 7 x86-64 - in enterprise
+ Install Visual Studio 2017 workload ['Desktop Development with C++'](https://visualstudio.microsoft.com/vs/sup

[2019-01-01 14:50] ashwinvis commented on #1156
Perhaps `conda install clangdev` and try to configure `%HOME%\.pythranrc` to use `CXX=clang++` and `CC=clang` instead of MSVC?

[2019-01-02 07:31] serge-sans-paille commented on #1156
As an alternative to @ashwinvis solution, you could also just remove the ``.pythranrc`` installed by conda. That would let pythran use the default one which may contain more correct values -conda install on windows has never been really installed, AFAIK).

[2019-01-02 07:43] serge-sans-paille commented on #1156
Plus the falgs you are adding in the pythranrc file are flags for clang/gcc, not MSVC

[2019-01-02 11:05] oscar6echo commented on #1156
I tried both after having set up Visual Studio for C++ (tested on helloworld.cpp)
+ conda install clangdev from conda-forge (worked fine) and reference it in %userprofile%\\.pythranrc (%home% does not exist)
[code]
But for some reason MSVC is still picked up at compile time, not clang...
How to make sure .pythranrc is taken into account ?

+ (1) create pythran conda env, pip install install numpy

[2019-01-02 18:11] oscar6echo commented on #1156
After debugging with @serge-sans-paille's help over [irc channel pythran](https://webchat.freenode.net/) for several hours (Thx a LOT for the support !), it turns out that simply installing Pythran from [master](url) solves the problem. I did not investigate the clang route further for lack of time at this stage.

For the record here are the steps that worked on Win7 x86-64:

My setup:
1. Install

[2019-01-02 18:13] oscar6echo commented on #1156
Solved. Closing.

[2019-01-02 18:13] #1156 closed

[2019-01-04 10:57] #1152 closed

[2019-01-08 11:13] diorcety commented on #1093
That strange because i'm using almost the same kind of function pattern without having this error, I will try to track down on my side

[2019-01-08 16:02] diorcety commented on #1093
If you add the following lines before return, no more error
[code]

[2019-01-08 16:05] diorcety commented on #1093
Even better:

Not working
[code]

Working:
[code]

Seems linked with the NoneType

[2019-01-08 17:36] diorcety opened #1160 "Type inference issue with is None"
This is linked to #1093

Here an example

[code]

[2019-01-08 21:58] oscar6echo opened #1162 "Compilation problem on macOS Mojave (but file on HighSierra !)"
I have run the following install procedure for macOS High Sierra and more recently Mojave.
It **worked perfectly on High Sierra, but fails on Mojave**...

Install:
[code]

Set `~/.pythranrc` file:

[code]

Then compile very simple file:
[code]
as follows:
[code]
which yields errors:
[code]

I also tried to compile a very simple .c file:
[code]
which gives a similar error:
[code]

On both HighSierr

[2019-01-08 22:50] oscar6echo commented on #1152
As promised I tried to install from master.

For macOS, it is a bit convoluted. I did the following (maybe there is a simpler procedure ?):

[code]

Then compile the file mentioned above:

[code]

But it resulted in a long error:
[code]

Maybe too early to test ? other parts still moving ?

[2019-01-09 06:06] serge-sans-paille commented on #1152
Does it compile fine on Linux?

[2019-01-09 10:30] diorcety commented on #1160
What I understand is that in the non working case, pythran will elude the temporary variable a (because all is static) which will imply that

`typename pythonic::assignable<decltype(pythonic::__builtin__::pythran::functor::static_if_{}(pythonic::__builtin__::pythran::functor::is_none{}(lpix), $isstatic0(), $isstatic1())(pythonic::__builtin__::None, lpix))>::type __tuple0 = pythonic::__builtin__::p

[2019-01-09 10:41] oscar6echo commented on #1152
on a linux VM:

Install:
[code]
yields the same error (at first sight):
[code]

[2019-01-09 10:43] diorcety commented on #1160
BTW the cpp generated by this example is not constant:
pythran -E bb.py && mv bb.cpp bb_ok.cpp

Running multiple times can give me more than one diff (the date)
pythran -E bb.py && diff -urN bb.cpp bb_ok.cpp | less

Sometimes:

[code]

Sometimes

[code]

[2019-01-09 12:17] diorcety commented on #1160
Okay, i'm progressing, the issue seems to come from the unshadowing of the variable a(a_) combined with the direct return a_ without using the a variable (optimization?)

[2019-01-09 12:58] serge-sans-paille commented on #1152
Can you provide me the python source?

[2019-01-09 13:03] diorcety commented on #1160
Disabling FalsePolymorphism seems to fix this issue

[2019-01-09 14:11] oscar6echo commented on #1152
It is the Python file compute_foo_2.py in above in the thread: See this [comment](https://github.com/serge-sans-paille/pythran/issues/1152#issuecomment-450578680) except without the second pythran annotation `#pythran export signature(int list)`

[2019-01-09 14:25] diorcety opened #1163 "Compilation issue depending on instruction decomposition"
Maybe there is two issue with this test:
- Following the decomposition the generated code is not the same (after optimizations, it should be?)
- That the code doesn't work in one case

[code]

[2019-01-09 18:57] serge-sans-paille commented on #1152
@oscar6echo does this patch work for you ?

[code]

[2019-01-09 20:33] serge-sans-paille commented on #1163
ok, so the reason why they end up being different is a limitation of the inliner, and that's not something I would worry about right now. But the fact that one of the two versions does not compile is indeed a problem and I'll work on it.

[2019-01-09 20:42] serge-sans-paille commented on #1163
much simpler reproducer:

[code]

[2019-01-09 21:20] oscar6echo commented on #1152
Sorry for the basic question, but how can I try this out ? It seems to be related to file `pythran/pythonic/include/utils/numpy_traits.hpp`, right ? But only from the header, not the rest of the text.
I have no idea what exactly I must change in the master branch..

[2019-01-10 10:38] diorcety commented on #1160
FalsePolymorphism souldn't be disabled for None/Type ?

[2019-01-10 16:00] serge-sans-paille commented on #1152
It's a patch file. If you're not familiar with that, I'll create a branch for you later in the day. And we can synchronize on IRC #pythran.

[2019-01-10 16:53] jeanlaroche opened #1166 "Issue with stack[::][::] Mac and Linux"
I'm getting a compilation error on this:
[code]
[code]
Is this a bug?

[2019-01-10 18:14] oscar6echo commented on #1152
Yes a git branch would be very convenient to me ! Thx for offering to do it.

[2019-01-10 20:09] oscar6echo commented on #1152
I tried the new branch `dynamic-list-as-numpexpr-arg` on a cloud Linux VM.

Install:
[code]
Then compile:
[code]

Same error I think.

[2019-01-11 16:50] diorcety opened #1170 "None and tuple issue"
[code]

[2019-01-11 16:52] diorcety opened #1171 "if is None produces and unknown identifier error"
If the comment inside this code is uncommented, the pythran returns the following error:

[code]

[2019-01-11 17:16] diorcety commented on #1171
the if c is not None is replaced by

`__tuple0 = __builtin__.pythran.static_if_((not __builtin__.pythran.is_none(c)), $isstatic0, $isstatic1)(a, b, c)`

because b is returned by ImportedIds, which doesn't known that b is local and not global

[2019-01-11 17:18] diorcety commented on #1170
commenting

make this example works

[2019-01-11 19:02] #1166 closed

[2019-01-11 21:46] #1160 closed

[2019-01-12 20:57] #1163 closed

[2019-01-16 09:59] serge-sans-paille commented on #1136
@nbecker can you check if this is fixed in current master version? If the size of the tuple is equal to the number of dimension in the ndarray, it should be ok.

[2019-01-16 11:46] saidctb opened #1173 "reduction of compilation time when a function has many arguments"
I have this minimal example that  takes forever to compile is there a way to reduce the compilation time when we have this many arguments ?
[code]

[2019-01-16 12:13] nbecker commented on #1136
The gist
https://gist.github.com/nbecker/73a391e42a4c4d50ce0a2e1b79c4015c
Does not work any differently than before.  Does the source code have to be re-written to take advantage of your fix?  The same test1 above still prints the same result, indicating the indexes are still a list, not a tuple.

[2019-01-16 13:35] serge-sans-paille commented on #1173
Hi @saidctb. The problem with this function is that pythran will generate `2**13` versions, for different variations of the argument, transposed or not.

This is obviously an issue, how could we fix that... maybe add a type qualifier `notranspose` or have the compiler warn about the combinatory being too large... Or both! Any thought?

[2019-01-16 13:51] saidctb commented on #1173
it would be great if there is a flag like `notranspose`  because i will never call the function with the transpose or maybe  you can add a type annotation which specifies the order ,if the user wants to call the function with   Fortran order  or a C order ,like `float[][](F)`  for fortran order  and the default will be the C order in this case you don't have to generate all the possible ways of ca

[2019-01-16 13:56] serge-sans-paille commented on #1173
yeah, forcing the order is a good approach too, that's very explicit. I +1 the idea. Unfortunately, this is not going to make it for next release though :-)

[2019-01-16 19:21] nbecker commented on #1136
I did completely remove old pythran install, and reinstall (via update to master, then pip install --user .).

Now I get:
[code]

[2019-01-16 21:56] oscar6echo commented on #1162
Googling around I found this SO Q&A: [Compiling with gcc in macOS Mojave](https://stackoverflow.com/questions/52974321/compiling-with-gcc-in-macos-mojave).

The accepted answer recommends to:
+ go to `/Library/Developer/CommandLineTools/Packages/`.
+ There lies the package `macOS_SDK_headers_for_macOS_10.14.pkg`. Install it (double click or Cmd+O).

This installs the missing headers.

This solved

[2019-01-16 21:56] #1162 closed

[2019-01-16 22:06] oscar6echo commented on #1152
Now that the branch `dynamic-list-as-numpexpr-arg` is merged into `master` I did:

+ Install (macOS)
[code]
+ Install (Linux)
[code]
+ Compile and Run
[code]

Interestingly it did not give the same results for several run in a row (it should) and it produced one element tuples (it shouldn't).
Maybe this is an indication of the bug..?

[code]

[2019-01-17 11:54] serge-sans-paille commented on #1152
@oscar6echo can you test branch: fix/slicing-dynamic-list

[2019-01-17 12:34] oscar6echo commented on #1152
Tested on linux and macOS. Will try Win7 soon.
It works !! Alleluluia ! 😃

[2019-01-18 18:08] oscar6echo commented on #1152
Tested on Win7. It works.

[2019-01-18 18:34] jeanlaroche opened #1178 "Invalid call to pythranized function `test(float64[:] (reshaped)) for negative strides"
When compiling this simple function:
[code]
I get an error when calling it with:
[code]

[2019-01-19 12:34] paugier commented on #1104
The performance issue with random numbers has been fixed by #1118

The overall performance seems good for these benchmarks with Pythran 0.9.1.

[2019-01-19 12:34] #1104 closed

[2019-01-19 12:38] paugier commented on #1054
FluidPythran has been forked and will be replaced by [Transonic](https://bitbucket.org/fluiddyn/transonic/).

Transonic should be able in the long term to use Pythran but also other accelerators, like Cython or Numba.

[2019-01-19 12:41] paugier commented on #1049
I close this issue because it is unclear how to reproduce it and it could be that #1048 solves the problem.

[2019-01-19 12:41] #1049 closed

[2019-01-22 15:59] diorcety opened #1181 "Values in tuple are not modifiables"
The following example doesn't work well when compiled with pythran

[code]

[2019-01-22 16:34] Dapid opened #1182 "Regression in Pythran 0.9.1"
[PyGaussDCA 0.1.2][1] used to work great with Pythran 0.9.0, but fails to compile under 0.9.1.

Here is the log:
https://gist.github.com/Dapid/6525319d6492d0a5db55de7bb4938c90

This is not a critical issue for me, since v 0.1.3 works fine with 0.9.1, but I think it points at a regression somewhere.

[1]:https://pypi.org/project/pyGaussDCA/0.1.2/

[2019-01-22 17:00] serge-sans-paille opened #1183 "Invalid double transpose behavior"
reproducer:
[code]

[code]

test case from https://deque.blog/2019/01/11/pythagorean-triples-in-modern-c/

[2019-01-23 12:41] diorcety opened #1185 "None issues"
Here the pythran file

All cases should return the same results. But few compile and none have the good behaviour

[code]

The test code

[code]

[2019-01-24 18:04] jeanlaroche opened #1187 "Improvement: for pythran to do all missing argument replacements in function calls."
To add new functions to pythran (in C++) it would be easier if we could be sure they're always called with they full list of arguments (i.e., not relying on C++ default params). Pythran already does that to handle python calls with keywords (i.e., pythran replaces arguments that are missing with their default values). This could be extended to any call...

[2019-01-25 14:03] Dapid opened #1189 "Transpose ignored in recent Pythran"
[code]
[code]

On Pythran master and released, I get (3, 5), instead of (5, 3). Pythran 0.9.0 works fine.

[2019-01-25 15:22] Dapid commented on #1189
Git bisect points to the culprit:

[code]

https://github.com/serge-sans-paille/pythran/commit/8b4f22aa0ef0a33308d87b2dcb7d9b4cef3a6187

[2019-01-25 22:30] jeanlaroche opened #1191 "Fix default parameters in arange"
This is in relation with https://github.com/serge-sans-paille/pythran/pull/1190
The pull request breaks arange (and possibly other functions).

[2019-01-27 10:55] serge-sans-paille commented on #1189
Probably related to #1183. This is a critical bug: I'll fix that and release a patch version of pythran.

[2019-01-27 19:54] paugier opened #1193 "import pythran leads to configparser.NoSectionError: No section: 'compiler'"
An error from fluidsim CI that I don't understand (https://travis-ci.org/fluiddyn/fluidsim/jobs/484692528):

[code]

Any ideas why we get this?

We create a short .pythranrc file with
[code]

I was not able to reproduce at home.

Of course, we could add the compiler section but it should work without it...

[2019-01-28 08:42] paugier commented on #1193
Strange, we get the error even with:

```echo '[pythran]\ncomplex_hook = True\n[compiler]\nCXX = g++-6\nCC = gcc-6\n' > $HOME/.pythranrc```

Could it be related to the fact that Pythran is installed in this case as an egg by setuptools?

[2019-01-28 08:46] ashwinvis commented on #1193
Perhaps. I suspect the pythranrc files (sys and platform specific ones) were not ready, maybe because of a race condition?

And it seems that the error is raised form  https://github.com/serge-sans-paille/pythran/blob/master/pythran/config.py#L193
What we can do in pythran>=0.9.1 is to lint the pythranrc... so can you add a `pythran-config -vv`, which will show warnings if anything is off with the

[2019-01-28 10:36] paugier commented on #1193
Without the egg it works fine.

[2019-01-29 09:46] serge-sans-paille commented on #1193
As suggested by @ashwinvis it looks like an error in the loading, or maybe bootstrap, of the configuration files. The error happens because a section is empty, which probably means a configuration has not been properly copied during installation process?

[2019-01-29 09:46] #1189 closed

[2019-01-29 09:46] #1183 closed

[2019-01-29 10:20] paugier commented on #1193
Pythran is installed as an egg by setuptools when one installs a project with `setup_requires` containing `"pythran"` in an environment without Pythran.

There could be a problem with this setup (which is reasonable) and with installation of Pythran as an egg.

We don't usually have `"pythran"` in `setup_requires` because we want to support installation without Pythran compilation, so it is not a

[2019-01-29 12:49] Dapid commented on #1189
Thanks!

I think it would be nice to have some nightly integration test testing applications using Pythran. For example, a Travis nightly run. Hopefully that will catch more bugs.

[2019-01-30 15:56] nbecker opened #1197 "identifier $cont6 unknown?"
Just for fun, I tried running this code through pythran.  The resulting error message is not very helpful :)

pythran smallest_enclosing_circle.py
CRITICAL: I am in trouble. Your input file does not seem to match Pythran's constraints...
E: identifier $cont6 unknown, either because it is an unsupported intrinsic, the input code is faulty, or... pythran is buggy. (line 59)

https://gist.github.com/

[2019-01-30 16:35] Dapid commented on #1189
I am now running a weekly test with Pythran master on my code:

https://travis-ci.org/ElofssonLab/pyGaussDCA/

[2019-02-01 08:34] #1170 closed

[2019-02-01 16:14] garanews opened #1198 "np.fromiter : dtype support"
Is it possible to set the dtype into np.fromiter?
Somethine like this:
np.fromiter(a, dtype='uint8')
Actually setting it in that way returns me this error:
CRITICAL: I am in trouble. Your input file does not seem to match Pythran's constraints...
E: function uses an unknown (or unsupported) keyword argument `dtype`
Without dtype is working but is giving me wrong values.

[2019-02-01 19:09] serge-sans-paille commented on #1198
Sure, i'll check that.

[2019-02-01 19:19] nbecker commented on #1197
I've been trying to debug this.  Here is some code that pythran doesn't grok, but I don't see why

https://gist.github.com/nbecker/697988e93f1954b182d3a204b432e5df

It will compile with the last function
_make_circle_two_points
commented out.

[2019-02-01 19:55] nbecker commented on #1197
OK, corrected the signature to say
#pythran export _make_circle_two_points((float,float) list, (float, float), (float, float))
The 1st argument is a list of 2-tuples of float

This still doesn't compile.

[2019-02-01 20:02] nbecker commented on #1197
I think the issue here is perhaps that pythran doesn't know the return type.  The function _make_circle_two_points will always return the same type, but I don't think pythran can infer that.  Don't know how to fix it.

[2019-02-01 22:08] serge-sans-paille commented on #1197
Thanks for narrowing the issue. I'll try to give it a look this week end.

[2019-02-02 07:09] serge-sans-paille commented on #1198
@garanews can you provide a full failing test case? #1199 should fix the keyword parameter issue.

[2019-02-02 17:08] serge-sans-paille commented on #1197
@nbecker this proved to be a **very** tricky one. I spent ~6 hours on this one, but in the end I get a few extra bug fixes in Pythran so, let's say we're good. I still need to format stuff a bit, but I'm on my way.

Note: ``[(int, int)]`` in a pythran export does *not* create a list, but a tuple...

[2019-02-04 08:47] garanews opened #1201 "basic_type: bytes"
Will pythran support bytes?
`#pythran export myfunc(bytes, bytes)`
and
`#pythran export myfunc(bytes, bytes[])`

Where bytes is a data like this:

`'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0

[2019-02-04 08:59] garanews commented on #1198
This one now is compiling:
[code]
But if I return something (like sum(a) I'm getting erorrs:
https://gist.github.com/garanews/2b1d03aceaeb96db9a0fc78cabc69885

[2019-02-04 12:10] nbecker commented on #1197
Thanks for working on this!  I've been away for a few days on a XC ski trip.  Is there something available for me to test now?

[2019-02-04 12:12] serge-sans-paille commented on #1197
On Mon, Feb 04, 2019 at 04:10:30AM -0800, ndbecker wrote:

Sure, test https://github.com/serge-sans-paille/pythran/pull/1200

[2019-02-04 12:42] nbecker commented on #1197
I've updated
https://gist.github.com/nbecker/697988e93f1954b182d3a204b432e5df with the
now complete code.  The original problem is fixed on master, thanks!  But
the new code fails to compile with clang.  I've tried to look at the code
and it seems correct to me. I get
[code]

On Mon, Feb 4, 2019 at 7:12 AM serge-sans-paille <notifications@github.com>
wrote:

[2019-02-04 14:41] nbecker commented on #1197
In the process of debug the indentation had gotten messed up in the last gist, I have fixed it.  But, this doesn't change the compile error.

[2019-02-04 16:12] serge-sans-paille commented on #1201
bytes would be an alias to uint8 (or int8) in that case, right?

[2019-02-04 17:39] serge-sans-paille commented on #1197
@nbecker branch updated with a fix!

[2019-02-04 19:40] serge-sans-paille commented on #1198
We don't support dtype as string, try ``dtype=np.uint8`` instead

[2019-02-04 19:47] nbecker opened #1202 "undefined values"
My test code is now compiling, but is producing undefined results.
valgrind python3 grow.py says:
==2861== Conditional jump or move depends on uninitialised value(s)

Original python code is in smallest_enclosing_circle.py
pythran versions in _smallest_enclosing_circle.py

I'm testing by importing the pythran versions into smallest_enclosing_circle.py, using the import statement at the end of that

[2019-02-05 06:55] serge-sans-paille commented on #1202
can you share `grow.py`?

[2019-02-05 06:56] serge-sans-paille commented on #1202
ok it's in the gist, my bad.

[2019-02-05 07:08] serge-sans-paille commented on #1202
I fail to reproduce... can you share the full valgrind backtrace? Which compiler / pythranrc are you using?

[2019-02-05 08:06] garanews commented on #1201
Yes it is an alias, but it would be useful if you will accept bytes (and manage as uint8) otherwise I need to cast it to uint8 before pass to  pythran.

[2019-02-05 08:06] #1197 closed

[2019-02-05 12:07] nbecker commented on #1202
Did you uncomment the last line in smallest_enclosing_circle.py to say:
from _smallest_enclosing_circle import _cross_product, is_in_circle, _make_circle_one_point #....

That was:
clang version 7.0.1 (Fedora 7.0.1-1.fc29)
with
[code]
same result with cflags=-std=c++11

partial valgrind:
[code]
[ repeats many many times... ]

If compiled with
g++ (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)
I get:

[cod

[2019-02-05 12:32] nbecker commented on #1202
Interestingly, the g++ compiled version which appears to give result matching python result, also does not run measurably faster than the original python code.

[2019-02-06 13:34] serge-sans-paille commented on #1202
#1204 should do the trick

[2019-02-06 15:54] nbecker commented on #1202
I believe current master fixes the problem.  Thanks!

[2019-02-06 20:56] jeanlaroche opened #1205 "Issue with default value, in pythran 0.9.1"
This no longer compiles in 0.9.1 but did compile in 0.9.0
MacOS.
[code]

[2019-02-07 06:59] ge-smile opened #1206 "NoneType != support"
Hi,

We are missing "!=" operator overloaded in pythran/pythran/pythonic/types/NoneType.hpp.

Also for "==" operator for NoneType, we seem not consider the case when O is None type. The function I mean is:

  template<class T>
  template<class O>
  bool none<T, false>::operator==(O const &t) const
  {
    return !is_none && static_cast<const T &>(*this) == t;
  }

Thanks,
Alice

[2019-02-07 08:08] serge-sans-paille commented on #1206
Thanks for reporting! I'll have a look.

[2019-02-07 08:13] serge-sans-paille commented on #1206
Concerning case when O is none, there is an overload

[code]

that should handle it.

I confirm that `operator!=` is missing, i'm adding it.

[2019-02-07 15:55] #1202 closed

[2019-02-07 15:55] serge-sans-paille commented on #1202
Thanks for reporting!

[2019-02-08 11:15] scoder opened #1208 "AssertionError on import in Py3.8"
I'm seeing crashes when importing the latest Pythran (0.9.1post0) from Cython on travis in Py3.8-pre:
https://api.travis-ci.org/v3/job/488081168/log.txt
[code]
Can't say if that's due to the early state of Py3.8, but it might be something to look into. I also can't say how long it's been failing already (probably several weeks), but the latest tested CPython version is
`Python 3.8.0a0 (heads/maste

[2019-02-08 17:37] #1206 closed

[2019-02-08 17:37] serge-sans-paille commented on #1206
Fixed by #1207

[2019-02-08 17:38] serge-sans-paille commented on #1208
There seem to be seveal issues with py3.8, I justed with this branch I've got a  new ast types too...

[2019-02-08 18:23] serge-sans-paille commented on #1208
First step: support 3.8 in gast, see https://github.com/serge-sans-paille/gast/pull/27

[2019-02-09 09:16] serge-sans-paille commented on #1208
@scoder unfortunately I fail to reproduce the exact same error. What I did is:

[2019-02-09 09:27] serge-sans-paille commented on #1208
That's a different minor release though

[2019-02-11 08:37] serge-sans-paille commented on #1205
#1209 should fix the issue, can you confirm?

[2019-02-11 09:31] diorcety commented on #107
It can be usefull now that pythran supports Python 3

[2019-02-11 09:55] diorcety commented on #1181
Disabling extra optimizations solve this issue

[2019-02-11 10:00] diorcety commented on #1181
This is dead_code_elimination optimization

[2019-02-11 10:06] paugier commented on #107
Note that with [Transonic](https://bitbucket.org/fluiddyn/transonic/), it's already possible to use type annotations to use Pythran.

You can put anything in python type annotations, in particular, types defined with `typing` or `numpy` or even strings (so you can use something like `"float[:, :] or int[:, : ,:]"`, which works with Transonic).

However, there is only one "signature" with type anno

[2019-02-11 10:22] diorcety commented on #1181
The issue is: `b, _ = t`
Dead code elimination assume that `xx(t, a)` is pure because t has no argument_effect due to the tuple unpacking

[2019-02-11 10:33] serge-sans-paille commented on #1181
ok, that's an aliasing issue :-)

[2019-02-11 10:40] diorcety commented on #1181
I just found a fix if you want :)

[2019-02-11 10:41] serge-sans-paille commented on #1181
of course :-)

[2019-02-11 13:25] diorcety opened #1211 "String variable assign modify the original string content"
str operator= behaviour is not correct

[code]

[2019-02-11 17:08] jeanlaroche commented on #1205
I confirm, it's fixed with 1209!
Thanks!

[2019-02-12 01:25] ge-smile commented on #1206
Thanks for the fix!

[2019-02-13 01:12] ge-smile opened #1213 "Missing %, //, "+=", "-=" for NoneType"
Hi,

It seems we are also missing "%", "//", "+=" and "-=" inside NoneType.hpp. Do you mind take a look? Thanks a lot.

Best,
Alice

[2019-02-14 17:35] #1211 closed

[2019-02-15 22:31] #1205 closed

[2019-02-15 22:32] #1141 closed

[2019-02-16 07:44] serge-sans-paille commented on #1213
Sure!

[2019-02-17 08:42] #1213 closed

[2019-02-17 17:07] Chronum94 opened #1219 "OpenMP collapse support"
[code]

While running this I realized that pythran doesn't support the Openmp collapse clause. Would it be possible to implement collapse?

This is a fairly artificial test, but I'm just using it as a proof of concept.

[2019-02-18 13:56] Thierry-Dumont opened #1220 "Capsule : improve diagnostics..."
I recall our mails:

trapz(PyCapsule, float, float, int)

candidates are

trapz(float(float), float, float, int32)

[2019-02-21 19:39] ge-smile commented on #1213
Thanks for the fix!

[2019-02-21 20:00] jeanlaroche opened #1222 "Compilation error on dict that include int and array..."
This does not compile, but I don't know if that's expected:
[code]

[2019-02-21 23:32] jeanlaroche opened #1223 "np.append does not compile when appending a float to an array."
I get this compilation error
[code]
I suppose np.append hasn't been defined for the case where it appends a single float.

[2019-02-25 12:38] serge-sans-paille commented on #1222
What would be the type of `out`? string to ... int or array? we don't h ve union
type in pythran so yeah tht's rightfully unsupported :-)

[2019-02-25 16:37] jeanlaroche commented on #1222
OK Thanks! The only type of dict that's supported is the type that's supported in std I imagine, with a uniform type for both key and value. Thanks.

[2019-02-25 16:37] #1222 closed

[2019-02-26 19:34] #1220 closed

[2019-02-26 19:38] nbecker opened #1227 "compile failure (np.hstack?)"
https://gist.github.com/nbecker/654d3d83628439a8fe8f4a9cce3150ac

[2019-02-26 19:59] jeanlaroche commented on #1223
Confirmed fixed.

[2019-02-26 19:59] #1223 closed

[2019-02-26 20:19] nbecker commented on #1227
If I change hstack to np.append, I get a similar error
[code]
Perhaps append doesn't support appending a scalar to an array?

[2019-02-26 20:21] jeanlaroche commented on #1227
Appending scalar to array wasn't working up until today. You might want to get the latest and retry.

[2019-02-26 20:34] nbecker commented on #1227
I apologize, there was 1 error in the function signature.  The 4th argument should be complex, not float:
#pythran export cleanup(complex[:], complex[:], complex[:], complex, float)

However, it still doesn't compile unless I change the lines that used (originally hstack, now append), to:
            Wtmp = np.append (W, [pt])
...
           V = np.append(V, [pt])

That is, np.append (V, pt) does

[2019-02-26 20:44] nbecker commented on #1227
It appears that np.append still does not support append a scalar (or somehow I failed to update to latest)

[2019-02-26 20:49] nbecker commented on #1227
OK, if I update to the correct git branch then it does indeed compile!

[2019-02-26 20:49] #1227 closed

[2019-02-26 20:57] nbecker opened #1228 "np.setdiff1d not implemented"
setdiff1d is not implemented yet, I could use it

[2019-02-26 21:00] jeanlaroche commented on #1227
My bad, I forgot that it wasn't on master but on a fix branch...

[2019-02-28 14:36] nbecker opened #1229 "use of unitialized value"

[2019-02-28 14:40] nbecker commented on #1229
This code causes memory corruption

[code]
valgrind says:
[code]
Now if I uncomment the 1st print statement, the code runs normally :(

[code]
g++ (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)

[2019-02-28 14:43] nbecker commented on #1229
With the code above (with the single uncommented print) I get printed:
[0.235228        0        0        06.90753e-3106.90753e-310] 0.484901 6
which shows that "thresholds" has been corrupted

[2019-02-28 20:56] serge-sans-paille commented on #1229
@nbecker I don't fully understand why but #1230 fixes the issue on my side... can you confirm?

[2019-03-02 07:30] serge-sans-paille commented on #1229
@nbecker bug spotted and fixed (or so I think) by #1230 update

[2019-03-02 13:35] nbecker commented on #1229
#1230 seems to fix my issue, thanks!

[2019-03-02 19:16] #1229 closed

[2019-03-03 06:55] #1228 closed

[2019-03-03 07:04] serge-sans-paille commented on #1088
#1232 now does a proper syntax check, but I'm not closing the issue as I'd like to support that at some point.

[2019-03-03 13:42] nbecker commented on #1228
Might not be working correctly.  In my code, I get different results for these 2 lines, which should give the same result:

    for pt in np.setdiff1d(pts, W):
    for pt in (pt for pt in pts if pt not in W):

[2019-03-03 16:16] serge-sans-paille commented on #1228
Can you provide the values for pt and W?

[2019-03-03 22:53] nbecker commented on #1228
OK, it seems the reason for the different results is simply that the results are returned in a different order.  I don't know if there is any requirement on the order of the returned result.

In my test, I did:
A = [pt for pt in pts if pt not in W]
B = np.setdiff1d(pts, W)
if (set (A) != set (B)):
  print...

And nothing ever prints, so the sets are identical and the results must just be in a diff

[2019-03-04 06:43] #1060 closed

[2019-03-04 11:54] nbecker opened #1234 "key param to sorted"
while pythran can compile code like

```a = sorted(b)```

It doesn't support 'key' argument:
```            ordered_pts = sorted(eligible_pts, key=lambda p: abs(pts-p))```
[code]

[2019-03-04 12:58] serge-sans-paille commented on #1182
I falied to reproduce with the following sequence:

[code]

could you isolate the faulty .py file?

[2019-03-04 13:27] Dapid commented on #1182
The problem is with version 0.1.2, in particular with the file _load_data.py

If I download the .tar.gz from pypi and install it directly, I get the error. If I decompress it first, it works.

[2019-03-04 13:52] nbecker commented on #1228
I'm getting segfault in setdiff1d.  Not able to isolate it yet, but here's what gdb says:

Thread 1 "python3" received signal SIGSEGV, Segmentation fault.
(anonymous namespace)::pythonic::numpy::impl::set_difference_unique<std::complex<double>*, std::complex<double>*, std::complex<double>*> (
    result=0x5555568317c0, last2=<optimized out>, first2=<optimized out>, last1=0x5555565fe060, first1=0x5

[2019-03-04 14:01] nbecker commented on #1228
Additional info, if I set assume_unique, the code completes normally

[2019-03-04 15:10] Dapid commented on #1182
Bisect blames this commit:

https://github.com/serge-sans-paille/pythran/commit/7821f3abe2f822a8f88ee93925bb6f1b9e3b55aa

[2019-03-04 16:37] nbecker opened #1235 "append compile failure"
This code fails to compile, seems append is the issue.
pythran version is master and already has fix for append scalar.

https://gist.github.com/nbecker/50b30eebdade692c2986762e1746ca1b

[code]

[2019-03-05 20:09] #1234 closed

[2019-03-06 16:17] danFromTelAviv commented on #1130
I had to use

 `export LC_ALL='c.UTF-8'`

[2019-03-07 13:03] danFromTelAviv opened #1241 "python 3 error all over the place"
a small portion of the errors :
compile options: '-DENABLE_PYTHON_MODULE -D__PYTHRAN__=3 -DPYTHRAN_BLAS_BLAS -I/usr/local/lib/python3.5/dist-packages/pythran -I/usr/local/lib/python3.5/dist-packages/numpy/core/include -I/usr/local/include -I/usr/include -I/usr/include/python3.5m -c'
extra options: '-std=c++11 -fno-math-errno -w -fno-wrapv'
arm-linux-gnueabihf-gcc: build/pyeyeengine/calibration/aut

[2019-03-07 13:24] danFromTelAviv commented on #1241
https://cython.readthedocs.io/en/latest/src/userguide/numpy_pythran.html

[2019-03-07 19:03] #1235 closed

[2019-03-07 19:03] serge-sans-paille commented on #1235
Thanks for reporting o/

[2019-03-07 20:07] serge-sans-paille commented on #1241
This *may* be a pythran bug. Can you provide us with the original `.py` file being compiled? thanks!

[2019-03-09 20:10] Chronum94 opened #1242 "Improved pragma for optional args?"
Pythran currently supports optional arguments by explicitly exporting functions with the keyword/default arguments absent in the export pragma. This can lead to problems if there are many defaults for a function, which would then need explicit exports for every combination of given/not given keyword args.

A clean way of doing this (credit to serge for the formulation of this form) woulkd be:

[co

[2019-03-10 16:20] danFromTelAviv commented on #1241
it is propriety so unfortunately I can not...
However I can tell you that the same setup does compile with cython only if that helps. I can provide the setup file if that helps?

[2019-03-11 14:42] Chronum94 opened #1243 "[BUG] Possible bug in optional argument parsing"

[2019-03-15 16:19] jeanlaroche opened #1246 "int/float divide issue when using C++ code generated by pythran."
In python3, x=3/2 returns 1.5, but this isn't the case when doing the following.
Use this python code
[code]
put it in newBug.py and create C++ code using:
[code]
Then compile the following C++ code:
[code]
Using this command:
[code]

Then run test.exe.
You'll get an answer of 1, instead of 1.5 as you'd expect from python.
Of course, this makes sense, you're passing integers to __pythran_newBug::t

[2019-03-17 07:24] #1242 closed

[2019-03-17 08:47] serge-sans-paille commented on #1093
@diorcety ISTM that the issue if now fixed (by you) Can you confirm, and if so, close the issue? Thanks!

[2019-03-17 08:54] serge-sans-paille commented on #1243
I fail to preproduce on master + python3 :-/

[2019-03-17 08:58] serge-sans-paille commented on #1181
@diorcety the code now compiles fine, can you confirm and close the issue?

[2019-03-17 15:27] serge-sans-paille commented on #78
Bug no longer reproducible, hurray, consider it fixed :-)

[2019-03-17 15:27] #78 closed

[2019-03-17 17:48] Chronum94 commented on #1243
In file pythtest.py which gets compiled to pythtest.so:
[code]
File pythtest_driver.py:

[code]

I've used the old optional syntax with multiple exports. On running this with:
`pythran pythtest.py;python pythtest_driver.py` I get

[code]

[2019-03-18 08:45] diorcety commented on #1181
Yes it's good!

[2019-03-18 08:51] diorcety commented on #1093
Indeed this one is good, only #1185 remains

[2019-03-18 08:51] #1093 closed

[2019-03-18 09:31] #1181 closed

[2019-03-18 09:44] diorcety commented on #1219
What is the issue exactly? It seems to work on my side

[2019-03-18 15:48] jeanlaroche commented on #1246
fixed in https://github.com/serge-sans-paille/pythran/pull/1247

[2019-03-18 15:48] #1246 closed

[2019-03-18 22:56] Chronum94 commented on #1219
If you add the `collapse(2)` clause to the above loops, it should fail.

[2019-03-22 17:30] #339 closed

[2019-03-22 17:31] serge-sans-paille commented on #339
Fixed 4 years Later :-)

[2019-03-25 06:58] serge-sans-paille commented on #1219
#1250 should (finally!) fix this issue. We're getting closer to OpneMP3 support :-)

[2019-03-25 13:50] Chronum94 commented on #1219
I tried testing the new feature, but I don't have the bleeding edge gast version (0.2.2, I think?) since only 0.2.0 is on pip. Will be happy to test it as soon as I can.

[2019-03-27 10:17] Dapid opened #1251 "np.bincount broken on master"
#1249 breaks np.bincount on GCC-5. Here is a short reproducing example:

[code]

And the Travis logs for a slightly longer version:
int8: https://travis-ci.org/Dapid/test_travis/jobs/511931148
int32: https://travis-ci.org/Dapid/test_travis/jobs/511932347

And only on int8 for the shown example: https://travis-ci.org/Dapid/test_travis/jobs/511933665
The error is:

[code]

On my machine I have  GCC

[2019-03-27 19:29] jeanlaroche opened #1252 "Severe indexing bug x[[0,1,2,3],1]"
[code]
I'm not sure how long this has been broken, but the above code does not return the right values in pythran. if x = np.ones((10,2)) it should return array([1., 1., 1., 1.]) but the pythran version returns array([1., 1.])

[2019-03-27 21:41] serge-sans-paille commented on #1219
I just merged in #1250, can you confirm it fixes your issue?

[2019-03-27 21:43] serge-sans-paille commented on #1251
I'd try `sed -i - e 's/std::max/numpy::max/g' pythran/pythonic/numpy/bincount.hpp` does that work for you?

[2019-03-27 22:16] serge-sans-paille commented on #1251
#1253 should do the trick :-) Thanks for reporting o/

[2019-03-28 01:40] Chronum94 commented on #1219
Fixes issue. Beautiful!

[2019-03-28 18:18] jeanlaroche commented on #1252
I'm finding that the code above does not compile on fix/numpy-list-slicing
(in MacOS)

[2019-03-28 18:20] jeanlaroche commented on #1252
The unit test you added works because this:
[code]
does compile and work.
But not if the input array is passed as an argument apparently.

[2019-03-29 10:19] #1219 closed

[2019-03-29 14:51] ashwinvis opened #1255 "NEP-18 compatibility?"
As you may know there is NEP-18 being implemented on a provisional basis on `numpy>=1.16` which may become default by `numpy>=1.17`.

See https://www.numpy.org/neps/nep-0018-array-function-protocol.html

However if I turn this on with numpy==1.16.2, pythran cannot be imported:

[code]

[2019-03-29 18:33] #1251 closed

[2019-03-31 10:06] #1252 closed

[2019-03-31 17:39] diorcety opened #1257 "nan to none issue"
Can't compile the following code.
[code]

[2019-03-31 21:11] serge-sans-paille commented on #1257
Should now be fixed by #1256 update. Thanks for the quick feedback!

[2019-04-01 08:50] diorcety opened #1258 "None issue"
Type inference issue when using none

[code]

[2019-04-01 16:15] diorcety opened #1259 "omp private variable optimization issue"
During the optimization pythran remove j variable but don't remove from omp directive which create an issue
[code]

[2019-04-01 20:41] serge-sans-paille commented on #1173
@saidctb can you confirm #1260 somehow fixes your issue?

[2019-04-02 16:19] #1185 closed

[2019-04-02 16:19] #1258 closed

[2019-04-02 16:19] #1257 closed

[2019-04-02 18:46] #1173 closed

[2019-04-02 18:47] serge-sans-paille commented on #1136
The export line looks strange on this gist, you may have a 1D array indexed by a tuple of four elements?

[2019-04-02 19:13] nbecker commented on #1136
self_mins, self_maxs, self_deltas are 1d array whose lengths are the same as the number of dimensions of self_buckets.
So indexes will be a tuple of length (number of dimensions of self_buckets)
And finally self_buckets[index] will be an n-d array indexed by a length-n tuple, which is just an element of the array.

[2019-04-03 11:28] serge-sans-paille commented on #1243
Thanks for the test case, I can now reproduce o/

[2019-04-03 12:14] serge-sans-paille commented on #1243
I now understand the error: the first export maps to `pythtest(a)`, the second to `pythtest(a, b)` and the third to `pythtest(a, b, c)`.

There's currently no way for pythran to understand that you want the default value for `b`.

[2019-04-04 05:38] #1259 closed

[2019-04-04 20:13] diorcety opened #1264 "omp private variable optimization episode 2"
The next episode of #1259

[code]

`/tmp/tmpSSj7KT.cpp:66:43: error: use of undeclared identifier 'j'`

[2019-04-05 05:09] #411 closed

[2019-04-05 11:15] #1255 closed

[2019-04-08 08:21] #1264 closed

[2019-04-08 08:45] diorcety opened #1266 "NoneType with rvalue reference"
When compiling this code
[code]

I have the following issue:
`error: base specifier must name a class`

[2019-04-09 18:35] serge-sans-paille commented on #1266
I cannot reproduce your issue with master version :-/

[2019-04-09 18:45] serge-sans-paille commented on #1241
It would really help if you could provide a minimized reproducer. Doesn't matter if the code no longer makes sense as long as it chokes on pythran compilation.

Some random thoughts though : which version of pythran are you using? which c++ compiler is being used, and which version of the compiler is this?

[2019-04-09 18:52] danFromTelAviv commented on #1241
Thank you for getting back to me. I actually quit my job yesterday and I don't think I'll find time to look into this before I leave... I think I am using gcc - a very recent version - I updated recently. I am using python 3.5.1 I believe. If I get a chance I'll check and let you know exactly.

[2019-04-09 19:24] diorcety commented on #1266
clang40 ? c++/4.9 from my debian?

[2019-04-10 19:15] diorcety commented on #1266
Do you want a preprocessed file ?

[2019-04-10 19:49] serge-sans-paille commented on #1266
On Wed, Apr 10, 2019 at 12:15:25PM -0700, Diorcet Yann wrote:

the output of -E could help, yes

[2019-04-11 15:59] diorcety commented on #1266
http://dl.free.fr/m3vAUQ0O9

[2019-04-12 13:56] nbecker opened #1269 "Assertion error: Function path is chained attributes and name"
This little code snippet chokes pythran:

[code]
AssertionError: Function path is chained attributes and name

[2019-04-13 12:14] serge-sans-paille opened #1270 "Missing random distribution"
https://docs.scipy.org/doc/numpy/reference/routines.random.html#distributions lists random distribution supported by numpy. Several of them are not implemented in Pythonic (yet)!

[2019-04-19 14:40] serge-sans-paille commented on #1270
@paugier this one is reserved for your student!

[2019-04-21 07:50] paugier commented on #1270
Thank you @serge-sans-paille

CC @PierreBlancfat

[2019-04-23 17:21] diorcety commented on #1266
Do you need any other information?

[2019-04-23 19:54] serge-sans-paille commented on #1266
On Tue, Apr 23, 2019 at 05:21:23PM +0000, Diorcet Yann wrote:

Time, I need time :-)

[2019-04-24 06:54] diorcety commented on #1266
👍

[2019-04-24 12:43] serge-sans-paille commented on #1266
I can reproduce the issue with the preprocessed file, thanks a bunch!

[2019-04-25 19:53] serge-sans-paille commented on #1269
I can reproduce the issue, thanks for reporting!

[2019-04-26 06:09] #1266 closed

[2019-04-27 12:00] #1269 closed

[2019-04-27 17:30] serge-sans-paille commented on #1182
Bug spotted. It's not something I plan to deal with as of now: cpp file generated by version 0.x are not necessarily compatible with the header files from version 0.y. The fix would be to enforce the pythran version in the requirements... I'll still submit a patch to properly inform the user about the issue.

[2019-04-28 05:45] serge-sans-paille commented on #1182
Behavior speicifed in c93d76e3847a3f1d288070e379ee386c57274aa2, closing the issue.

[2019-04-28 05:45] #1182 closed

[2019-04-29 05:07] #1142 closed

[2019-04-29 11:42] diorcety opened #1277 "Regression on master"
The following code doesn't compile anymore. Using the second str_commands assign make the code compiles

[code]

[2019-05-01 06:08] #1277 closed

[2019-05-06 18:48] jeanlaroche opened #1284 "Compilation error in 0.9.2 (regression, I believe)."
This does not compile...
[code]

[2019-05-08 15:56] jeanlaroche commented on #1284
Confirmed fixed! Thanks a bunch

[2019-05-08 15:56] #1284 closed

[2019-05-08 17:30] jeanlaroche opened #1286 "Issue in calling pythran C++ code from C++ code"
This was working in pythran 0.9.0 is no longer working in 0.9.2.
If Y is initialized to be empty, things don't work (there's an assert at run time)
If Y is initialized with 1 value, everything works just fine.
Python code:
[code]

Calling C++ code:
[code]

[2019-05-08 18:26] jeanlaroche commented on #1286
Another workaround is:
[code]
instead of
[code]

[2019-05-08 20:10] jeanlaroche opened #1287 "Wrong return size when two paths can return different arrays"
This is a regression from 0.9.0
The code below compiles, but does not run right.
test(20) should return a 20 element array, but it does not, it return a 2 element array (with the "correct" values in it, from np.arange() but the size is truncated to two
[code]

[2019-05-08 20:13] jeanlaroche commented on #1287
Again, a workaround is this:
[code]
Any try that prevent pythran from assuming a compile-time known shape for the output...

[2019-05-08 20:36] jeanlaroche commented on #1286
I think this bug is related to https://github.com/serge-sans-paille/pythran/issues/1287

[2019-05-10 17:34] serge-sans-paille commented on #1286
[code]
This creates an array of type «ndarray<long, pshape<integral_constant, 0>> » which is correct wrt to pythran knowledge, but problematic for you!

If you were using a dynamic value like this

[code]

pythran could not infer such a specialized type.

[2019-05-10 17:36] jeanlaroche commented on #1286
Thanks for clarifying.

[2019-05-10 18:47] #1286 closed

[2019-05-13 13:48] diorcety opened #1292 "isnan with integer doesn't compile on Windows"
[code]

[code]

[2019-05-13 17:41] rorroiga opened #1293 "Pythran Generated Code is Taking all RAM Memory (18 GB before process been killed)"
Hi,

I'm having an issue with a pythran code that takes normalley 120 MB when using only Python, but "infinite" memory when using the code generated by Pythran.

I have simplified my code for posting it here, but the issue is still present.

I have attached two files that reproduce the pythran code generated problem, one that defines the functions and another with the main.

[code]

[code]

Thank

[2019-05-14 19:13] serge-sans-paille commented on #1293
Thanks for reporting! I'm trying to reproduce... which version of pythran are you using?

[2019-05-14 19:21] serge-sans-paille commented on #1293
There are strong chances that this bug got fixed in 0.9.2, probably by e20183c2faffbc9f1e328e9fb31c794562ab980c. At least I don't reproduce with master.

[2019-05-15 16:44] rorroiga commented on #1293
Hi Serge,

I'm using the following versions:

- numpy-1.16.2
- commpy-0.3.0
- gcc-7.2.0
- pythran-0.9.0

I will check with version 0.9.2 of pythran to see if this is solved.

Best Regards,
Rodrigo Iga.

[2019-05-15 18:39] rorroiga commented on #1293
Hi,

I just test again with version 0.9.2, and the problem has been solved.

I'm really sorry for this lapse. Now I see the importance of switching from version 0.9.0 to the 0.9.2 .

Thank you very much.

Best Regards,
Rodrigo Iga.

[2019-05-15 18:39] #1293 closed

[2019-05-16 15:55] diorcety commented on #990
[MS report](https://developercommunity.visualstudio.com/content/problem/571058/error-c2672-operator-surrogate-func-no-matching-ov.html) and simplier reproducer
[code]

[2019-06-03 09:19] jeffwitz commented on #1095
for fft2, normally performing two FFT works well, but it is efficient on big data, that's why there are a lot of hacks in FFTW in order to deal differently with the different sizes of matrix or vectors.
FFT_image=: fft(fft(Image).T).T

[2019-06-04 19:05] serge-sans-paille commented on #1292
Closed by #1294 , thanks Yann!

[2019-06-04 19:05] #1292 closed

[2019-06-04 19:08] serge-sans-paille commented on #875
#1296 introduces a solution to this: depend on the ``pythran-openblas`` package which ships a static version of openblas. Eventually this is going to solve your issue (and to be the default for windows)

[2019-06-05 04:49] Chronum94 opened #1302 "OpenMP use without pragmas?"
File `cubeimpl.py`:
[code]
Compiled with:
`pythran cubeimpl.py -fopenmp -Ofast -DUSE_XSIMD`

Timed in an Ipython QtConsole in the same directory as the compiled module, with:
[code]

Timing results:
[code]

When compiled with:
`pythran cubeimpl.py -Ofast -DUSE_XSIMD`

Timing results:
[code]

This happens even if I `export OMP_NUM_THREADS=1` in terminal before running the pythran module. There are

[2019-06-05 06:16] serge-sans-paille commented on #1302
There are implict pragmas for some numpy expression. I'm unsure that's a nice feature, but at least it explains the behavior.